In [1]:
import pandas as pd
import numpy as np
import os
import gc

PATH = '/home/kai/data/kaggle/homecredit/'

train = pd.read_csv(PATH + 'application_train.csv')
test = pd.read_csv(PATH + 'application_test.csv')
'done'

'done'

In [2]:
df = pd.concat([train,test], axis = 0, sort = False)

# Factorize

In [3]:
categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY'] + categorical_columns:
    print(bin_feature)
    df[bin_feature], uniques = pd.factorize(df[bin_feature])

CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
OCCUPATION_TYPE
WEEKDAY_APPR_PROCESS_START
ORGANIZATION_TYPE
FONDKAPREMONT_MODE
HOUSETYPE_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE

In [4]:
def minus_name(col1, col2): return col1 + '_minus_' + col2
def minus(df, col1, col2): return df[col1] - df[col2]

def ratio_name(col1, col2): return col1 + '_divide_' + col2
def ratio(df, col1, col2): return df[col1] / df[col2]

def multiply_name(col1, col2): return col1 + '_times_' + col2
def multiply(df, col1, col2): return df[col1] * df[col2]

def positive_count(df, gp_col, col):
    group = (df[col] > 0).astype('int8')
    group = pd.concat([df[gp_col], group], axis=1).groupby(gp_col)[[col]].sum().reset_index().rename(index=str, columns={col: 'positivecount_'+'_'.join([gp_col, col])})
    return group.astype({gp_col: df[gp_col].dtype})

def count(df, gp_col, col):
    group = df[[gp_col,col]].groupby(gp_col)[[col]].count().reset_index().rename(index=str, columns={col:'count_'+gp_col})
    return group.astype({gp_col: df[gp_col].dtype})

def numerical(df, gp_col, col, agg_fun):
    _df = df.groupby(gp_col)[[col]].agg(agg_fun)
    
    columns = []
    for x in _df.columns.levels[0]:
        for y in _df.columns.levels[1]:
            columns.append('_'.join([x, y]))
    _df.columns = columns
    return _df.reset_index().astype({gp_col: df[gp_col].dtype})

def one_hot(df, gp_col, col):
    return pd.concat([df[gp_col], pd.get_dummies(df[col], prefix='onehot_' + col)], axis=1).groupby(gp_col).sum().reset_index().astype({gp_col: df[gp_col].dtype})

'done'

'done'

# AREA

In [5]:
print(df.shape)
l = ['APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG',
       'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
       'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE',
       'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE',
       'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
       'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI',
       'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI',
       'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

(356255, 122)

In [6]:
x = df[l]
x.fillna(0 , inplace = True)
df[l] = x

/home/kai/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3787: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [7]:
area = ['APARTMENTS','BASEMENTAREA', 'COMMONAREA','LANDAREA', 'LIVINGAPARTMENTS','LIVINGAREA',\
           'NONLIVINGAPARTMENTS', 'NONLIVINGAREA']

for x in ['_AVG', '_MODE', '_MEDI']:
    tmp = [y + x for y in area]
    print(tmp)
    df['livingsum' + x] = df[tmp].sum(axis=1)

['APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'COMMONAREA_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG']
['APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'COMMONAREA_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE']
['APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'COMMONAREA_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI']

In [8]:
df.shape

(356255, 125)

In [9]:
df[['APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'COMMONAREA_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG']]

,APARTMENTS_AVG,BASEMENTAREA_AVG,COMMONAREA_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG
0,0.0247,0.0369,0.0143,0.0369,0.0202,0.0190,0.0000,0.0000
1,0.0959,0.0529,0.0605,0.0130,0.0773,0.0549,0.0039,0.0098
2,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
4,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
5,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
6,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
7,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
8,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
9,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
10,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
11,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
12,0.0825,0.0000,0.0000,0.0135,0.0000,0.0778,0.0000,0.0000
13,0.1474,0.0973,0.0582,0.0931,0.1202,0.1397,0.0000,0.0000
14,0.3495,0.1335,0.1143,0.1758,0.2849,0.3774,0.0193,0.1001
15,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
16,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
17,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
18,0.0278,0.0617,0.0018,0.0279,0.0227,0.0290,0.0000,0.0000
19,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
20,0.0722,0.0801,0.0000,0.0534,0.0588,0.0619,0.0000,0.0000
21,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
22,0.0907,0.0795,0.0120,0.0898,0.0723,0.0873,0.0077,0.0044
23,0.1443,0.0848,0.1064,0.2371,0.1173,0.1484,0.0019,0.0007
24,0.1433,0.1455,0.0212,0.0861,0.1168,0.1217,0.0000,0.0043
25,0.0722,0.0147,0.0010,0.0498,0.0588,0.0670,0.0000,0.0000
26,0.0165,0.0089,0.0000,0.0265,0.0000,0.0094,0.0000,0.0000
27,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
28,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
29,0.1505,0.0838,0.0188,0.0872,0.1210,0.1412,0.0077,0.0061
...,...,...,...,...,...,...,...,...
48714,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48715,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48716,0.1134,0.0548,0.0391,0.0127,0.0000,0.0457,0.0000,0.0000
48717,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48718,0.1515,0.1375,0.0078,0.1029,0.1236,0.1179,0.0000,0.0197
48719,0.0928,0.0965,0.0036,0.1207,0.0714,0.0580,0.0193,0.0329
48720,0.0804,0.0000,0.0084,0.0620,0.0639,0.0601,0.0077,0.0176
48721,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48722,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48723,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48724,0.0943,0.0555,0.0256,0.0377,0.0756,0.0526,0.0058,0.0117
48725,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48726,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48727,0.0742,0.0512,0.0192,0.0560,0.0605,0.0820,0.0000,0.0000
48728,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48729,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48730,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48731,0.0578,0.0445,0.0335,0.0560,0.0725,0.0511,0.0030,0.0058
48732,0.0000,0.0845,0.0334,0.0191,0.0471,0.0524,0.0000,0.0539
48733,0.0258,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0063
48734,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48735,0.1938,0.1218,0.0498,0.1296,0.1580,0.2023,0.0154,0.0226
48736,0.0433,0.0527,0.0083,0.0368,0.0353,0.0422,0.0000,0.0024
48737,0.1216,0.0000,0.0000,0.0000,0.0000,0.1532,0.0000,0.0000
48738,0.0227,0.0000,0.0000,0.0000,0.0000,0.0171,0.0000,0.0000
48739,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48740,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
48741,0.1113,0.1364,0.0000,0.0000,0.0000,0.1383,0.0000,0.0542
48742,0.1629,0.0723,0.0000,0.0000,0.0000,0.1563,0.0000,0.1490
48743,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

# 1. Do the ratio wrt to count of family members & living area

In [10]:
# 1. Ratio of count of family members(for members less than 4) and living area

In [11]:
members_series = df.CNT_FAM_MEMBERS < 4

area_list = ['livingsum_AVG','livingsum_MODE','livingsum_MEDI']

In [12]:
df['members'] = np.nan

df['members'].loc[members_series] = df['CNT_FAM_MEMBERS'].loc[members_series]

for col in area_list:
    df[ratio_name(col, 'members')] = ratio(df, col, 'members')
    print(ratio_name(col, 'members'))
    
df.drop('members', inplace = True,axis = 1)

/home/kai/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

livingsum_AVG_divide_members
livingsum_MODE_divide_members
livingsum_MEDI_divide_members

In [13]:
df.shape

(356255, 128)

In [14]:
df['livingsum_AVG_divide_members'].head()

0    0.1520
1    0.1841
2    0.0000
3    0.0000
4    0.0000
Name: livingsum_AVG_divide_members, dtype: float64

# 2. Multiply area rating & living area

In [15]:
# def multiply_name(col1, col2): return col1 + '_times_' + col2
# def multiply(df, col1, col2): return df[col1] * df[col2]

In [16]:
rating = ['REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY']
area_list = ['livingsum_AVG','livingsum_MODE','livingsum_MEDI']
for i in rating:
    for j in area_list:
        df[multiply_name(i, j)] = multiply(df, i, i)
        print(multiply_name(i, j))

REGION_RATING_CLIENT_times_livingsum_AVG
REGION_RATING_CLIENT_times_livingsum_MODE
REGION_RATING_CLIENT_times_livingsum_MEDI
REGION_RATING_CLIENT_W_CITY_times_livingsum_AVG
REGION_RATING_CLIENT_W_CITY_times_livingsum_MODE
REGION_RATING_CLIENT_W_CITY_times_livingsum_MEDI

In [17]:
df.shape

(356255, 134)

# Do the ratio wrt to amt-dpd and region-population

In [18]:
obs = ['OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE']
pop = ['REGION_POPULATION_RELATIVE']

In [19]:
for col in obs:
    df[ratio_name(col, 'REGION_POPULATION_RELATIVE')] = ratio(df, col, 'REGION_POPULATION_RELATIVE')
    print(ratio_name(col, 'REGION_POPULATION_RELATIVE'))

OBS_30_CNT_SOCIAL_CIRCLE_divide_REGION_POPULATION_RELATIVE
DEF_30_CNT_SOCIAL_CIRCLE_divide_REGION_POPULATION_RELATIVE
OBS_60_CNT_SOCIAL_CIRCLE_divide_REGION_POPULATION_RELATIVE
DEF_60_CNT_SOCIAL_CIRCLE_divide_REGION_POPULATION_RELATIVE

In [20]:
df[['OBS_30_CNT_SOCIAL_CIRCLE_divide_REGION_POPULATION_RELATIVE']]

       OBS_30_CNT_SOCIAL_CIRCLE_divide_REGION_POPULATION_RELATIVE
0                                             106.377320
1                                             282.406100
2                                               0.000000
3                                             249.407657
4                                               0.000000
5                                               0.000000
6                                              27.939204
7                                             640.614990
8                                              53.665343
9                                             101.579562
10                                              0.000000
11                                              0.000000
12                                              0.000000
13                                              0.000000
14                                              0.000000
15                                              0.000000
16                                              0.000000
17                                            364.763815
18                                            173.085244
19                                              0.000000
20                                              0.000000
21                                              0.000000
22                                              0.000000
23                                              0.000000
24                                             37.890270
25                                              0.000000
26                                            554.661934
27                                            104.706560
28                                              0.000000
29                                              0.000000
...                                                  ...
48714                                          96.557717
48715                                          27.939204
48716                                         121.506683
48717                                           0.000000
48718                                          55.878409
48719                                         598.086124
48720                                           0.000000
48721                                         279.392043
48722                                         109.835795
48723                                         170.896351
48724                                           0.000000
48725                                           0.000000
48726                                           0.000000
48727                                           0.000000
48728                                         119.217930
48729                                           0.000000
48730                                           0.000000
48731                                           0.000000
48732                                           0.000000
48733                                          27.939204
48734                                         119.217930
48735                                          81.267777
48736                                           0.000000
48737                                         113.670809
48738                                           0.000000
48739                                         489.715965
48740                                          55.878409
48741                                           0.000000
48742                                           0.000000
48743                                           0.000000

[356255 rows x 1 columns]

In [21]:
df.shape

(356255, 138)

# DEF/OBS & 60/30

In [22]:
obs_30 = ['OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE']
obs_60 = ['OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE']

In [23]:
for i in obs_60:
    for j in obs_30:
        print(ratio_name(i,j))
        df[ratio_name(i,j)] = ratio(df, i, j)

OBS_60_CNT_SOCIAL_CIRCLE_divide_OBS_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE_divide_DEF_30_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE_divide_OBS_30_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE_divide_DEF_30_CNT_SOCIAL_CIRCLE

In [24]:
df.shape

(356255, 142)

In [25]:
default = ['DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE']
obs = ['OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE']

In [26]:
for i in default:
    for j in obs:
        print(ratio_name(i,j))
        df[ratio_name(i,j)] = ratio(df, i, j)
        print(df.shape)

DEF_30_CNT_SOCIAL_CIRCLE_divide_OBS_30_CNT_SOCIAL_CIRCLE
(356255, 143)
DEF_30_CNT_SOCIAL_CIRCLE_divide_OBS_60_CNT_SOCIAL_CIRCLE
(356255, 144)
DEF_60_CNT_SOCIAL_CIRCLE_divide_OBS_30_CNT_SOCIAL_CIRCLE
(356255, 144)
DEF_60_CNT_SOCIAL_CIRCLE_divide_OBS_60_CNT_SOCIAL_CIRCLE
(356255, 145)

# Flag(besides documents)

In [27]:
flag_other = [col for col in train.columns.values if 'FLAG' in col and 'DOCUMENT' not in col]

# Combine phone columns, and count how many flags

In [28]:
df[['FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE']].isnull().sum()

FLAG_MOBIL          0
FLAG_EMP_PHONE      0
FLAG_WORK_PHONE     0
FLAG_CONT_MOBILE    0
FLAG_PHONE          0
dtype: int64

In [29]:
df['CONTACT'] = df[['FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE','FLAG_EMAIL']].sum(axis = 1)

df.drop(['FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE'], axis = 1, inplace = True)

In [30]:
df['FLAG_OTHER'] = df[['FLAG_OWN_CAR',
 'FLAG_OWN_REALTY']].sum(axis = 1)

In [31]:
set(df['FLAG_OTHER'].values)

{0, 1, 2}

In [32]:
df.shape

(356255, 142)

In [33]:
# x = df.copy()
# x[['AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
#        'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
#        'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']].dropna(inplace = True)

In [34]:
# Train weighted sum of inq
df['req_total'] = df['AMT_REQ_CREDIT_BUREAU_HOUR'] +\
                        df['AMT_REQ_CREDIT_BUREAU_DAY']*0.9+\
                        df['AMT_REQ_CREDIT_BUREAU_WEEK']*0.8+\
                        df['AMT_REQ_CREDIT_BUREAU_MON']*0.7+\
                        df['AMT_REQ_CREDIT_BUREAU_QRT']*0.6+\
                        df['AMT_REQ_CREDIT_BUREAU_YEAR']*0.5

In [35]:
df.shape

(356255, 143)

# Other Ratios:

In [36]:
can_be_numerator = [x for x in train.columns if 'AMT' in x] + ['OWN_CAR_AGE', 'DAYS_LAST_PHONE_CHANGE']
can_be_denominator = [x for x in train.columns if 'CNT' in x or 'DAYS' in x] + can_be_numerator

print(len(can_be_numerator),can_be_numerator)
print(len(can_be_denominator),can_be_denominator)

12 ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'OWN_CAR_AGE', 'DAYS_LAST_PHONE_CHANGE']
23 ['CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'CNT_FAM_MEMBERS', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'OWN_CAR_AGE', 'DAYS_LAST_PHONE_CHANGE']

In [37]:
i = 0
for x in can_be_numerator:
    for y in can_be_denominator:
        if y != x and ratio_name(y,x) not in df.columns:
            i += 1
            print(ratio_name(x,y))
            df[ratio_name(x, y)] = ratio(df, x, y)
print(i, df.shape)

AMT_INCOME_TOTAL_divide_CNT_CHILDREN
AMT_INCOME_TOTAL_divide_DAYS_BIRTH
AMT_INCOME_TOTAL_divide_DAYS_EMPLOYED
AMT_INCOME_TOTAL_divide_DAYS_REGISTRATION
AMT_INCOME_TOTAL_divide_DAYS_ID_PUBLISH
AMT_INCOME_TOTAL_divide_CNT_FAM_MEMBERS
AMT_INCOME_TOTAL_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_INCOME_TOTAL_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_INCOME_TOTAL_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_INCOME_TOTAL_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_INCOME_TOTAL_divide_DAYS_LAST_PHONE_CHANGE
AMT_INCOME_TOTAL_divide_AMT_CREDIT
AMT_INCOME_TOTAL_divide_AMT_ANNUITY
AMT_INCOME_TOTAL_divide_AMT_GOODS_PRICE
AMT_INCOME_TOTAL_divide_AMT_REQ_CREDIT_BUREAU_HOUR
AMT_INCOME_TOTAL_divide_AMT_REQ_CREDIT_BUREAU_DAY
AMT_INCOME_TOTAL_divide_AMT_REQ_CREDIT_BUREAU_WEEK
AMT_INCOME_TOTAL_divide_AMT_REQ_CREDIT_BUREAU_MON
AMT_INCOME_TOTAL_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_INCOME_TOTAL_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_INCOME_TOTAL_divide_OWN_CAR_AGE
AMT_INCOME_TOTAL_divide_DAYS_LAST_PHONE_CHANGE
AMT_CREDIT_divide_CNT_CHILDREN
AMT_CREDIT_divide_DAYS_BIRTH
AMT_CREDIT_divide_DAYS_EMPLOYED
AMT_CREDIT_divide_DAYS_REGISTRATION
AMT_CREDIT_divide_DAYS_ID_PUBLISH
AMT_CREDIT_divide_CNT_FAM_MEMBERS
AMT_CREDIT_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_CREDIT_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_CREDIT_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_CREDIT_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_CREDIT_divide_DAYS_LAST_PHONE_CHANGE
AMT_CREDIT_divide_AMT_ANNUITY
AMT_CREDIT_divide_AMT_GOODS_PRICE
AMT_CREDIT_divide_AMT_REQ_CREDIT_BUREAU_HOUR
AMT_CREDIT_divide_AMT_REQ_CREDIT_BUREAU_DAY
AMT_CREDIT_divide_AMT_REQ_CREDIT_BUREAU_WEEK
AMT_CREDIT_divide_AMT_REQ_CREDIT_BUREAU_MON
AMT_CREDIT_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_CREDIT_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_CREDIT_divide_OWN_CAR_AGE
AMT_CREDIT_divide_DAYS_LAST_PHONE_CHANGE
AMT_ANNUITY_divide_CNT_CHILDREN
AMT_ANNUITY_divide_DAYS_BIRTH
AMT_ANNUITY_divide_DAYS_EMPLOYED
AMT_ANNUITY_divide_DAYS_REGISTRATION
AMT_ANNUITY_divide_DAYS_ID_PUBLISH
AMT_ANNUITY_divide_CNT_FAM_MEMBERS
AMT_ANNUITY_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_ANNUITY_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_ANNUITY_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_ANNUITY_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_ANNUITY_divide_DAYS_LAST_PHONE_CHANGE
AMT_ANNUITY_divide_AMT_GOODS_PRICE
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_HOUR
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_WEEK
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_MON
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_ANNUITY_divide_OWN_CAR_AGE
AMT_ANNUITY_divide_DAYS_LAST_PHONE_CHANGE
AMT_GOODS_PRICE_divide_CNT_CHILDREN
AMT_GOODS_PRICE_divide_DAYS_BIRTH
AMT_GOODS_PRICE_divide_DAYS_EMPLOYED
AMT_GOODS_PRICE_divide_DAYS_REGISTRATION
AMT_GOODS_PRICE_divide_DAYS_ID_PUBLISH
AMT_GOODS_PRICE_divide_CNT_FAM_MEMBERS
AMT_GOODS_PRICE_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_GOODS_PRICE_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_GOODS_PRICE_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_GOODS_PRICE_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_GOODS_PRICE_divide_DAYS_LAST_PHONE_CHANGE
AMT_GOODS_PRICE_divide_AMT_REQ_CREDIT_BUREAU_HOUR
AMT_GOODS_PRICE_divide_AMT_REQ_CREDIT_BUREAU_DAY
AMT_GOODS_PRICE_divide_AMT_REQ_CREDIT_BUREAU_WEEK
AMT_GOODS_PRICE_divide_AMT_REQ_CREDIT_BUREAU_MON
AMT_GOODS_PRICE_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_GOODS_PRICE_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_GOODS_PRICE_divide_OWN_CAR_AGE
AMT_GOODS_PRICE_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_HOUR_divide_CNT_CHILDREN
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DAYS_BIRTH
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DAYS_EMPLOYED
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DAYS_REGISTRATION
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DAYS_ID_PUBLISH
AMT_REQ_CREDIT_BUREAU_HOUR_divide_CNT_FAM_MEMBERS
AMT_REQ_CREDIT_BUREAU_HOUR_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_HOUR_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_HOUR_divide_AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_HOUR_divide_AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_HOUR_divide_AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_HOUR_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_HOUR_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_REQ_CREDIT_BUREAU_HOUR_divide_OWN_CAR_AGE
AMT_REQ_CREDIT_BUREAU_HOUR_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_DAY_divide_CNT_CHILDREN
AMT_REQ_CREDIT_BUREAU_DAY_divide_DAYS_BIRTH
AMT_REQ_CREDIT_BUREAU_DAY_divide_DAYS_EMPLOYED
AMT_REQ_CREDIT_BUREAU_DAY_divide_DAYS_REGISTRATION
AMT_REQ_CREDIT_BUREAU_DAY_divide_DAYS_ID_PUBLISH
AMT_REQ_CREDIT_BUREAU_DAY_divide_CNT_FAM_MEMBERS
AMT_REQ_CREDIT_BUREAU_DAY_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_DAY_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_DAY_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_DAY_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_DAY_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_DAY_divide_AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_DAY_divide_AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_DAY_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_DAY_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_REQ_CREDIT_BUREAU_DAY_divide_OWN_CAR_AGE
AMT_REQ_CREDIT_BUREAU_DAY_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_WEEK_divide_CNT_CHILDREN
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DAYS_BIRTH
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DAYS_EMPLOYED
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DAYS_REGISTRATION
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DAYS_ID_PUBLISH
AMT_REQ_CREDIT_BUREAU_WEEK_divide_CNT_FAM_MEMBERS
AMT_REQ_CREDIT_BUREAU_WEEK_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_WEEK_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_WEEK_divide_AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_WEEK_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_WEEK_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_REQ_CREDIT_BUREAU_WEEK_divide_OWN_CAR_AGE
AMT_REQ_CREDIT_BUREAU_WEEK_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_MON_divide_CNT_CHILDREN
AMT_REQ_CREDIT_BUREAU_MON_divide_DAYS_BIRTH
AMT_REQ_CREDIT_BUREAU_MON_divide_DAYS_EMPLOYED
AMT_REQ_CREDIT_BUREAU_MON_divide_DAYS_REGISTRATION
AMT_REQ_CREDIT_BUREAU_MON_divide_DAYS_ID_PUBLISH
AMT_REQ_CREDIT_BUREAU_MON_divide_CNT_FAM_MEMBERS
AMT_REQ_CREDIT_BUREAU_MON_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_MON_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_MON_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_MON_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_MON_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_MON_divide_AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_MON_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_REQ_CREDIT_BUREAU_MON_divide_OWN_CAR_AGE
AMT_REQ_CREDIT_BUREAU_MON_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_QRT_divide_CNT_CHILDREN
AMT_REQ_CREDIT_BUREAU_QRT_divide_DAYS_BIRTH
AMT_REQ_CREDIT_BUREAU_QRT_divide_DAYS_EMPLOYED
AMT_REQ_CREDIT_BUREAU_QRT_divide_DAYS_REGISTRATION
AMT_REQ_CREDIT_BUREAU_QRT_divide_DAYS_ID_PUBLISH
AMT_REQ_CREDIT_BUREAU_QRT_divide_CNT_FAM_MEMBERS
AMT_REQ_CREDIT_BUREAU_QRT_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_QRT_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_QRT_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_QRT_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_QRT_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_QRT_divide_AMT_REQ_CREDIT_BUREAU_YEAR
AMT_REQ_CREDIT_BUREAU_QRT_divide_OWN_CAR_AGE
AMT_REQ_CREDIT_BUREAU_QRT_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_YEAR_divide_CNT_CHILDREN
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DAYS_BIRTH
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DAYS_EMPLOYED
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DAYS_REGISTRATION
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DAYS_ID_PUBLISH
AMT_REQ_CREDIT_BUREAU_YEAR_divide_CNT_FAM_MEMBERS
AMT_REQ_CREDIT_BUREAU_YEAR_divide_OBS_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DEF_30_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_YEAR_divide_OBS_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DEF_60_CNT_SOCIAL_CIRCLE
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DAYS_LAST_PHONE_CHANGE
AMT_REQ_CREDIT_BUREAU_YEAR_divide_OWN_CAR_AGE
AMT_REQ_CREDIT_BUREAU_YEAR_divide_DAYS_LAST_PHONE_CHANGE
OWN_CAR_AGE_divide_CNT_CHILDREN
OWN_CAR_AGE_divide_DAYS_BIRTH
OWN_CAR_AGE_divide_DAYS_EMPLOYED
OWN_CAR_AGE_divide_DAYS_REGISTRATION

OWN_CAR_AGE_divide_DAYS_ID_PUBLISH
OWN_CAR_AGE_divide_CNT_FAM_MEMBERS
OWN_CAR_AGE_divide_OBS_30_CNT_SOCIAL_CIRCLE
OWN_CAR_AGE_divide_DEF_30_CNT_SOCIAL_CIRCLE
OWN_CAR_AGE_divide_OBS_60_CNT_SOCIAL_CIRCLE
OWN_CAR_AGE_divide_DEF_60_CNT_SOCIAL_CIRCLE
OWN_CAR_AGE_divide_DAYS_LAST_PHONE_CHANGE
OWN_CAR_AGE_divide_DAYS_LAST_PHONE_CHANGE
DAYS_LAST_PHONE_CHANGE_divide_CNT_CHILDREN
DAYS_LAST_PHONE_CHANGE_divide_DAYS_BIRTH
DAYS_LAST_PHONE_CHANGE_divide_DAYS_EMPLOYED
DAYS_LAST_PHONE_CHANGE_divide_DAYS_REGISTRATION
DAYS_LAST_PHONE_CHANGE_divide_DAYS_ID_PUBLISH
DAYS_LAST_PHONE_CHANGE_divide_CNT_FAM_MEMBERS
DAYS_LAST_PHONE_CHANGE_divide_OBS_30_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE_divide_DEF_30_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE_divide_OBS_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE_divide_DEF_60_CNT_SOCIAL_CIRCLE
197 (356255, 329)

# Cat Features

In [38]:
cat_feats = ['NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','NAME_TYPE_SUITE',
    'NAME_INCOME_TYPE','NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'FLAG_EMAIL', 'OCCUPATION_TYPE',
    'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
    'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
    'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
    'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
    'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19',
    'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21','WEEKDAY_APPR_PROCESS_START', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 
    'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'
]

#'FLAG_MOBIL' 'FLAG_EMP_PHONE' 'FLAG_WORK_PHONE' 'FLAG_CONT_MOBILE'\n 'FLAG_PHONE'
df.drop(cat_feats, inplace = True, axis = 1)
print(df.shape)

train = df[df['TARGET'].notnull()]
test = df[df['TARGET'].isnull()]
print(train.shape,test.shape)

test.drop('TARGET', axis = 1, inplace = True)
test.shape

(356255, 287)
(307511, 287) (48744, 287)

/home/kai/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(48744, 286)

In [39]:
train_ext = pd.read_pickle(PATH+ 'inter/ext_linear.pkl')
# test_mean = pd.read_pickle(PATH + 'inter/test_mean.pkl')
test_ext = pd.DataFrame()

In [40]:
train = pd.concat([train, train_ext], axis = 1)

test = pd.concat([test, test_ext], axis = 1)

In [41]:
train.to_pickle(PATH + 'inter/06_22_train_mean.pkl')
test.to_pickle(PATH + 'inter/06_22_test_mean.pkl')

In [42]:
train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,DAYS_LAST_PHONE_CHANGE_divide_DAYS_REGISTRATION,DAYS_LAST_PHONE_CHANGE_divide_DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE_divide_CNT_FAM_MEMBERS,DAYS_LAST_PHONE_CHANGE_divide_OBS_30_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE_divide_DEF_30_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE_divide_OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE_divide_DEF_60_CNT_SOCIAL_CIRCLE,EXT_SOURCE_PRED_1,EXT_SOURCE_PRED_2,EXT_SOURCE_PRED_3
0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0.310855,0.534906,-1134.0,-567.000000,-567.000000,-567.000000,-567.000000,0.184694,0.434859,0.417202
1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0.698145,2.845361,-414.0,-828.000000,-inf,-828.000000,-inf,0.652030,0.603857,0.520355
2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0.191315,0.322007,-815.0,-inf,-inf,-inf,-inf,0.550152,0.505275,0.542312
3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0.062748,0.253180,-308.5,-308.500000,-inf,-308.500000,-inf,0.646242,0.502573,0.576674
4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0.256553,0.319838,-1106.0,-inf,-inf,-inf,-inf,0.532783,0.496964,0.564171