In [8]:
import pandas as pd
import numpy as np
import gc
import sys
sys.path.append('../../../../automl/automl_libs')
import utils

In [2]:
df = pd.DataFrame({'device':[1,2,1,3,5,3,2,5,3,2],'os':[1,4,5,2,3,4,1,2,4,3],'app':[3,4,2,5,1,3,2,1,5,4]})

In [14]:
df.reset_index(inplace=True)

In [15]:
df

   index  device  os  app
0      0       1   1    3
1      1       2   4    4
2      2       1   5    2
3      3       3   2    5
4      4       5   3    1
5      5       3   4    3
6      6       2   1    2
7      7       5   2    1
8      8       3   4    5
9      9       2   3    4

In [58]:
cols = ['device','index']
params={'n':-1,'fillna':22}

group_cols = cols[:-1]
calc_col = cols[-1]
n = int(params['n'])
m = int(params['fillna'])
result = (df[cols].groupby(by=group_cols)[calc_col].shift(-n) - df[calc_col]).fillna(m)
result = result.astype(utils.set_type(result, 'int')).to_frame()

In [59]:
result

   index
0     22
1     22
2     -2
3     22
4     22
5     -2
6     -5
7     -3
8     -3
9     -3

In [26]:
df[cols].groupby(by=group_cols)[calc_col].shift(0)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: index, dtype: int64

In [30]:
df[cols].groupby(by=group_cols)[calc_col].shift(-1)

0    2.0
1    6.0
2    NaN
3    5.0
4    7.0
5    8.0
6    9.0
7    NaN
8    NaN
9    NaN
Name: index, dtype: float64