In [48]:
import numpy as np
import sys,os
sys.path.append('../LIB/')
from env import ENV
from tqdm import tqdm
import pandas as pd

In [2]:
def calculate_payment(pv,length,rate):
    return rate *pv / (1- (1+rate)**(-length))

In [33]:
calculate_payment(pv=470790,length=18,rate=2.95/100)

34085.99003992781

# binary search

In [44]:
pv = 470790
length = 12
payment = 47041

def calculate_payment(pv,length,rate):
    return rate *pv / (1- (1+rate)**(-length))

def calculate_rate(pv,length,payment,space=np.arange(0,1,0.00001)):
    target = payment
    low = 0
    up = len(space)
    count = 0
    while up - low > 1:
        count += 1
        cur_index = int((low+up) / 2)
        rate = space[cur_index]
        cal = calculate_payment(pv,length,rate)
        if cal == target:
            return rate
        elif cal < target:
            low = cur_index
        else:
            up = cur_index
    up_cal = calculate_payment(pv,length,space[up])
    low_cal = calculate_payment(pv,length,space[low])
    if abs(up_cal - target) <= abs(low_cal - target):
        return space[up]
    else:
        return space[low]

In [43]:
%%timeit
calculate_rate(pv,length,payment,)

29.7 µs ± 5.94 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [165]:
0.04/12

0.0033333333333333335

In [159]:
400000 * 0.04 / 12

1333.3333333333333

In [161]:
2958.7517024370313*12*15

532575.3064386656

In [171]:
calculate_payment(400000,12*1000,0.04/12)

1333.3333333333335

In [154]:
calculate_rate(40000,12*15,6264)

0.0188

In [129]:
pre_ori['AMT_ANNUITY'].isnull().sum()

372235

In [137]:
pre_cash = pre_ori[pre_ori['NAME_CONTRACT_TYPE']=='Cash loans'].copy()

In [141]:
len(pre_cash)

747553

In [142]:
null = pre_cash[pre_cash['AMT_ANNUITY'].isnull()].copy()

In [148]:
null.NAME_CONTRACT_STATUS.value_counts()

Canceled        258768
Refused          26724
Unused offer       494
Approved             4
Name: NAME_CONTRACT_STATUS, dtype: int64

In [143]:
null

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
6,2315218,175704,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
7,1656711,296299,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,7,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
8,2367563,342292,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
9,2579447,334349,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
22,1172842,302212,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,9,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
24,1555330,199353,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,6,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
29,1583704,315664,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
32,1471931,257846,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,12,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
33,1478703,393511,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,19,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
48,2600277,256517,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,17,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
57,2586409,446260,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
60,2511538,435636,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
61,1024150,374768,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
63,1074341,137179,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
64,1760015,269239,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,8,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
65,2810623,369919,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,10,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
66,2433280,407487,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
67,2325707,353086,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
69,2734980,348760,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,8,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
83,2742815,244966,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,12,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
84,2796269,240839,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,13,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
90,2443751,210583,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,18,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
100,2289239,444025,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,14,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
102,2603082,223550,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,17,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
104,1826549,141689,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
106,1655160,255798,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,12,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
107,2743878,178345,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,12,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
108,1015452,272179,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,14,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
111,2603295,217812,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
112,2086496,434442,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,12,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670131,2222896,361729,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670137,2700070,296728,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670139,1379406,302265,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,13,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670140,2653970,432221,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,14,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670141,1814440,144937,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,14,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670142,1483533,296711,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,8,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670143,2201551,269275,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670145,1483600,197069,Cash loans,NaN,0.0,0.0,NaN,NaN,SUNDAY,17,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670147,2406533,452553,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,19,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670148,2330750,220061,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,10,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670149,1512964,153401,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,10,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670152,2785958,174686,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,8,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670153,1637460,110314,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,17,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670155,1661949,298641,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,13,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670160,2698899,161204,Cash loans,NaN,0.0,0.0,NaN,NaN,SATURDAY,13,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670161,2461432,388833,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,20,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670162,2406474,238912,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670163,2175955,378430,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670166,1558681,147850,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,13,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670168,2493390,194490,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,13,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670170,2815031,214184,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,14,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670171,1304099,172575,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670172,2739547,368378,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,19,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670173,2237439,441406,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,7,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670176,2489754,104479,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,10,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670179,2711219,433779,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670180,2380288,423126,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670186,1433968,272570,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,15,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670187,1971628,435554,Cash loans,NaN,0.0,0.0,NaN,NaN,MONDAY,10,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1670190,2381880,175920,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
pre_ori['AMT_CREDIT'].isnull().sum()

1

# Load files

In [128]:
pre_ori.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

In [50]:
# pre_ori = pd.read_csv(ENV.previous_application_ori.value)
# print(pre_ori.shape)

# ins_ori = pd.read_csv(ENV.installments_payments_ori.value)
# print(ins_ori.shape)

# pos_ori = pd.read_csv(ENV.POS_CASH_balance_ori.value)
# print(pos_ori.shape)

app_ori = pd.read_csv(ENV.application_train_ori.value)
print(app_ori.shape)
app_ori_test = pd.read_csv(ENV.application_test_ori.value)
print(app_ori.shape)

(1670214, 37)
(13605401, 8)
(10001358, 8)

In [56]:
ins_ori['DAYS_INSTALMENT']

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [58]:
gp = ins_ori.groupby('SK_ID_PREV')

In [77]:
c = gp.DAYS_INSTALMENT.nunique()

In [153]:
pre_ori[pre_ori.SK_ID_PREV==1000002]['AMT_CREDIT']

73676    35230.5
Name: AMT_CREDIT, dtype: float64

In [151]:
ins_ori[ins_ori.SK_ID_PREV==1000002].sort_values('DAYS_INSTALMENT')

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
1214732,1000002,101962,1.0,1,-1600.0,-1611.0,6264.000,6264.000
1631862,1000002,101962,1.0,2,-1570.0,-1575.0,6264.000,6264.000
3411021,1000002,101962,1.0,3,-1540.0,-1559.0,6264.000,6264.000
1006868,1000002,101962,2.0,4,-1510.0,-1554.0,18443.565,18443.565

In [149]:
ai_max > ai_min

SK_ID_PREV
1000001     True
1000002     True
1000003    False
1000004     True
1000005     True
1000007    False
1000008     True
1000009     True
1000010     True
1000011     True
1000012     True
1000013     True
1000014     True
1000015     True
1000016     True
1000017     True
1000018     True
1000019     True
1000020     True
1000021     True
1000022     True
1000023     True
1000024     True
1000025     True
1000026    False
1000027     True
1000028     True
1000029     True
1000030     True
1000031     True
           ...
2843470     True
2843471    False
2843472     True
2843473    False
2843474     True
2843475     True
2843476     True
2843477     True
2843478     True
2843479     True
2843480     True
2843481     True
2843482     True
2843483     True
2843484     True
2843485    False
2843486     True
2843487    False
2843488     True
2843489     True
2843490     True
2843491    False
2843492     True
2843493     True
2843494     True
2843495     True
2843496     True
2843497    False
2843498     True
2843499     True
Name: AMT_INSTALMENT, Length: 997752, dtype: bool

In [118]:
ai_sum = gp.AMT_INSTALMENT.sum()
ap_sum = gp.AMT_PAYMENT.sum()

ai_min = gp.AMT_INSTALMENT.min()
ai_max = gp.AMT_INSTALMENT.max()

ap_min = gp.AMT_PAYMENT.min()
ap_max = gp.AMT_PAYMENT.max()

filter_payful = ap_sum==ai_sum
filter_ai_eql = ai_min==ai_max
filter_ap_eql = ap_min == ap_max

filter_payful=filter_payful[filter_payful]
filter_ai_eql=filter_ai_eql[filter_ai_eql]
filter_ap_eql=filter_ap_eql[filter_ap_eql]

filtered_index = set(filter_payful.index).intersection(set(filter_ai_eql.index)).intersection(set(filter_ap_eql.index))
# filtered_index = list(filtered_index)
print(len(filtered_index))

115034

In [123]:
already_comp = filterd[filterd<-35]

In [124]:
clear_index= list(set(already_comp.index).intersection(filtered_index))
print(len(clear_index))

27400

In [125]:
comp_c = c.loc[clear_index]
print(len(comp_c))

27400

In [111]:
ins_ori[ins_ori.SK_ID_PREV==1049253]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
2593072,1049253,181005,1.0,1,-335.0,-348.0,8259.30,8259.30
2615001,1049253,181005,1.0,3,-275.0,-275.0,8259.30,8259.30
2777702,1049253,181005,1.0,2,-305.0,-312.0,8259.30,8259.30
3523255,1049253,181005,2.0,4,-245.0,-246.0,127445.94,127445.94

In [127]:
comp_c.value_counts().sort_index()

1     22377
2       457
3       373
4       350
5       423
6       482
7       346
8       420
9       386
10      304
11      178
12      143
13      130
14      116
15      132
16      101
17       97
18       62
19       48
20       52
21       78
22       56
23       36
24       20
25       32
26       31
27       14
28       15
29       10
30       10
      ...
42        2
44        1
46        1
47        1
49        1
56        1
57        2
58        7
59        3
60        5
61        3
62        2
64        3
65        1
66        3
67        2
74        1
75        1
79        1
80        1
81        1
82        1
86        3
89        2
90        1
91        1
92        1
93        4
94        3
95       19
Name: DAYS_INSTALMENT, Length: 70, dtype: int64