In [3]:
import pandas as pd

gs_res = pd.read_csv('output/nn_grid_search.csv', index_col='Unnamed: 0').sort_values(by=['val_auc'], ascending=False)
#0.829998
gs_res.head()

,batch_size,cat_emb_outdim,combined_dense_n_layers,dense_units,drop_rate,ep_for_lr,gs_timespent,lr_fin,lr_init,max_ep,nn_seed,num_dense_n_layers,patience,pred_timespent,timestamp,trn_acc,trn_loss,val_acc,val_auc,val_loss
1529679270,128,50,1,50,0.2,1,0:00:08,0.005,0.01,1,6920991,1,5,0:00:00,2018-06-22 10:54:30,0.6227,0.643170,0.569830,0.711474,0.675739
1529676463,256,50,1,50,0.2,1,0:00:21,0.005,0.01,1,5153198,1,5,NaN,2018-06-22 10:07:43,0.6209,0.646760,0.565725,0.710412,0.672015
1529677813,64,50,1,50,0.2,1,0:00:35,0.005,0.01,1,42406582,1,5,0:00:02,2018-06-22 10:30:13,0.6279,0.639981,0.668450,0.710294,0.577091
1529679027,128,50,1,50,0.2,1,0:00:09,0.005,0.01,1,35174279,1,5,0:00:00,2018-06-22 10:50:27,0.6215,0.645307,0.476680,0.710132,0.751953
1529677851,512,50,1,50,0.2,1,0:00:21,0.005,0.01,1,35992678,1,5,0:00:01,2018-06-22 10:30:51,0.5947,0.666978,0.652150,0.707731,0.584927

In [9]:
gs_res.head(1).T.to_dict()

{1529679270: {'batch_size': 128,
  'cat_emb_outdim': 50,
  'combined_dense_n_layers': 1,
  'dense_units': 50,
  'drop_rate': 0.2,
  'ep_for_lr': 1,
  'gs_timespent': '0:00:08',
  'lr_fin': 0.005,
  'lr_init': 0.01,
  'max_ep': 1,
  'nn_seed': 6920991,
  'num_dense_n_layers': 1,
  'patience': 5,
  'pred_timespent': '0:00:00',
  'timestamp': '2018-06-22 10:54:30',
  'trn_acc': 0.6227,
  'trn_loss': 0.6431703938484192,
  'val_acc': 0.5698300000000001,
  'val_auc': 0.7114738038939602,
  'val_loss': 0.6757388493728638}}

In [9]:
#gs_res.gs_timespent
gs_res.pred_timespent

1529021613        NaN
1529016426        NaN
1529018698        NaN
1529038836        NaN
1529079354        NaN
1529078964        NaN
1529080397    0:01:21
1529080656    0:01:10
1529005138        NaN
1529078391        NaN
1529014439        NaN
1529014419        NaN
1529014400        NaN
1529005975        NaN
1529014454        NaN
1529007956        NaN
1529006206        NaN
1529014393        NaN
1529014412        NaN
1529014409        NaN
1529007953        NaN
1529005557        NaN
1529014159        NaN
1529006204        NaN
1529014405        NaN
1529005829        NaN
1529014458        NaN
1529005980        NaN
1529010730        NaN
1529014416        NaN
1529014398        NaN
1529010729        NaN
1529014162        NaN
1529005826        NaN
1529014434        NaN
Name: pred_timespent, dtype: object

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.1'