In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = '/home/kai/data/kaggle/homecredit/'
train = pd.read_csv(PATH + 'application_train.csv')
print('train')
test = pd.read_csv(PATH + 'application_test.csv')
print('test')
bureau = pd.read_csv(PATH + 'bureau.csv')
print('bureau')
prev = pd.read_csv(PATH + 'previous_application.csv')
print('previous')
bb = pd.read_csv(PATH + 'bureau_balance.csv')
print('bureau_balance')
installments_payments = pd.read_csv(PATH + 'installments_payments.csv')
print('installments_payments done')
credit_card_balance = pd.read_csv(PATH + 'credit_card_balance.csv')
print('credit_card_balance')
POS_CASH_balance = pd.read_csv(PATH + 'POS_CASH_balance.csv')
print('POS_CASH_balance')
credit_card_balance = pd.read_csv(PATH + 'credit_card_balance.csv')
print('credit_card_balance')
previous_application = pd.read_csv(PATH + 'previous_application.csv')
print('previous_application')

train
test
bureau
previous
bureau_balance
installments_payments done
POS_CASH_balance
credit_card_balance
previous_application

In [3]:
# set(installments_payments.index.values)
installments_payments['NUM_INSTALMENT_VERSION'].max()

178.0

In [4]:
_df = installments_payments.sort_values(by = ['SK_ID_CURR', 'DAYS_INSTALMENT'], ascending = [True, False])

In [13]:
_df.head(5)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
2624024,1369693,100001,2.0,4,-1619.0,-1628.0,17397.900,17397.900
3458712,1369693,100001,1.0,3,-1649.0,-1660.0,3951.000,3951.000
2568722,1369693,100001,1.0,2,-1679.0,-1715.0,3951.000,3951.000
1478621,1369693,100001,1.0,1,-1709.0,-1715.0,3951.000,3951.000
3435373,1851984,100001,1.0,4,-2856.0,-2856.0,3980.925,3980.925

In [6]:
x = _df[_df['DAYS_INSTALMENT'] > -365]

In [7]:
print(x.shape,_df.shape)
print(x.shape[0]/_df.shape[0])

(3436942, 8) (13605401, 8)
0.25261600154232866

In [8]:
set_train = set(train['SK_ID_CURR'])
set_install = set(installments_payments['SK_ID_CURR'])

In [9]:
print(len(set_train-set_install))

15868

In [10]:
len(set_install)

339587

In [46]:
len(set_train)

307511

In [47]:
len(set_install - set_train)

47944

In [48]:
339587 - 307511

32076

In [50]:
len(set_train - set_install)

15868

In [52]:
set_test = set(test['SK_ID_CURR'])

In [53]:
set_union = set_train.union(set_test)

In [54]:
print(set_install - set_union)

set()

# Credit_card

In [55]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [93]:
_credit = credit_card_balance.sort_values(by = ['SK_ID_CURR', 'MONTHS_BALANCE'], ascending = [True, False])

In [94]:
set(_credit['NAME_CONTRACT_STATUS'])

{'Active',
 'Approved',
 'Completed',
 'Demand',
 'Refused',
 'Sent proposal',
 'Signed'}

In [96]:
x = _credit[_credit['NAME_CONTRACT_STATUS'] == 'Approved']
x[x['AMT_BALANCE'] > 0]

In [12]:
_credit.head(5)

NameError: name '_credit' is not defined

# pos cash balance

In [11]:
POS_CASH_balance.head(5)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [14]:
x = POS_CASH_balance.sort_values('SK_ID_CURR')

In [20]:
x['DPD_MINUS_DEF' ] = x['CNT_INSTALMENT']  - x['CNT_INSTALMENT_FUTURE']

In [21]:
y = x[x['DPD_MINUS_DEF'] >= 0]
y.shape

(9967754, 9)

In [22]:
x.shape

(10001358, 9)

In [23]:
y.shape[0]/x.shape[0]

0.9966400562803571

In [24]:
a = x[x['NAME_CONTRACT_STATUS'] == 'Active']

In [25]:
a.shape

(9151119, 9)

In [26]:
set(x['NAME_CONTRACT_STATUS'])

{'Active',
 'Amortized debt',
 'Approved',
 'Canceled',
 'Completed',
 'Demand',
 'Returned to the store',
 'Signed',
 'XNA'}

In [30]:
c = x[x['NAME_CONTRACT_STATUS']=='Returned to the store']
c.shape

(5461, 9)

In [31]:
c

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,DPD_MINUS_DEF
2692043,2299329,100006,-20,NaN,NaN,Returned to the store,0,0,NaN
9787401,1387636,100092,-46,12.0,12.0,Returned to the store,0,0,0.0
1608420,2216247,100094,-8,NaN,NaN,Returned to the store,0,0,NaN
5966158,2192263,100101,-42,12.0,11.0,Returned to the store,0,0,1.0
9805400,1752483,100110,-2,NaN,NaN,Returned to the store,0,0,NaN
9949204,2482438,100214,-4,NaN,NaN,Returned to the store,0,0,NaN
9809447,1327833,100285,-4,NaN,NaN,Returned to the store,0,0,NaN
2950767,1575570,100360,-41,10.0,10.0,Returned to the store,0,0,0.0
5501754,1051656,100491,-27,NaN,NaN,Returned to the store,0,0,NaN
4805933,2251424,100562,-49,12.0,12.0,Returned to the store,0,0,0.0
8786394,1060944,100680,-50,11.0,12.0,Returned to the store,0,0,-1.0
7598753,2258697,100731,-6,NaN,NaN,Returned to the store,0,0,NaN
4529722,2611390,100757,-19,NaN,NaN,Returned to the store,0,0,NaN
1477931,1030908,100920,-20,NaN,NaN,Returned to the store,0,0,NaN
4367991,2303755,100952,-86,10.0,10.0,Returned to the store,0,0,0.0
7409532,1970693,101056,-15,NaN,NaN,Returned to the store,0,0,NaN
8212587,2718702,101078,-19,NaN,NaN,Returned to the store,0,0,NaN
2370561,1106742,101230,-74,10.0,10.0,Returned to the store,0,0,0.0
6102439,1431674,101403,-50,6.0,6.0,Returned to the store,0,0,0.0
8614212,2662990,101494,-4,NaN,NaN,Returned to the store,0,0,NaN
2345393,2613560,101502,-45,5.0,5.0,Returned to the store,0,0,0.0
9722657,2052020,101512,-29,NaN,NaN,Returned to the store,0,0,NaN
7773892,1668575,101652,-37,12.0,12.0,Returned to the store,0,0,0.0
7696451,1404944,101732,-62,5.0,5.0,Returned to the store,0,0,0.0
3289100,1404944,101732,-60,5.0,5.0,Returned to the store,0,0,0.0
2713294,1050848,101814,-27,NaN,NaN,Returned to the store,0,0,NaN
7310887,1005880,101819,-62,10.0,10.0,Returned to the store,0,0,0.0
1054615,2466994,101881,-8,NaN,NaN,Returned to the store,0,0,NaN
5135126,2062791,101939,-27,NaN,NaN,Returned to the store,0,0,NaN
3106993,2069745,101964,-26,NaN,NaN,Returned to the store,0,0,NaN
...,...,...,...,...,...,...,...,...,...
81738,1462245,453855,-33,NaN,NaN,Returned to the store,0,0,NaN
6951716,2491478,453931,-11,NaN,NaN,Returned to the store,0,0,NaN
4953223,1132186,454010,-39,12.0,12.0,Returned to the store,0,0,0.0
7331433,2056348,454135,-5,NaN,NaN,Returned to the store,0,0,NaN
8755140,2056348,454135,-10,NaN,NaN,Returned to the store,0,0,NaN
4579922,2829916,454280,-89,4.0,4.0,Returned to the store,0,0,0.0
5142829,1423550,454327,-13,8.0,8.0,Returned to the store,0,0,0.0
7812550,2294041,454383,-41,NaN,NaN,Returned to the store,0,0,NaN
9956605,1184997,454419,-1,NaN,NaN,Returned to the store,0,0,NaN
8449639,1639459,454514,-30,NaN,NaN,Returned to the store,0,0,NaN
9894787,1128972,454664,-11,NaN,NaN,Returned to the store,0,0,NaN
8093372,1561711,454684,-19,NaN,NaN,Returned to the store,0,0,NaN
8134542,1306222,454711,-84,11.0,11.0,Returned to the store,0,0,0.0
5306494,2177662,454832,-91,6.0,6.0,Returned to the store,0,0,0.0
7605353,2218222,454877,-6,NaN,NaN,Returned to the store,0,0,NaN
5233907,2305162,454923,-81,4.0,4.0,Returned to the store,0,0,0.0
2215671,2292650,454927,-44,12.0,12.0,Returned to the store,0,0,0.0
8284217,1711276,454995,-57,5.0,5.0,Returned to the store,0,0,0.0
7115039,1868915,455098,-19,NaN,NaN,Returned to the store,0,0,NaN
9274813,1926381,455114,-35,NaN,NaN,Returned to the store,0,0,NaN
337360,1107248,455177,-20,NaN,NaN,Returned to the store,0,0,NaN
8557935,2737635,455185,-9,NaN,NaN,Returned to the store,0,0,NaN
9504270,2286197,455238,-29,NaN,NaN,Returned to the store,0,0,NaN
9265418,1948761,455465,-52,10.0,12.0,Returned to the store,0,0,-2.0
7625170,1152441,455506,-44,4.0,4.0,Returned to the store,0,0,0.0
3462922,1432063,455578,-40,6.0,6.0,Returned to the store,0,0,0.0
7235979,1903466,455582,-47,5.0,5.0,Returned to the store,0,0,0.0
1766352,2141251,455866,-72,6.0,6.0,Returned to the store,0,0,0.0
28385,1315557,455915,-12,NaN,NaN,Returned to the store,0,0,NaN
402071,1724125,456219,-13,NaN,NaN,Returned to the store,0,0,NaN