In [216]:
import pandas as pd
import numpy as np

In [217]:
PATH = '/home/kai/data/qianli/AlphaBoosting/home_credit/'

In [218]:
test_1 = pd.read_csv(PATH + '1.csv')

In [ ]:
y = test_1

In [70]:
z = test_1['a']
type(z)

pandas.core.series.Series

In [49]:
x = test_1.groupby('a')['c']

In [56]:
x.agg(['sum','count'])

sum      4
count    2
Name: c, dtype: int64

In [59]:
test_1.groupby('a')['c'].agg(['sum','count'])

   sum  count
a
1    5      2
2    5      2

In [68]:
x = test_1.groupby('a')
y = x['c'].agg(['sum','count',len])

In [69]:
print(y)
type(y)

   sum  count  len
a
1    5      2    2
2    5      2    2

pandas.core.frame.DataFrame

In [82]:
y = test_1['a'].quantile()
print(y)

1.5

In [96]:
def max_minusmin(series):
    return series.quantile()

In [114]:
test_1.groupby('a')['b'].agg(test_quantile).reset_index

<bound method Series.reset_index of a
1    3.5
2    2.0
Name: b, dtype: float64>

In [92]:
print(test_quantile(test_1['a']))

1.5

In [104]:
print(type(test_1['a']))
print(test_1)

<class 'pandas.core.series.Series'>
   a    b
0  1  NaN
1  1  2.0
2  1  3.0
3  2  2.0
4  1  2.0
5  1  5.0
6  1  4.0
7  1  5.0

In [128]:
x = test_1.groupby('a').agg({'b':['max']}).reset_index

In [129]:
x['max']

TypeError: 'method' object is not subscriptable

In [141]:
x = test_1['a']
print(x)

0    1
1    1
2    1
3    2
4    1
5    1
6    1
7    1
Name: a, dtype: int64

In [140]:
x.median()

1.0

In [135]:
def max_minus_min(series):
    return series.max() - series.min()

In [175]:
def one_third(series):
    return series.quantile(1/3)
def two_third(series):
    return series.quantile(0.66666)

In [176]:
print(two_third(test_1['a']))

2.3332799999999994

In [177]:
print(test_1['a'])

0    1
1    2
2    3
3    1
4    2
5    3
6    1
7    2
8    3
Name: a, dtype: int64

In [178]:
test_1.groupby('a').agg({'b':['max', 'min',max_minus_min, 'std', 'mean','median', one_third,two_third]})

     b
   max  min max_minus_min       std mean median one_third two_third
a
1  4.0  2.0           2.0  1.414214  3.0    3.0  2.666667   3.33332
2  5.0  2.0           3.0  1.732051  3.0    2.0  2.000000   2.99996
3  5.0  3.0           2.0  1.000000  4.0    4.0  3.666667   4.33332

In [194]:
test_1.groupby('a').agg({'b':one_third})

          b
a
1  2.666667
2  2.000000
3  3.666667

In [188]:
y = test_1['a']
print(y)

0    1
1    2
2    3
3    1
4    2
5    3
6    1
7    2
8    3
Name: a, dtype: int64

In [187]:
pd.Series(y>0).sum()

9

In [190]:
len(y)

9

In [192]:
np.sqrt(2)

1.4142135623730951

In [193]:
from scipy import stats
stats.trim_mean(y, 0.2)

2.0

In [200]:
def sumkl(a):
    print('1')

In [201]:
a= []
sumkl(a)

1

In [202]:
stats.trim_mean(y, 0.1)

2.0

In [203]:
print(y)

0    1
1    2
2    3
3    1
4    2
5    3
6    1
7    2
8    3
Name: a, dtype: int64

In [204]:
print(test_1)

   a    b    c
0  1  NaN  1.0
1  2  2.0  1.0
2  3  3.0  1.0
3  1  2.0  1.0
4  2  2.0  NaN
5  3  5.0  NaN
6  1  4.0  NaN
7  2  5.0  NaN
8  3  4.0  NaN

In [208]:
def trim_10(series):
    return stats.trim_mean(series.dropna(), 0.1)

In [209]:
test_1.groupby('a').agg({'b':trim_10})

     b
a
1  3.0
2  3.0
3  4.0

In [220]:
test_1.groupby('a').agg({'c':trim_10})

     c
a
1  1.0
2  NaN
3  2.0

In [219]:
print(test_1['c'])

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
Name: c, dtype: float64