In [20]:
import pandas as pd

PATH = '/home/kai/data/kaggle/homecredit/'
prev = pd.read_csv(PATH + 'previous_application.csv')
train = pd.read_csv(PATH + 'application_train.csv')
test = pd.read_csv(PATH + 'application_test.csv')

prev.head(2)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0

In [21]:
def minus_name(col1, col2): return col1 + '_minus_' + col2
def minus(df, col1, col2): return df[col1] - df[col2]

def ratio_name(col1, col2): return col1 + '_divide_' + col2
def ratio(df, col1, col2): return df[col1] / (df[col2] + 1)

def positive_count(df, gp_col, col):
    group = (df[col] > 0).astype('int8')
    group = pd.concat([df[gp_col], group], axis=1).groupby(gp_col)[[col]].sum().reset_index().rename(index=str, columns={col: 'positivecount_'+'_'.join([gp_col, col])})
    return group.astype({gp_col: df[gp_col].dtype})

def count(df, gp_col, col):
    group = df[[gp_col,col]].groupby(gp_col)[[col]].count().reset_index().rename(index=str, columns={col:'count_'+gp_col})
    return group.astype({gp_col: df[gp_col].dtype})

def numerical(df, gp_col, col, agg_fun):
    _df = df.groupby(gp_col)[[col]].agg(agg_fun)
    
    columns = []
    for x in _df.columns.levels[0]:
        for y in _df.columns.levels[1]:
            columns.append('_'.join([x, y]))
    _df.columns = columns
    return _df.reset_index().astype({gp_col: df[gp_col].dtype})

def one_hot(df, gp_col, col):
    return pd.concat([df[gp_col], pd.get_dummies(df[col], prefix='onehot_' + col, dummy_na = True)], axis=1).groupby(gp_col).sum().reset_index().astype({gp_col: df[gp_col].dtype})

'done'

'done'

In [22]:
prev.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

In [23]:
list_1 = ['AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE']
list_2 = ['RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED']
list_3 = ['CNT_PAYMENT']
list_4 = ['DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION']

In [24]:
for i in list_1:
    for j in list_3:
        print(ratio_name(i,j))
        prev[ratio_name(i,j)] = ratio(prev,i,j)

AMT_ANNUITY_divide_CNT_PAYMENT
AMT_APPLICATION_divide_CNT_PAYMENT
AMT_CREDIT_divide_CNT_PAYMENT
AMT_DOWN_PAYMENT_divide_CNT_PAYMENT
AMT_GOODS_PRICE_divide_CNT_PAYMENT

In [25]:
for i in list_2:
    for j in list_1:
        print(ratio_name(j,i))
        prev[ratio_name(j,i)] = ratio(prev,j,i)

AMT_ANNUITY_divide_RATE_DOWN_PAYMENT
AMT_APPLICATION_divide_RATE_DOWN_PAYMENT
AMT_CREDIT_divide_RATE_DOWN_PAYMENT
AMT_DOWN_PAYMENT_divide_RATE_DOWN_PAYMENT
AMT_GOODS_PRICE_divide_RATE_DOWN_PAYMENT
AMT_ANNUITY_divide_RATE_INTEREST_PRIMARY
AMT_APPLICATION_divide_RATE_INTEREST_PRIMARY
AMT_CREDIT_divide_RATE_INTEREST_PRIMARY
AMT_DOWN_PAYMENT_divide_RATE_INTEREST_PRIMARY
AMT_GOODS_PRICE_divide_RATE_INTEREST_PRIMARY
AMT_ANNUITY_divide_RATE_INTEREST_PRIVILEGED
AMT_APPLICATION_divide_RATE_INTEREST_PRIVILEGED
AMT_CREDIT_divide_RATE_INTEREST_PRIVILEGED
AMT_DOWN_PAYMENT_divide_RATE_INTEREST_PRIVILEGED
AMT_GOODS_PRICE_divide_RATE_INTEREST_PRIVILEGED

## Day analysis

In [26]:
list_4 = ['DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION']

In [27]:
for i in list_4:
    print(i, 'pct null', prev[i].isnull().sum()/len(prev))
    print(i, 'pct 0', (prev[i] == 0).sum()/len(prev) )

DAYS_FIRST_DRAWING pct null 0.40298129461254667
DAYS_FIRST_DRAWING pct 0 0.0
DAYS_FIRST_DUE pct null 0.40298129461254667
DAYS_FIRST_DUE pct 0 0.0
DAYS_LAST_DUE_1ST_VERSION pct null 0.40298129461254667
DAYS_LAST_DUE_1ST_VERSION pct 0 0.00042210159895678036
DAYS_LAST_DUE pct null 0.40298129461254667
DAYS_LAST_DUE pct 0 0.0
DAYS_TERMINATION pct null 0.40298129461254667
DAYS_TERMINATION pct 0 0.0

In [28]:
for i in list_4:
    for j in list_4:
        if j != i:
            print(i,'>',j, sum(prev[i]>prev[j])/len(prev))
            print(i,'=',j, sum(prev[i]==prev[j])/len(prev))
            print(i,'<',j, sum(prev[i]<prev[j])/len(prev))

DAYS_FIRST_DRAWING > DAYS_FIRST_DUE 0.5365719602398256
DAYS_FIRST_DRAWING = DAYS_FIRST_DUE 0.022947358841441876
DAYS_FIRST_DRAWING < DAYS_FIRST_DUE 0.03749938630618591
DAYS_FIRST_DRAWING > DAYS_LAST_DUE_1ST_VERSION 0.5408169252562846
DAYS_FIRST_DRAWING = DAYS_LAST_DUE_1ST_VERSION 0.01865868685090653
DAYS_FIRST_DRAWING < DAYS_LAST_DUE_1ST_VERSION 0.03754309328026229
DAYS_FIRST_DRAWING > DAYS_LAST_DUE 0.4562385418874468
DAYS_FIRST_DRAWING = DAYS_LAST_DUE 0.10324126129945024
DAYS_FIRST_DRAWING < DAYS_LAST_DUE 0.037538902200556334
DAYS_FIRST_DRAWING > DAYS_TERMINATION 0.4567708090101029
DAYS_FIRST_DRAWING = DAYS_TERMINATION 0.1027179750618783
DAYS_FIRST_DRAWING < DAYS_TERMINATION 0.03752992131547215
DAYS_FIRST_DUE > DAYS_FIRST_DRAWING 0.03749938630618591
DAYS_FIRST_DUE = DAYS_FIRST_DRAWING 0.022947358841441876
DAYS_FIRST_DUE < DAYS_FIRST_DRAWING 0.5365719602398256
DAYS_FIRST_DUE > DAYS_LAST_DUE_1ST_VERSION 0.004349143283435536
DAYS_FIRST_DUE = DAYS_LAST_DUE_1ST_VERSION 0.019999233631139483
DAYS_FIRST_DUE < DAYS_LAST_DUE_1ST_VERSION 0.5726703284728784
DAYS_FIRST_DUE > DAYS_LAST_DUE 0.0
DAYS_FIRST_DUE = DAYS_LAST_DUE 0.035857680512796565
DAYS_FIRST_DUE < DAYS_LAST_DUE 0.5611610248746568
DAYS_FIRST_DUE > DAYS_TERMINATION 0.003029551901732353
DAYS_FIRST_DUE = DAYS_TERMINATION 0.021311640304775316
DAYS_FIRST_DUE < DAYS_TERMINATION 0.5726775131809457
DAYS_LAST_DUE_1ST_VERSION > DAYS_FIRST_DRAWING 0.03754309328026229
DAYS_LAST_DUE_1ST_VERSION = DAYS_FIRST_DRAWING 0.01865868685090653
DAYS_LAST_DUE_1ST_VERSION < DAYS_FIRST_DRAWING 0.5408169252562846
DAYS_LAST_DUE_1ST_VERSION > DAYS_FIRST_DUE 0.5726703284728784
DAYS_LAST_DUE_1ST_VERSION = DAYS_FIRST_DUE 0.019999233631139483
DAYS_LAST_DUE_1ST_VERSION < DAYS_FIRST_DUE 0.004349143283435536
DAYS_LAST_DUE_1ST_VERSION > DAYS_LAST_DUE 0.23599131608284926
DAYS_LAST_DUE_1ST_VERSION = DAYS_LAST_DUE 0.27580537583806625
DAYS_LAST_DUE_1ST_VERSION < DAYS_LAST_DUE 0.08522201346653782
DAYS_LAST_DUE_1ST_VERSION > DAYS_TERMINATION 0.22766184453010213
DAYS_LAST_DUE_1ST_VERSION = DAYS_TERMINATION 0.04851593867612174
DAYS_LAST_DUE_1ST_VERSION < DAYS_TERMINATION 0.32084092218122945
DAYS_LAST_DUE > DAYS_FIRST_DRAWING 0.037538902200556334
DAYS_LAST_DUE = DAYS_FIRST_DRAWING 0.10324126129945024
DAYS_LAST_DUE < DAYS_FIRST_DRAWING 0.4562385418874468
DAYS_LAST_DUE > DAYS_FIRST_DUE 0.5611610248746568
DAYS_LAST_DUE = DAYS_FIRST_DUE 0.035857680512796565
DAYS_LAST_DUE < DAYS_FIRST_DUE 0.0
DAYS_LAST_DUE > DAYS_LAST_DUE_1ST_VERSION 0.08522201346653782
DAYS_LAST_DUE = DAYS_LAST_DUE_1ST_VERSION 0.27580537583806625
DAYS_LAST_DUE < DAYS_LAST_DUE_1ST_VERSION 0.23599131608284926
DAYS_LAST_DUE > DAYS_TERMINATION 0.0032935899232074454
DAYS_LAST_DUE = DAYS_TERMINATION 0.12344765401319831
DAYS_LAST_DUE < DAYS_TERMINATION 0.4702774614510476
DAYS_TERMINATION > DAYS_FIRST_DRAWING 0.03752992131547215
DAYS_TERMINATION = DAYS_FIRST_DRAWING 0.1027179750618783
DAYS_TERMINATION < DAYS_FIRST_DRAWING 0.4567708090101029
DAYS_TERMINATION > DAYS_FIRST_DUE 0.5726775131809457
DAYS_TERMINATION = DAYS_FIRST_DUE 0.021311640304775316
DAYS_TERMINATION < DAYS_FIRST_DUE 0.003029551901732353
DAYS_TERMINATION > DAYS_LAST_DUE_1ST_VERSION 0.32084092218122945
DAYS_TERMINATION = DAYS_LAST_DUE_1ST_VERSION 0.04851593867612174
DAYS_TERMINATION < DAYS_LAST_DUE_1ST_VERSION 0.22766184453010213
DAYS_TERMINATION > DAYS_LAST_DUE 0.4702774614510476
DAYS_TERMINATION = DAYS_LAST_DUE 0.12344765401319831
DAYS_TERMINATION < DAYS_LAST_DUE 0.0032935899232074454

In [ ]:
minus_list = []
for i in list_4:
    for j in list_4:
        if j != i and minus_name(j,i) not in prev.columns:
            prev[(minus_name(i,j))] = minus(prev,i,j)
            print(minus_name(i,j))
            minus_list.append(minus_name(i,j))
print(minus_list)

## Some categorical analysis

In [2]:
categorical = ['NAME_CONTRACT_TYPE', 'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY', 'NAME_CONTRACT_STATUS',
               'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
               'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'CHANNEL_TYPE', 'NFLAG_INSURED_ON_APPROVAL', 
               'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP'] + \
              ['FLAG_NAME_CASH_LOAN_PURPOSE', 'FLAG_NAME_GOODS_CATEGORY']

In [ ]:
for i in categorical:
    print(i, '#'*50)
    print(set(prev[i]))

In [3]:
prev['NFLAG_INSURED_ON_APPROVAL'].fillna(-1)

0          0.0
1          1.0
2          1.0
3          1.0
4          NaN
5          1.0
6          NaN
7          NaN
8          NaN
9          NaN
10         1.0
11         1.0
12         1.0
13         1.0
14         0.0
15         0.0
16         0.0
17         0.0
18         NaN
19         NaN
20         NaN
21         1.0
22         NaN
23         NaN
24         NaN
25         1.0
26         0.0
27         1.0
28         0.0
29         NaN
          ...
1670184    NaN
1670185    NaN
1670186    NaN
1670187    NaN
1670188    NaN
1670189    NaN
1670190    NaN
1670191    NaN
1670192    0.0
1670193    NaN
1670194    1.0
1670195    0.0
1670196    NaN
1670197    NaN
1670198    0.0
1670199    1.0
1670200    1.0
1670201    0.0
1670202    0.0
1670203    NaN
1670204    NaN
1670205    NaN
1670206    0.0
1670207    NaN
1670208    1.0
1670209    0.0
1670210    0.0
1670211    0.0
1670212    1.0
1670213    0.0
Name: NFLAG_INSURED_ON_APPROVAL, Length: 1670214, dtype: float64

In [10]:
prev = pd.read_csv(PATH + 'previous_application.csv')
pd.get_dummies(prev['NFLAG_INSURED_ON_APPROVAL'], prefix='onehot_', dummy_na = True)

         onehot__0.0  onehot__1.0  onehot__nan
0                  1            0            0
1                  0            1            0
2                  0            1            0
3                  0            1            0
4                  0            0            1
5                  0            1            0
6                  0            0            1
7                  0            0            1
8                  0            0            1
9                  0            0            1
10                 0            1            0
11                 0            1            0
12                 0            1            0
13                 0            1            0
14                 1            0            0
15                 1            0            0
16                 1            0            0
17                 1            0            0
18                 0            0            1
19                 0            0            1
20                 0            0            1
21                 0            1            0
22                 0            0            1
23                 0            0            1
24                 0            0            1
25                 0            1            0
26                 1            0            0
27                 0            1            0
28                 1            0            0
29                 0            0            1
...              ...          ...          ...
1670184            0            0            1
1670185            0            0            1
1670186            0            0            1
1670187            0            0            1
1670188            0            0            1
1670189            0            0            1
1670190            0            0            1
1670191            0            0            1
1670192            1            0            0
1670193            0            0            1
1670194            0            1            0
1670195            1            0            0
1670196            0            0            1
1670197            0            0            1
1670198            1            0            0
1670199            0            1            0
1670200            0            1            0
1670201            1            0            0
1670202            1            0            0
1670203            0            0            1
1670204            0            0            1
1670205            0            0            1
1670206            1            0            0
1670207            0            0            1
1670208            0            1            0
1670209            1            0            0
1670210            1            0            0
1670211            1            0            0
1670212            0            1            0
1670213            1            0            0

[1670214 rows x 3 columns]

In [18]:
prev['NAME_CASH_LOAN_PURPOSE']

0                                       XAP
1                                       XNA
2                                       XNA
3                                       XNA
4                                   Repairs
5                         Everyday expenses
6                                       XNA
7                                       XNA
8                                       XNA
9                                       XNA
10                                      XNA
11                                      XNA
12                                      XNA
13                                      XAP
14                                      XAP
15                                      XAP
16                                      XAP
17                                      XAP
18                                      XNA
19                        Everyday expenses
20                                      XNA
21                                      XNA
22                                      XNA
23                                      XNA
24                                      XNA
25                                      XNA
26                                      XNA
27                                      XNA
28                                      XAP
29                                      XNA
                         ...
1670184                                 XNA
1670185                             Repairs
1670186                                 XNA
1670187                                 XNA
1670188                                 XNA
1670189        Building a house or an annex
1670190                                 XNA
1670191                                 XAP
1670192                                 XAP
1670193                                 XAP
1670194                                 XNA
1670195                                 XAP
1670196                                 XAP
1670197                                 XAP
1670198                                 XAP
1670199                                 XAP
1670200                                 XNA
1670201                                 XAP
1670202                                 XAP
1670203                                 XAP
1670204                                 XNA
1670205                                 XNA
1670206    Purchase of electronic equipment
1670207                                 XNA
1670208                                 XNA
1670209                                 XAP
1670210                                 XAP
1670211                                 XAP
1670212                                 XNA
1670213                                 XNA
Name: NAME_CASH_LOAN_PURPOSE, Length: 1670214, dtype: object

In [13]:
prev['NAME_YIELD_GROUP'],_ =pd. factorize(prev['NAME_YIELD_GROUP'])