In [1]:
import pandas as pd

PATH = '/home/kai/data/kaggle/homecredit/'
install = pd.read_pickle(PATH + 'inter/tmp/inst.pkl')
# train = pd.read_csv(PATH + application_train.csv)

In [2]:
train = pd.read_csv(PATH + 'application_train.csv')
test =  pd.read_csv(PATH + 'application_test.csv')
df = pd.concat([train, test], axis = 0)
df = df[['SK_ID_CURR']]
print(df.shape)

/home/kai/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  This is separate from the ipykernel package so we can avoid doing imports until

(356255, 1)

In [3]:
from sklearn.linear_model import LinearRegression

def minus_name(col1, col2): return col1 + '_minus_' + col2
def minus(df, col1, col2): return df[col1] - df[col2]

def ratio_name(col1, col2): return col1 + '_divide_' + col2
def ratio(df, col1, col2): return df[col1] / (df[col2] + 1)

def positive_count(df, gp_col, col):
    group = (df[col] > 0).astype('int8')
    group = pd.concat([df[gp_col], group], axis=1).groupby(gp_col)[[col]].sum().reset_index().rename(index=str, columns={col: 'positivecount_'+'_'.join(gp_col + [col])})
    return group

def count(df, gp_col, col):
    group = df[gp_col+[col]].groupby(gp_col)[[col]].count().reset_index().rename(index=str, columns={col:'count_'+gp_col})
    return group

def numerical(df, gp_col, col, agg_fun):
    _df = df.groupby(gp_col)[[col]].agg(agg_fun)
    
    columns = []
    for x in _df.columns.levels[0]:
        for y in _df.columns.levels[1]:
            columns.append('_'.join([x, y]))
    _df.columns = columns
    return _df.reset_index()

def one_hot(df, gp_col, col):
    return pd.concat([df[gp_col], pd.get_dummies(df[col], prefix='onehot_' + col)], axis=1).groupby(gp_col).sum().reset_index()

def linear(df, gp_col, x_col_name, y_col_name):
    r = []
    for i, x in df.groupby(gp_col):
        lg = LinearRegression()
        lg1 = LinearRegression()
        
        lg.fit(x[[x_col_name]], x[[y_col_name]])
        x_max = max(x[x_col_name])
        x_min = min(x[x_col_name])
        lg1.fit((x[[x_col_name]]-x_max)/(x_max-x_min+1), x[[y_col_name]])
        r.append([i, lg.coef_[0][0], lg1.coef_[0][0]])
    tmpdf = pd.DataFrame(r, columns=[gp_col, x_col_name+'_lg_'+y_col_name, x_col_name+'_normallg_'+y_col_name])
    return tmpdf

def feature_in_time_window(df, gp_col, col, func, add_fun=None, n=None, time_col=None):
    tmp = None
    _df = df.copy()
    if n is not None:
        _df = _df[_df[time_col] >= n]
    if add_fun is None:
        tmp = func_(df[_df[time_col] >= n], gp_col, col)
    else:
        tmp = func(_df[_df[time_col] >= n], gp_col, col, add_fun)
    columns = [str(abs(n))+'_'+x for x in set(tmp.columns) - set(gp_col)]
    tmp.columns = columns
    return tmp

def area_under_curve(df, gp_col, x, y):
    gp = df.copy()
    gp_max = gp.groupby(gp_col)[[x]].max().reset_index().rename(columns={x:'max'})
    gp_min = gp.groupby(gp_col)[[x]].min().reset_index().rename(columns={x:'min'})
    gp = gp.merge(gp_max)
    gp = gp.merge(gp_min)
    gp['normal_x'] = (gp[x]-gp['max']) / (gp['max']-gp['min']+1)
    
    group = gp.groupby(gp_col)
    gp['tmp'] = (group[y].shift(-1)+gp[y]) * (group[x].shift(-1)-gp[x]) / 2
    gp['tmp_normal'] = (group[y].shift(-1)+gp[y]) * (group['normal_x'].shift(-1)-gp['normal_x']) / 2
    return gp.groupby(gp_col).agg({'tmp':'sum', 'tmp_normal':'sum'}).reset_index().rename(columns={'tmp':x+'_area_'+y, 'tmp_normal':x+'_normalarea_'+y})

'done'

'done'

In [4]:
install['DIFF_DAYS'] = install['DAYS_ENTRY_PAYMENT'] - install['DAYS_INSTALMENT']

In [5]:
# For each curr_id:
# total/max/mean late amount; total/max/mean late days; total late amount/total amt; sum(late days * late pct) 
# total/max/mean early amount; total/max/mean early days; total early amount div total amt; sum(early days * early pct)

In [6]:
late_index = install['DIFF_DAYS'] > 0

install['LATE_DAYS'] = 0
install.loc[late_index, 'LATE_DAYS'] = install.loc[late_index, 'DIFF_DAYS']
# Late amt
install['LATE_AMT'] = 0
install.loc[late_index, 'LATE_AMT'] = install.loc[late_index, 'AMT_PAYMENT']

# Late pct
install['LATE_PCT'] = 0
install.loc[late_index, 'LATE_PCT'] = install.loc[late_index, 'LATE_AMT']/install.loc[late_index, 'new_AMT_INSTALMENT']

install['LATE_AREA'] = 0
install.loc[late_index, 'LATE_AREA'] = install.loc[late_index, 'LATE_PCT'] * install['LATE_DAYS']

In [ ]:
for i in ['EARLY_', 'LATE_']:
    install[i+'DAYS']

In [7]:
early_index = install['DIFF_DAYS'] <= 0 
install['EARLY_DAYS'] = 0
install.loc[early_index, 'EARLY_DAYS'] = abs(install.loc[early_index, 'DIFF_DAYS'])

# early amt
install['EARLY_AMT'] = 0
install.loc[early_index, 'EARLY_AMT'] = install.loc[early_index, 'AMT_PAYMENT']

# Late pct
install['EARLY_PCT'] = 0
install.loc[early_index, 'EARLY_PCT'] = install.loc[early_index, 'EARLY_AMT']/install.loc[early_index, 'new_AMT_INSTALMENT']

install['EARLY_AREA'] = 0
install.loc[early_index, 'EARLY_AREA'] = install.loc[early_index, 'EARLY_PCT'] * install.loc[early_index,'EARLY_DAYS']

In [8]:

install['EARLY_AREA']

0            7.000000
1            0.000000
2            0.000000
3            8.000000
4            0.000000
5           33.000000
6            3.000000
7           26.000000
8            0.000000
9           39.000000
10           4.000000
11           7.000000
12           0.000000
13          45.000000
14           0.000000
15           0.000000
16           3.000000
17          10.996836
18          13.000000
19           0.000000
20           4.000000
21           3.000000
22           5.000000
23           0.000000
24           5.000000
25          15.000000
26          11.000000
27          13.000000
28           0.000000
29           1.000000
              ...
13605371     0.000000
13605372     0.000000
13605373     0.000000
13605374     0.000000
13605375     0.000000
13605376     0.000000
13605377     0.000000
13605378     0.000000
13605379     0.000000
13605380     0.000000
13605381     0.000000
13605382     0.000000
13605383     0.000000
13605384     0.000000
13605385     0.000000
13605386     0.000000
13605387     0.000000
13605388     0.000000
13605389     0.000000
13605390     0.000000
13605391     0.000000
13605392     0.000000
13605393     0.000000
13605394     0.000000
13605395     0.000000
13605396     0.000000
13605397     0.000000
13605398     0.000000
13605399     0.000000
13605400     0.000000
Name: EARLY_AREA, Length: 13605229, dtype: float64

In [9]:
#total/max/mean late amount;
def numerical(df, gp_col, col, agg_fun):
    _df = df.groupby(gp_col)[[col]].agg(agg_fun)
    
    columns = []
    for x in _df.columns.levels[0]:
        for y in _df.columns.levels[1]:
            columns.append('_'.join([x, y]))
    _df.columns = columns
    return _df.reset_index()
# total/max/mean late days
df = df.merge( numerical(install, 'SK_ID_CURR', 'LATE_AMT', {'sum','mean','max'}), on = 'SK_ID_CURR', how = 'left')
df = df.merge( numerical(install, 'SK_ID_CURR', 'LATE_DAYS', {'mean','max'}), on = 'SK_ID_CURR', how = 'left')
df = df.merge( numerical(install, 'SK_ID_CURR', 'LATE_AREA', {'sum'}), on = 'SK_ID_CURR', how = 'left')

df = df.merge( numerical(install, 'SK_ID_CURR', 'EARLY_AMT', {'sum','mean','max'}), on = 'SK_ID_CURR', how = 'left')
df = df.merge( numerical(install, 'SK_ID_CURR', 'EARLY_DAYS', {'mean','max'}), on = 'SK_ID_CURR', how = 'left')
df = df.merge( numerical(install, 'SK_ID_CURR', 'EARLY_AREA', {'sum'}), on = 'SK_ID_CURR', how = 'left')

In [10]:
df.head(20)

,SK_ID_CURR,LATE_AMT_mean,LATE_AMT_sum,LATE_AMT_max,LATE_DAYS_mean,LATE_DAYS_max,LATE_AREA_sum,EARLY_AMT_mean,EARLY_AMT_sum,EARLY_AMT_max,EARLY_DAYS_mean,EARLY_DAYS_max,EARLY_AREA_sum
0,100002,0.000000,0.00,0.000,0.000000,0.0,0.000000,11559.247105,219625.695,53093.745,20.421053,31.0,388.000000
1,100003,0.000000,0.00,0.000,0.000000,0.0,0.000000,64754.586000,1618864.650,560835.360,7.160000,14.0,179.000000
2,100004,0.000000,0.00,0.000,0.000000,0.0,0.000000,7096.155000,21288.465,10573.965,7.666667,11.0,23.000000
3,100006,0.000000,0.00,0.000,0.000000,0.0,0.000000,62947.088438,1007153.415,691786.890,19.375000,77.0,310.000000
4,100007,1182.470455,78043.05,22678.785,0.954545,12.0,62.991512,11031.589773,728084.925,22678.785,4.590909,31.0,212.059995
5,100008,6.490286,227.16,227.160,37.628571,1317.0,24.959607,27354.012429,957390.435,432218.295,11.514286,28.0,402.488300
6,100009,120.691765,6155.28,6155.280,0.137255,7.0,7.000000,9447.840000,481839.840,17341.605,8.725490,23.0,445.000000
7,100010,0.000000,0.00,0.000,0.000000,0.0,0.000000,27449.208000,274492.080,27463.410,11.900000,30.0,119.000000
8,100011,2803.246615,364422.06,31295.250,7.946154,958.0,79.909951,8525.647038,1108334.115,46485.000,4.807692,32.0,406.388848
9,100012,374.152500,17959.32,11057.535,0.562500,14.0,12.304776,10077.133125,483702.390,58687.245,25.875000,90.0,1208.183847
10,100014,4473.487895,84996.27,11567.475,1.052632,5.0,17.789816,4309.709211,81884.475,14045.625,9.263158,30.0,55.282927
11,100015,766.692000,7666.92,7666.920,2.100000,21.0,21.000000,6891.988500,68919.885,7666.920,15.000000,29.0,150.000000
12,100016,289.454595,21419.64,7124.040,3.527027,26.0,3.070556,8102.191622,599562.180,102028.140,4.905405,16.0,362.970192
13,100017,0.000000,0.00,0.000,0.000000,0.0,0.000000,13508.920500,405267.615,16967.295,10.866667,24.0,326.000000
14,100018,0.000000,0.00,0.000,0.000000,0.0,0.000000,49114.642500,1178751.420,94906.035,6.875000,21.0,165.000000
15,100019,0.000000,0.00,0.000,0.000000,0.0,0.000000,20636.628750,165093.030,44369.280,30.500000,66.0,244.000000
16,100020,0.000000,0.00,0.000,0.000000,0.0,0.000000,7136.958462,92780.460,8779.770,8.615385,18.0,112.000000
17,100021,471.048261,10834.11,2709.450,2.434783,15.0,56.000000,8587.974130,197523.405,52236.180,14.739130,46.0,339.000000
18,100022,0.000000,0.00,0.000,0.000000,0.0,0.000000,6765.975000,47361.825,6765.975,23.428571,27.0,164.000000
19,100023,0.000000,0.00,0.000,0.000000,0.0,0.000000,18982.580192,493547.085,231819.525,15.653846,43.0,407.000000

In [12]:
print(train.shape, test.shape)
df.to_pickle(PATH +'test/install2curr.pkl')

(307511, 122) (48744, 121)

In [13]:
df

,SK_ID_CURR,LATE_AMT_mean,LATE_AMT_sum,LATE_AMT_max,LATE_DAYS_mean,LATE_DAYS_max,LATE_AREA_sum,EARLY_AMT_mean,EARLY_AMT_sum,EARLY_AMT_max,EARLY_DAYS_mean,EARLY_DAYS_max,EARLY_AREA_sum
0,100002,0.000000,0.000,0.000,0.000000,0.0,0.000000,11559.247105,219625.695,53093.745,20.421053,31.0,388.000000
1,100003,0.000000,0.000,0.000,0.000000,0.0,0.000000,64754.586000,1618864.650,560835.360,7.160000,14.0,179.000000
2,100004,0.000000,0.000,0.000,0.000000,0.0,0.000000,7096.155000,21288.465,10573.965,7.666667,11.0,23.000000
3,100006,0.000000,0.000,0.000,0.000000,0.0,0.000000,62947.088438,1007153.415,691786.890,19.375000,77.0,310.000000
4,100007,1182.470455,78043.050,22678.785,0.954545,12.0,62.991512,11031.589773,728084.925,22678.785,4.590909,31.0,212.059995
5,100008,6.490286,227.160,227.160,37.628571,1317.0,24.959607,27354.012429,957390.435,432218.295,11.514286,28.0,402.488300
6,100009,120.691765,6155.280,6155.280,0.137255,7.0,7.000000,9447.840000,481839.840,17341.605,8.725490,23.0,445.000000
7,100010,0.000000,0.000,0.000,0.000000,0.0,0.000000,27449.208000,274492.080,27463.410,11.900000,30.0,119.000000
8,100011,2803.246615,364422.060,31295.250,7.946154,958.0,79.909951,8525.647038,1108334.115,46485.000,4.807692,32.0,406.388848
9,100012,374.152500,17959.320,11057.535,0.562500,14.0,12.304776,10077.133125,483702.390,58687.245,25.875000,90.0,1208.183847
10,100014,4473.487895,84996.270,11567.475,1.052632,5.0,17.789816,4309.709211,81884.475,14045.625,9.263158,30.0,55.282927
11,100015,766.692000,7666.920,7666.920,2.100000,21.0,21.000000,6891.988500,68919.885,7666.920,15.000000,29.0,150.000000
12,100016,289.454595,21419.640,7124.040,3.527027,26.0,3.070556,8102.191622,599562.180,102028.140,4.905405,16.0,362.970192
13,100017,0.000000,0.000,0.000,0.000000,0.0,0.000000,13508.920500,405267.615,16967.295,10.866667,24.0,326.000000
14,100018,0.000000,0.000,0.000,0.000000,0.0,0.000000,49114.642500,1178751.420,94906.035,6.875000,21.0,165.000000
15,100019,0.000000,0.000,0.000,0.000000,0.0,0.000000,20636.628750,165093.030,44369.280,30.500000,66.0,244.000000
16,100020,0.000000,0.000,0.000,0.000000,0.0,0.000000,7136.958462,92780.460,8779.770,8.615385,18.0,112.000000
17,100021,471.048261,10834.110,2709.450,2.434783,15.0,56.000000,8587.974130,197523.405,52236.180,14.739130,46.0,339.000000
18,100022,0.000000,0.000,0.000,0.000000,0.0,0.000000,6765.975000,47361.825,6765.975,23.428571,27.0,164.000000
19,100023,0.000000,0.000,0.000,0.000000,0.0,0.000000,18982.580192,493547.085,231819.525,15.653846,43.0,407.000000
20,100024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,9151.190217,420954.750,39798.990,1.565217,14.0,70.757632,22207.425652,1021541.580,376810.425,11.652174,35.0,306.960837
22,100026,0.000000,0.000,0.000,0.000000,0.0,0.000000,119294.595000,954356.760,770004.315,9.375000,17.0,75.000000
23,100027,0.000000,0.000,0.000,0.000000,0.0,0.000000,24519.289091,539424.360,28077.570,9.545455,23.0,210.000000
24,100029,0.000000,0.000,0.000,0.000000,0.0,0.000000,33917.096250,135668.385,66993.345,19.750000,23.0,79.000000
25,100030,0.000000,0.000,0.000,0.000000,0.0,0.000000,11820.645000,70923.870,17846.145,21.833333,35.0,131.000000
26,100031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,100032,1129.718571,7908.030,7908.030,1.285714,9.0,8.995137,5650.714286,39555.000,7910.145,47.142857,86.0,244.046466
28,100033,1138.340323,35288.550,5542.920,23.322581,129.0,642.771197,1100.745000,34123.095,5542.920,6.322581,44.0,53.650443
29,100034,0.000000,0.000,0.000,0.000000,0.0,0.000000,31135.576500,311355.765,61969.770,19.000000,51.0,190.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
356225,455963,0.000000,0.000,0.000,0.000000,0.0,0.000000,112211.257500,224422.515,185135.535,18.000000,20.0,36.000000
356226,455965,0.000000,0.000,0.000,0.000000,0.0,0.000000,12819.159000,256383.180,29080.125,14.050000,60.0,281.000000
356227,456007,0.000000,0.000,0.000,0.000000,0.0,0.000000,18877.060385,490803.570,24841.305,11.076923,21.0,288.000000
356228,456008,1191.271304,27399.240,8675.955,0.304348,2.0,5.439327,6838.442609,157284.180,16740.765,12.173913,31.0,213.986247
356229,456009,56.604452,4132.125,4132.125,0.027397,2.0,0.664958,10772.731849,786409.425,26263.575,9.205479,32.0,661.360678
356230,456010,0.000000,0.000,0.000,0.000000,0.0,0.000000,39147.421875,2818614.375,411313.095,14.041667,49.0,1011.000000
356231,456011,0.000000,0.000,0.000,0.000000,0.0,0.000000,7678.841538,299474.820,32368.410,9.820513,23.0,383.000000
356232,456013,4490.074286,31430.520,17238.420,1.285714,8.0,7.586265,10285.341429,71997.390,17238.420,11.428571,39.0,47.891959
356233,456028,0.000000,0.000,0.000,0.000000,0.0,0.000000,16486.277400,412156.935,20527.920,8.000000,14.0,200.000000
356234,456058,0.000000,0.000,0.000,0.000000,0.0,0.000000,15074.055000,15074.055,15074.055,16.000000,16.0,16.000000
356235,456111,2545.011667,206145.945,20320.740,3.765432,49.0,72.901374,9977.487778,808176.510,53430.795,6.827160,46.0,441.511408
356236,456114,320.391885,39087.810,19668.510,0.049180,4.0,5.802282,6317.174139,770695.245,161460.000,5.344262,33.0,590.927748
356237,456115,124.234000,5590.530,5590.530,0.111111,5.0,4.740308,8489.384000,382022.280,50177.610,26.466667,80.0,1174.882952
356238,456116,0.000000,0.000,0.000,0.000000,0.0,0.000000,6296.067108,522573.570,16253.955,8.108434,44.0,673.000000
356239,456119,1177.755324,217884.735,51308.415,1.378378,29.0,138.917631,11095.485081,2052664.740,67905.000,3.713514,37.0,537.158110
356240,456120,8020.476000,80204.760,26374.815,4.400000,19.0,43.802200,7937.815500,79378.155,26377.605,14.700000,52.0,57.274603
356241,456122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356242,456123,4072.014167,219888.765,18978.840,1.000000,14.0,53.592805,8885.280833,479805.165,18978.840,6.407407,36.0,89.046196
356243,456166,1573.013382,53482.455,9357.345,1.294118,18.0,28.427762,5473.937647,186113.880,9357.345,19.058824,143.0,476.407673
356244,456167,0.000000,0.000,0.000,0.000000,0.0,0.000000,6268.946186,369867.825,29279.070,13.576271,45.0,801.000000
356245,456168,0.000000,0.000,0.000,0.000000,0.0,0.000000,24386.888571,170708.220,81427.860,12.714286,26.0,89.000000
356246,456169,366.805161,34112.880,12877.650,0.569892,26.0,52.958215,23592.497903,2194102.305,404797.275,5.924731,35.0,512.026975
356247,456170,0.000000,0.000,0.000,0.000000,0.0,0.000000,8452.822500,50716.935,8453.070,9.333333,12.0,56.000000
356248,456189,328.291800,24621.885,7989.390,0.093333,2.0,5.785004,5399.354400,404951.580,59231.430,6.946667,32.0,479.201014
356249,456202,840.060000,21001.500,21001.500,0.040000,1.0,1.000000,18826.246800,470656.170,89155.800,9.160000,33.0,229.000000
356250,456221,0.000000,0.000,0.000,0.000000,0.0,0.000000,91036.455000,273109.365,244664.505,7.333333,8.0,22.000000
356251,456222,481.574589,35154.945,14571.765,0.520548,19.0,4.349872,7289.873014,532160.730,14571.765,6.000000,26.0,436.656554
356252,456223,0.000000,0.000,0.000,0.000000,0.0,0.000000,23158.991250,185271.930,81184.005,31.625000,76.0,253.000000
356253,456224,190.342241,5519.925,5519.925,0.034483,1.0,1.000000,17078.891897,495287.865,23451.705,7.275862,15.0,211.000000
356254,456250,740.421900,37021.095,26474.625,0.420000,10.0,11.677425,12304.561500,615228.075,26474.625,8.600000,30.0,429.390318