In [1]:
import pandas as pd
import numpy as np

PATH = '/home/kai/data/kaggle/homecredit/'
train = pd.read_csv(PATH + 'application_train.csv')
print('train')
test = pd.read_csv(PATH + 'application_test.csv')
print('test')
bureau = pd.read_csv(PATH + 'bureau.csv')
print('bureau')
prev = pd.read_csv(PATH + 'previous_application.csv')
print('previous')
bb = pd.read_csv(PATH + 'bureau_balance.csv')
print('bureau_balance')

train
test
bureau
previous
bureau_balance

In [4]:
print(train.shape)

(307511, 122)

In [5]:
print(test.shape)

(48744, 121)

In [3]:
bureau.head(5)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [7]:
print(bureau[bureau['SK_ID_BUREAU']==5715448])

     SK_ID_CURR  SK_ID_BUREAU CREDIT_ACTIVE CREDIT_CURRENCY  DAYS_CREDIT  \
768      380361       5715448        Active      currency 1         -820

     CREDIT_DAY_OVERDUE  DAYS_CREDIT_ENDDATE  DAYS_ENDDATE_FACT  \
768                   0              31069.0                NaN

     AMT_CREDIT_MAX_OVERDUE  CNT_CREDIT_PROLONG  AMT_CREDIT_SUM  \
768                     NaN                   0         67500.0

     AMT_CREDIT_SUM_DEBT  AMT_CREDIT_SUM_LIMIT  AMT_CREDIT_SUM_OVERDUE  \
768                  0.0               67500.0                     0.0

     CREDIT_TYPE  DAYS_CREDIT_UPDATE  AMT_ANNUITY
768  Credit card                -183          0.0

In [3]:
bid = set(bureau['SK_ID_BUREAU'])
bbid = set(bb['SK_ID_BUREAU'])
print(len(bid-bbid),len(bid),len(bid-bbid)/len(bid))

942074 1716428 0.5488572780215657

In [8]:
print(bb[bb['SK_ID_BUREAU']==5715448])

    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0
15       5715448             -15      0
16       5715448             -16      0
17       5715448             -17      0
18       5715448             -18      0
19       5715448             -19      0
20       5715448             -20      X
21       5715448             -21      X
22       5715448             -22      X
23       5715448             -23      X
24       5715448             -24      X
25       5715448             -25      X
26       5715448             -26      X

In [42]:
train_id = set(train['SK_ID_CURR'])
test_id = set(test['SK_ID_CURR'])

bureau_id = set(bureau['SK_ID_CURR'])
prev_id = set(prev['SK_ID_CURR'])

print(len(train_id-prev_id), len(train_id), len(train_id-prev_id)/len(train_id))
print(len(train_id-bureau_id), len(train_id), len(train_id-bureau_id)/len(train_id))
print(len(train_id-bureau_id-prev_id), len(train_id), len(train_id-bureau_id-prev_id)/len(train_id))

print(len(test_id-prev_id), len(test_id), len(test_id-prev_id)/len(test_id))
print(len(test_id-bureau_id), len(test_id), len(test_id-bureau_id)/len(test_id))
print(len(test_id-bureau_id-prev_id), len(test_id), len(test_id-bureau_id-prev_id)/len(test_id))

0
16454 307511 0.05350702901684818
44020 307511 0.14314935075493235
2470 307511 0.008032232993291297
944 48744 0.019366486131626455
6424 48744 0.1317905793533563
208 48744 0.004267191859510914

In [17]:
df = pd.concat([train, test])
cat = ['CODE_GENDER', 'EMERGENCYSTATE_MODE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',          'NAME_CONTRACT_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'NAME_INCOME_TYPE',                'NAME_TYPE_SUITE', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE', 'WALLSMATERIAL_MODE', 'WEEKDAY_APPR_PROCESS_START',
       'FLAG_CONT_MOBILE', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
       'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_EMAIL', 'FLAG_EMP_PHONE', 'FLAG_MOBIL', 'FLAG_PHONE', 'FLAG_WORK_PHONE']
label = 'TARGET'
num = [x for x in set(df.columns)-set('TARGET') if x not in cat]
print(len(cat),len(num))

42 80

In [23]:
p = ['FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13',
       'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9']
x = set(df[p].sum(axis=1))
print(x)
print(max(x),min(x))

{0, 1, 2, 3, 4}
4 0

In [28]:
x = df.isnull().any()
x[x==True].index

Index(['AMT_ANNUITY', 'AMT_GOODS_PRICE', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'APARTMENTS_AVG', 'APARTMENTS_MEDI',
       'APARTMENTS_MODE', 'BASEMENTAREA_AVG', 'BASEMENTAREA_MEDI',
       'BASEMENTAREA_MODE', 'CNT_FAM_MEMBERS', 'COMMONAREA_AVG',
       'COMMONAREA_MEDI', 'COMMONAREA_MODE', 'DAYS_LAST_PHONE_CHANGE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'ELEVATORS_AVG',
       'ELEVATORS_MEDI', 'ELEVATORS_MODE', 'EMERGENCYSTATE_MODE',
       'ENTRANCES_AVG', 'ENTRANCES_MEDI', 'ENTRANCES_MODE', 'EXT_SOURCE_1',
       'EXT_SOURCE_2', 'EXT_SOURCE_3', 'FLOORSMAX_AVG', 'FLOORSMAX_MEDI',
       'FLOORSMAX_MODE', 'FLOORSMIN_AVG', 'FLOORSMIN_MEDI', 'FLOORSMIN_MODE',
       'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'LANDAREA_AVG', 'LANDAREA_MEDI',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_AVG', 'LIVINGAREA_MEDI',
       'LIVINGAREA_MODE', 'NAME_TYPE_SUITE', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAPARTMENTS_MODE',
       'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MEDI', 'NONLIVINGAREA_MODE',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'OCCUPATION_TYPE', 'OWN_CAR_AGE', 'TARGET', 'TOTALAREA_MODE',
       'WALLSMATERIAL_MODE', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BEGINEXPLUATATION_MODE',
       'YEARS_BUILD_AVG', 'YEARS_BUILD_MEDI', 'YEARS_BUILD_MODE'],
      dtype='object')

In [39]:
print(df['AMT_REQ_CREDIT_BUREAU_DAY'].max())

9.0

In [36]:
y = []
z = []
for x in num:
    y.append(x),
    z.append(abs(train[x].corr(train[label])))
    
print(sorted(z))

[0.00078771174890344942, 0.00093042460969475086, 0.0015565608459037436, 0.0020219274353456473, 0.002108469018197718, 0.0027044013780416834, 0.0027571486021083832, 0.0028194791841588355, 0.0031761075207261389, 0.0039818656012056549, 0.0055759445209084824, 0.0069419075453715949, 0.0090221436302148697, 0.0090364473543011799, 0.0091306657027763888, 0.0093077843965310852, 0.0097276732686801294, 0.0099930965596965772, 0.010174103567660468, 0.010884822678806697, 0.011255826639923514, 0.012462419228138661, 0.012710543748878216, 0.012816561515413582, 0.013336719980273918, 0.013578069781984782, 0.016340337311304107, 0.017387422304882948, 0.018549661629760329, 0.018572868907710902, 0.019024756327399774, 0.01917218201273824, 0.019187133596270032, 0.019929858569466708, 0.01995228392431541, 0.02206820383485656, 0.022081261373190029, 0.022149284063388876, 0.022325926477474379, 0.022745743190148129, 0.023393245570197566, 0.024165831430094396, 0.024620663606504965, 0.025030533291064486, 0.027283870667753174, 0.029183758876693573, 0.029497564633431703, 0.030369286461429688, 0.030684615765641455, 0.031276472126436458, 0.032131171004995254, 0.032247579253044403, 0.032518341101499017, 0.032595546758941593, 0.032697825310474882, 0.032739284407815164, 0.032997117467611567, 0.033394287191135172, 0.033613503251899816, 0.03386287676844596, 0.03419879367526827, 0.037227148542445146, 0.037611564275165467, 0.039645281169544119, 0.041974862831417055, 0.043226263213819865, 0.043767921047701511, 0.044003370532402095, 0.044395374805701174, 0.044931662657738514, 0.050994464368126595, 0.051457172607057483, 0.055218483513459732, 0.058899014945712487, 0.060892667564823581, 0.078239308309826922, 0.15531712606394882, 0.16047167160520978, 0.17891869762837218, 0.99999999999999978]

In [49]:
x = list(set(bureau_balance['SK_ID_BUREAU']))
x[5]

6291461

# bureau

In [6]:
print(bureau.isnull().any())

SK_ID_CURR                False
SK_ID_BUREAU              False
CREDIT_ACTIVE             False
CREDIT_CURRENCY           False
DAYS_CREDIT               False
CREDIT_DAY_OVERDUE        False
DAYS_CREDIT_ENDDATE        True
DAYS_ENDDATE_FACT          True
AMT_CREDIT_MAX_OVERDUE     True
CNT_CREDIT_PROLONG        False
AMT_CREDIT_SUM             True
AMT_CREDIT_SUM_DEBT        True
AMT_CREDIT_SUM_LIMIT       True
AMT_CREDIT_SUM_OVERDUE    False
CREDIT_TYPE               False
DAYS_CREDIT_UPDATE        False
AMT_ANNUITY                True
dtype: bool

# bureau balance

In [36]:
d = []
last = {}
bbb = bb[bb['SK_ID_BUREAU']==5715479][['SK_ID_BUREAU', 'STATUS']]
# for i in range(bbb.shape[0]):
bbbb = bb.sort_values('MONTHS_BALANCE', ascending=False)
print('done')
for i in range(bbbb.shape[0]):
    key = bb.loc[i, 'SK_ID_BUREAU']
    tmp = bb.loc[i, 'STATUS'] == 'C'
    tmp0 = bb.loc[i, 'STATUS'] == '0'
    tmpx = bb.loc[i, 'STATUS'] == 'X'
    
    if last.get(key) != 'C' and tmp:
        if last.get(key) != None:
            d.append((key, bb.loc[i, 'STATUS']))
            print(i, key, bb.loc[i, 'STATUS'])
    elif last.get(key) == 'C' and not tmp and not tmp0 and not tmpx:
        d.append((key, bb.loc[i, 'STATUS']))
        print(i, key, bb.loc[i, 'STATUS'])
    last[key] = bb.loc[i, 'STATUS']
print('done')

done
1886 5718509 1
2423 5718761 1
3640 5719027 1
3765 5719030 1
8547 5719653 1
9406 5719836 2
9475 5719837 1
10232 5720038 2
13962 5212230 2
16386 5212506 1
16387 5212506 C
18121 5213110 2
18146 5213111 2
24398 5229478 1
25746 5229957 1
26507 5230056 1
29832 5230719 4
30245 5230729 4
31478 5231201 1
31661 5231206 1
31827 5231215 1
32164 5231284 1
35179 5235586 1
35264 5235587 1
38457 5258380 2
42297 5262322 2
44675 5262823 1
44870 5262826 1
45435 6019471 1
51459 6021056 1
52136 6021272 1
52229 6021273 4
52390 6021277 1
53362 6021467 1
54205 6021596 1
54751 6021620 1
55195 6021651 1
55737 6021954 1
56274 6022071 1
56767 6022275 2
57817 5001786 1
60432 5002766 1
60482 5002797 5
63073 5003199 1
63941 5003267 1
72078 5720577 1
72147 5720580 1
72994 5720684 1
73092 5720685 1
75502 5726572 1
75536 5726576 1
75575 5726578 1
76491 5726963 1
79484 5729876 1
79530 5729972 1
79547 5729973 1
79564 5729974 1
79589 5729975 1
79789 5224236 1
79802 5224237 1
79815 5224238 1
81403 5228729 4
81466 5228928 1
82462 5229087 2
82840 5229190 1
84174 6558611 1
87887 6559197 1
89132 6559751 1
90357 6559954 1
90750 6560171 1
90834 6560173 1
90888 6560174 1
91502 5235723 1
92660 5236031 2
93404 5236267 1
99141 5241570 1
99179 5241573 1
99708 5241757 2
100234 5241787 1
100839 5798177 1
101173 5798184 1
101803 5798426 1
103208 5798483 1
106124 5805361 1
107684 5807287 1
107919 5807294 1
110956 5808512 1
110994 5808513 1
111072 5808515 1
111137 5808517 1
113309 5263246 1

KeyboardInterrupt:

In [13]:
print(bb[bb['SK_ID_BUREAU']==5212230])

       SK_ID_BUREAU  MONTHS_BALANCE STATUS
13898       5212230               0      C
13899       5212230              -1      C
13900       5212230              -2      C
13901       5212230              -3      C
13902       5212230              -4      C
13903       5212230              -5      C
13904       5212230              -6      C
13905       5212230              -7      C
13906       5212230              -8      C
13907       5212230              -9      C
13908       5212230             -10      C
13909       5212230             -11      C
13910       5212230             -12      C
13911       5212230             -13      C
13912       5212230             -14      C
13913       5212230             -15      C
13914       5212230             -16      C
13915       5212230             -17      C
13916       5212230             -18      C
13917       5212230             -19      C
13918       5212230             -20      C
13919       5212230             -21      C
13920       5212230             -22      C
13921       5212230             -23      C
13922       5212230             -24      C
13923       5212230             -25      C
13924       5212230             -26      C
13925       5212230             -27      C
13926       5212230             -28      C
13927       5212230             -29      C
...             ...             ...    ...
13958       5212230             -60      C
13959       5212230             -61      C
13960       5212230             -62      C
13961       5212230             -63      C
13962       5212230             -64      2
13963       5212230             -65      1
13964       5212230             -66      1
13965       5212230             -67      0
13966       5212230             -68      0
13967       5212230             -69      0
13968       5212230             -70      0
13969       5212230             -71      0
13970       5212230             -72      0
13971       5212230             -73      0
13972       5212230             -74      0
13973       5212230             -75      X
13974       5212230             -76      X
13975       5212230             -77      X
13976       5212230             -78      X
13977       5212230             -79      X
13978       5212230             -80      X
13979       5212230             -81      X
13980       5212230             -82      X
13981       5212230             -83      X
13982       5212230             -84      X
13983       5212230             -85      X
13984       5212230             -86      X
13985       5212230             -87      X
13986       5212230             -88      X
13987       5212230             -89      X

[90 rows x 3 columns]

In [6]:
a = {'a':True}
a['b'] = 'b' in a
print(a)

{'a': True, 'b': False}

In [11]:
tmp = bb.sort_values('MONTHS_BALANCE', ascending=False)

In [15]:
tmp[tmp['SK_ID_BUREAU']==6021273]

       SK_ID_BUREAU  MONTHS_BALANCE STATUS
52167       6021273               0      C
52168       6021273              -1      C
52169       6021273              -2      C
52170       6021273              -3      C
52171       6021273              -4      C
52172       6021273              -5      C
52173       6021273              -6      C
52174       6021273              -7      C
52175       6021273              -8      C
52176       6021273              -9      C
52177       6021273             -10      C
52178       6021273             -11      C
52179       6021273             -12      C
52180       6021273             -13      C
52181       6021273             -14      C
52182       6021273             -15      C
52183       6021273             -16      C
52184       6021273             -17      C
52185       6021273             -18      C
52186       6021273             -19      C
52187       6021273             -20      C
52188       6021273             -21      C
52189       6021273             -22      C
52190       6021273             -23      C
52191       6021273             -24      C
52192       6021273             -25      C
52193       6021273             -26      C
52194       6021273             -27      C
52195       6021273             -28      C
52196       6021273             -29      C
...             ...             ...    ...
52234       6021273             -67      5
52235       6021273             -68      5
52236       6021273             -69      5
52237       6021273             -70      4
52238       6021273             -71      3
52239       6021273             -72      2
52240       6021273             -73      2
52241       6021273             -74      1
52242       6021273             -75      1
52243       6021273             -76      1
52244       6021273             -77      1
52245       6021273             -78      1
52246       6021273             -79      1
52247       6021273             -80      1
52248       6021273             -81      1
52249       6021273             -82      1
52250       6021273             -83      1
52251       6021273             -84      0
52252       6021273             -85      0
52253       6021273             -86      0
52254       6021273             -87      0
52255       6021273             -88      0
52256       6021273             -89      0
52257       6021273             -90      1
52258       6021273             -91      1
52259       6021273             -92      1
52260       6021273             -93      0
52261       6021273             -94      0
52262       6021273             -95      0
52263       6021273             -96      0

[97 rows x 3 columns]