In [8]:
import pandas as pd
import numpy as np

PATH = '/home/kai/data/kaggle/homecredit/'
train = pd.read_csv(PATH + 'application_train.csv')
print('train')
test = pd.read_csv(PATH + 'application_test.csv')
print('test')
bureau = pd.read_csv(PATH + 'bureau.csv')
print('bureau')
bb = pd.read_csv(PATH + 'bureau_balance.csv')
print('bureau_balance')
df = pd.concat([train[['SK_ID_CURR']], test[['SK_ID_CURR']]])
print('concat')

train
test
bureau
bureau_balance
concat

In [ ]:
bbid = set(bb.SK_ID_BUREAU)
bid = set(bureau.SK_ID_BUREAU)
bcid = set(bureau.SK_ID_CURR)
trid = set(train.SK_ID_CURR)
teid = set(test.SK_ID_CURR)
diid = set(bbid & bid)
dicid = set([bureau.loc[i, 'SK_ID_CURR'] for i in range(bureau.shape[0]) if bureau.loc[i, 'SK_ID_BUREAU'] in diid])

In [ ]:
print('te-bcid', len(teid&bcid)/len(teid),len(teid&bcid),len(teid))
print('te-bcid', len(trid&bcid)/len(trid),len(trid&bcid),len(trid))

In [ ]:
print('te-bb', len(dicid&teid)/len(teid),len(dicid&teid),len(teid))
print('tr-bb', len(dicid&trid)/len(trid),len(dicid&trid),len(trid))

In [ ]:
print(len(ditrid))

In [2]:
import pandas as pd
PATH = '/home/kai/data/kaggle/homecredit/'

x = pd.read_csv(PATH + 'submission_merged0.csv')

In [4]:
y = x.groupby('SK_ID_CURR').mean().reset_index()

In [5]:
print(y)

       SK_ID_CURR    TARGET
0          100001  0.024176
1          100005  0.131540
2          100013  0.006864
3          100028  0.038154
4          100038  0.133730
5          100042  0.013979
6          100057  0.003022
7          100065  0.024512
8          100066  0.005154
9          100067  0.054297
10         100074  0.057534
11         100090  0.022338
12         100091  0.107015
13         100092  0.027780
14         100106  0.029416
15         100107  0.173929
16         100109  0.043275
17         100117  0.016109
18         100128  0.048772
19         100141  0.029929
20         100150  0.014425
21         100168  0.003050
22         100169  0.019907
23         100170  0.213396
24         100171  0.057386
25         100172  0.162565
26         100184  0.042113
27         100187  0.046182
28         100212  0.015061
29         100222  0.049663
...           ...       ...
48714      455963  0.014638
48715      455965  0.001692
48716      456007  0.180286
48717      456008  0.007211
48718      456009  0.007682
48719      456010  0.095124
48720      456011  0.021868
48721      456013  0.329000
48722      456028  0.079420
48723      456058  0.244523
48724      456111  0.039400
48725      456114  0.152185
48726      456115  0.013499
48727      456116  0.006507
48728      456119  0.007143
48729      456120  0.130319
48730      456122  0.053719
48731      456123  0.019559
48732      456166  0.073720
48733      456167  0.025238
48734      456168  0.052285
48735      456169  0.039383
48736      456170  0.012396
48737      456189  0.094376
48738      456202  0.036432
48739      456221  0.063065
48740      456222  0.057404
48741      456223  0.004920
48742      456224  0.010243
48743      456250  0.330392

[48744 rows x 2 columns]

In [11]:
test.SK_ID_CURR

0        100001
1        100005
2        100013
3        100028
4        100038
5        100042
6        100057
7        100065
8        100066
9        100067
10       100074
11       100090
12       100091
13       100092
14       100106
15       100107
16       100109
17       100117
18       100128
19       100141
20       100150
21       100168
22       100169
23       100170
24       100171
25       100172
26       100184
27       100187
28       100212
29       100222
          ...
48714    455963
48715    455965
48716    456007
48717    456008
48718    456009
48719    456010
48720    456011
48721    456013
48722    456028
48723    456058
48724    456111
48725    456114
48726    456115
48727    456116
48728    456119
48729    456120
48730    456122
48731    456123
48732    456166
48733    456167
48734    456168
48735    456169
48736    456170
48737    456189
48738    456202
48739    456221
48740    456222
48741    456223
48742    456224
48743    456250
Name: SK_ID_CURR, Length: 48744, dtype: int64

In [6]:
print((y['TARGET']>0.5).sum())

200

In [7]:
y.to_csv(PATH + 'submission_wrong.csv', index=False)

In [1]:
import pandas as pd

PATH = '/home/kai/data/kaggle/homecredit/'
x = pd.read_csv(PATH + 'previous_application.csv')
y = pd.read_csv(PATH + 'installments_payments.csv')

In [2]:
set(x['NAME_CONTRACT_STATUS'])

{'Approved', 'Canceled', 'Refused', 'Unused offer'}

In [7]:
z = x[x['NAME_CONTRACT_STATUS']=='Refused']
z.SK_ID_PREV

4          1784265
19         1173070
20         1506815
22         1172842
23         1172937
29         1583704
36         2766278
45         2621158
52         1912041
54         1399859
80         2012211
81         1299881
84         2796269
85         1981960
100        2289239
101        1196771
103        1247611
105        1067163
109        1729112
110        1192792
114        1168659
116        2640293
117        1070086
118        2545472
125        2449093
137        2255346
145        1375746
153        1892110
158        2285261
163        1979918
            ...
1670114    1483359
1670115    1252861
1670116    1203903
1670117    1228257
1670119    2380375
1670120    2494083
1670121    1637907
1670123    2594678
1670124    1378950
1670126    2698547
1670133    2786851
1670134    2046829
1670136    2625018
1670138    2740155
1670141    1814440
1670142    1483533
1670144    1867344
1670154    1615585
1670157    2623976
1670161    2461432
1670181    2710915
1670184    1458393
1670185    2815037
1670191    1755809
1670193    1120445
1670197    1854636
1670203    2844282
1670204    1407146
1670205    2815130
1670207    1662353
Name: SK_ID_PREV, Length: 290678, dtype: int64

In [12]:
l = []
for i in z.SK_ID_PREV:
    l.append(y[y.SK_ID_PREV == i].shape[0])
    print(l[-1])

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

KeyboardInterrupt:

In [11]:
y[y.SK_ID_PREV == 1662353]

Empty DataFrame
Columns: [SK_ID_PREV, SK_ID_CURR, NUM_INSTALMENT_VERSION, NUM_INSTALMENT_NUMBER, DAYS_INSTALMENT, DAYS_ENTRY_PAYMENT, AMT_INSTALMENT, AMT_PAYMENT]
Index: []

In [1]:
import pandas as pd
credit = pd.read_csv('/home/kai/data/kaggle/homecredit/credit_card_balance.csv')

In [2]:
credit.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [3]:
credit[['AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL']]

         AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL
0             56.970                   135000
1          63975.555                    45000
2          31815.225                   450000
3         236572.110                   225000
4         453919.455                   450000
5          82903.815                   270000
6         353451.645                   585000
7          47962.125                    45000
8         291543.075                   292500
9         201261.195                   225000
10        102076.560                   180000
11        131669.145                   225000
12          1427.265                   135000
13             0.000                   270000
14             0.000                    45000
15        131294.340                   135000
16         72899.955                   450000
17             0.000                    67500
18             0.000                        0
19        452774.700                   450000
20         45413.730                    45000
21         68710.140                    67500
22         85792.095                   135000
23        464452.470                   450000
24        152801.550                   157500
25        134249.445                   157500
26         67609.125                   450000
27         76235.940                   180000
28        137812.185                   180000
29             0.000                   270000
...              ...                      ...
3840282        0.000                        0
3840283       13.950                   765000
3840284        0.000                        0
3840285        0.000                        0
3840286        0.000                        0
3840287   458892.135                   450000
3840288   458892.135                   450000
3840289        0.000                    45000
3840290        0.000                        0
3840291   308056.005                   405000
3840292   270242.955                   292500
3840293        0.000                        0
3840294        0.000                        0
3840295   457382.340                   900000
3840296        0.000                        0
3840297        0.000                   450000
3840298   260671.500                   270000
3840299    81697.275                   765000
3840300    81697.275                   765000
3840301   277204.095                   450000
3840302        0.000                    45000
3840303        0.000                        0
3840304        0.000                        0
3840305        0.000                        0
3840306        0.000                   180000
3840307        0.000                    45000
3840308        0.000                    45000
3840309   275784.975                   585000
3840310        0.000                   450000
3840311        0.000                   157500

[3840312 rows x 2 columns]

In [11]:
sum(credit[['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT']].sum(axis=1) - credit['AMT_DRAWINGS_CURRENT'] > 0)

2565

In [22]:
credit[['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_DRAWINGS_CURRENT', 'AMT_BALANCE', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE']].isnull().any()

AMT_DRAWINGS_ATM_CURRENT       True
AMT_DRAWINGS_OTHER_CURRENT     True
AMT_DRAWINGS_POS_CURRENT       True
AMT_DRAWINGS_CURRENT          False
AMT_BALANCE                   False
AMT_RECIVABLE                 False
AMT_TOTAL_RECEIVABLE          False
dtype: bool

In [18]:
sum(credit['AMT_PAYMENT_TOTAL_CURRENT'] - credit['AMT_BALANCE'] >= 0)

2273560