# Data Clean

In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

PATH = '/home/kai/data/kaggle/homecredit/'
inst0 = pd.read_csv(PATH + 'installments_payments.csv')

In [2]:
inst = inst0.fillna(0)

In [3]:
inst.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [6]:
g = inst.copy()
gp_col = ['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER']

this_gp_col = gp_col + ['NUM_INSTALMENT_VERSION', 'DAYS_INSTALMENT']
tmp = g[this_gp_col + ['AMT_INSTALMENT']].groupby(this_gp_col)[['AMT_INSTALMENT']].mean().reset_index()
print('AMT_INST')

this_gp_col = gp_col + ['DAYS_INSTALMENT']
g = g.merge(tmp[this_gp_col+['AMT_INSTALMENT']].groupby(this_gp_col)[['AMT_INSTALMENT']].sum().reset_index().rename(columns={'AMT_INSTALMENT':'new_AMT_INSTALMENT'}), on=this_gp_col, how='left')
print('new_AMT')

AMT_INST
new_AMT

In [22]:
group = g.copy()

this_gp_col = gp_col + ['NUM_INSTALMENT_VERSION']
group = group.merge(g.groupby(this_gp_col).size().reset_index().rename(columns={0:'num'}), on=this_gp_col, how='left')
print('num')

group = group.merge(group[gp_col+['num']].groupby(gp_col)[['num']].nunique().reset_index().rename(columns={'num':'equal'}), on=gp_col, how='left')
print('equal')

group = group.merge(group[this_gp_col].groupby(gp_col)[['NUM_INSTALMENT_VERSION']].max().reset_index().rename(columns={'NUM_INSTALMENT_VERSION':'max'}), on=gp_col, how='left')
print('max')

num
equal
max
final

In [24]:
final = group[~((group['num']>1) & (group['equal']==1) & (group['NUM_INSTALMENT_VERSION']!=group['max']))]
print('final')

final

In [41]:
import os
os.mkdir(PATH + 'inter/tmp')
final.to_pickle(PATH + '/inter/tmp/inst.pkl')

 # test code

In [35]:
tmp = inst.groupby(gp_col)[['NUM_INSTALMENT_VERSION']].nunique().reset_index()

ttmp = inst[gp_col+['NUM_INSTALMENT_VERSION']].groupby(gp_col+['NUM_INSTALMENT_VERSION']).size().reset_index().groupby(gp_col)[0].nunique().reset_index()
tmp = tmp.merge(ttmp, on=gp_col, how='left')

ttmp = inst.groupby(gp_col)[['DAYS_INSTALMENT']].count().reset_index()
tmp = tmp.merge(ttmp, on=gp_col, how='left')

In [10]:
p = [2426357, 15]
inst[(inst['SK_ID_PREV']==p[0]) & (inst['NUM_INSTALMENT_NUMBER']==p[1])].sort_values('NUM_INSTALMENT_VERSION')

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
408458,2426357,121033,1.0,15,-994.0,-956.0,8337.060,656.595
1292876,2426357,121033,1.0,15,-994.0,-1001.0,8337.060,14.400
1526192,2426357,121033,1.0,15,-994.0,-977.0,8337.060,13500.000
3197210,2426357,121033,1.0,15,-994.0,-988.0,8337.060,8338.500
3552064,2426357,121033,1.0,15,-994.0,-1001.0,8337.060,8337.060
408459,2426357,121033,2.0,15,-994.0,-956.0,22509.495,656.595
1292877,2426357,121033,2.0,15,-994.0,-1001.0,22509.495,14.400
1526193,2426357,121033,2.0,15,-994.0,-977.0,22509.495,13500.000
3197211,2426357,121033,2.0,15,-994.0,-988.0,22509.495,8338.500
3552065,2426357,121033,2.0,15,-994.0,-1001.0,22509.495,8337.060

In [59]:
p = [2426357, 15]
final[(final['SK_ID_PREV']==p[0]) & (final['NUM_INSTALMENT_NUMBER']==p[1])]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,new_AMT_INSTALMENT,num,equal,max
408459,2426357,121033,2.0,15,-994.0,-956.0,22509.495,656.595,30846.555,5,1,2.0
1292877,2426357,121033,2.0,15,-994.0,-1001.0,22509.495,14.400,30846.555,5,1,2.0
1526193,2426357,121033,2.0,15,-994.0,-977.0,22509.495,13500.000,30846.555,5,1,2.0
3197211,2426357,121033,2.0,15,-994.0,-988.0,22509.495,8338.500,30846.555,5,1,2.0
3552065,2426357,121033,2.0,15,-994.0,-1001.0,22509.495,8337.060,30846.555,5,1,2.0

In [60]:
p = [2426357, 15]
payment_series[(payment_series['SK_ID_PREV']==p[0]) & (payment_series['NUM_INSTALMENT_NUMBER']==p[1])]

,SK_ID_PREV,NUM_INSTALMENT_NUMBER,NUM_INSTALMENT_VERSION,LATE_DAYS_SIGN,AMT_PAYMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,DAYS_INSTALMENT,SK_ID_CURR,AMT_CUM_PAYMENT,AMT_LATE_PAYMENT,RATE_LATE_PAYMENT
10600979,2426357,15,2.0,-0.0,8351.460,-994.0,22509.495,-994.0,121033,8351.460,14158.035,1.695074
10600980,2426357,15,2.0,6.0,8338.500,-988.0,22509.495,-994.0,121033,16689.960,5819.535,0.348664
10600981,2426357,15,2.0,17.0,13500.000,-977.0,22509.495,-994.0,121033,30189.960,-7680.465,-0.254396
10600982,2426357,15,2.0,38.0,656.595,-956.0,22509.495,-994.0,121033,30846.555,-8337.060,-0.270266

In [58]:
tmp[tmp['NUM_INSTALMENT_VERSION'] == 2].sort_values('DAYS_INSTALMENT', ascending=False)

,SK_ID_PREV,NUM_INSTALMENT_NUMBER,NUM_INSTALMENT_VERSION,0,DAYS_INSTALMENT
10045364,2426357,15,2,1,10
2079363,1282551,8,2,1,8
11626945,2660511,6,2,1,8
4953514,1676214,9,2,1,8
1780379,1239348,23,2,1,8
1770933,1238449,10,2,1,8
10836139,2543281,14,2,1,8
6196539,1861225,5,2,1,6
1198410,1159357,7,2,1,6
2653066,1360999,18,2,1,6
9871819,2403622,18,2,1,6
10777201,2536382,8,2,1,6
4474153,1605181,6,2,1,6
11812533,2690218,13,2,1,6
8216973,2159338,2,2,1,6
6670502,1929619,1,2,1,6
229988,1028923,18,2,1,6
4585650,1622030,13,2,1,6
11318776,2612889,5,2,1,6
4589360,1622691,10,2,1,6
4590059,1622758,3,2,1,6
2498230,1333336,7,2,1,6
467619,1058537,6,2,1,6
467617,1058537,4,2,1,6
11708220,2672434,5,2,1,6
10044369,2426259,3,2,1,6
6424463,1895797,3,2,1,6
5669029,1780259,18,2,1,6
8901278,2257737,5,2,1,6
8624073,2221516,12,2,1,6
...,...,...,...,...,...
4300674,1581324,5,2,1,2
4300673,1581324,4,2,1,2
4300672,1581324,3,2,1,2
4300670,1581324,1,2,1,2
4300593,1580342,3,2,1,2
4300559,1580317,7,2,1,2
4300556,1580317,4,2,1,2
4300505,1579911,2,2,1,2
4303135,1581705,14,2,1,2
4303870,1581764,1,2,1,2
4303871,1581764,2,2,1,2
4304146,1581799,4,2,1,2
4305189,1583016,8,2,1,2
4305168,1583014,9,2,1,2
4305113,1582573,4,2,1,2
4305112,1582573,3,2,1,2
4305111,1582573,2,2,1,2
4305110,1582573,1,2,1,2
4304985,1582560,21,2,1,2
4304983,1582560,19,2,1,2
4304897,1582537,4,2,1,2
4304896,1582537,3,2,1,2
4304865,1582532,8,2,1,2
4304860,1582532,3,2,1,2
4304841,1581849,5,2,1,2
4304840,1581849,4,2,1,2
4304839,1581849,3,2,1,2
4304171,1581804,1,2,1,2
4304148,1581799,6,2,1,2
12861791,2843483,11,2,1,2

# feature code

In [1]:
from sklearn.linear_model import LinearRegression

def minus_name(col1, col2): return col1 + '_minus_' + col2
def minus(df, col1, col2): return df[col1] - df[col2]

def ratio_name(col1, col2): return col1 + '_divide_' + col2
def ratio(df, col1, col2): return df[col1] / (df[col2] + 1)

def positive_count(df, gp_col, col):
    group = (df[col] > 0).astype('int8')
    group = pd.concat([df[gp_col], group], axis=1).groupby(gp_col)[[col]].sum().reset_index().rename(index=str, columns={col: 'positivecount_'+'_'.join(gp_col + [col])})
    return group

def count(df, gp_col, col):
    group = df[gp_col+[col]].groupby(gp_col)[[col]].count().reset_index().rename(index=str, columns={col:'count_'+gp_col})
    return group

def numerical(df, gp_col, col, agg_fun):
    _df = df.groupby(gp_col)[[col]].agg(agg_fun)
    
    columns = []
    for x in _df.columns.levels[0]:
        for y in _df.columns.levels[1]:
            columns.append('_'.join([x, y]))
    _df.columns = columns
    return _df.reset_index()

def one_hot(df, gp_col, col):
    return pd.concat([df[gp_col], pd.get_dummies(df[col], prefix='onehot_' + col)], axis=1).groupby(gp_col).sum().reset_index()

def linear(df, gp_col, x_col_name, y_col_name):
    r = []
    for i, x in df.groupby(gp_col):
        lg = LinearRegression()
        lg1 = LinearRegression()
        
        lg.fit(x[[x_col_name]], x[[y_col_name]])
        x_max = max(x[x_col_name])
        x_min = min(x[x_col_name])
        lg1.fit((x[[x_col_name]]-x_max)/(x_max-x_min+1), x[[y_col_name]])
        r.append([i, lg.coef_[0][0], lg1.coef_[0][0]])
    tmpdf = pd.DataFrame(r, columns=[gp_col, x_col_name+'_lg_'+y_col_name, x_col_name+'_normallg_'+y_col_name])
    return tmpdf

def feature_in_time_window(df, gp_col, col, func, add_fun=None, n=None, time_col=None):
    tmp = None
    _df = df.copy()
    if n is not None:
        _df = _df[_df[time_col] >= n]
    if add_fun is None:
        tmp = func_(df[_df[time_col] >= n], gp_col, col)
    else:
        tmp = func(_df[_df[time_col] >= n], gp_col, col, add_fun)
    columns = [str(abs(n))+'_'+x for x in set(tmp.columns) - set(gp_col)]
    tmp.columns = columns
    return tmp

def area_under_curve(df, gp_col, x, y):
    gp = df.copy()
    gp_max = gp.groupby(gp_col)[[x]].max().reset_index().rename(columns={x:'max'})
    gp_min = gp.groupby(gp_col)[[x]].min().reset_index().rename(columns={x:'min'})
    gp = gp.merge(gp_max)
    gp = gp.merge(gp_min)
    gp['normal_x'] = (gp[x]-gp['max']) / (gp['max']-gp['min']+1)
    
    group = gp.groupby(gp_col)
    gp['tmp'] = (group[y].shift(-1)+gp[y]) * (group[x].shift(-1)-gp[x]) / 2
    gp['tmp_normal'] = (group[y].shift(-1)+gp[y]) * (group['normal_x'].shift(-1)-gp['normal_x']) / 2
    return gp.groupby(gp_col).agg({'tmp':'sum', 'tmp_normal':'sum'}).reset_index().rename(columns={'tmp':x+'_area_'+y, 'tmp_normal':x+'_normalarea_'+y})

'done'

'done'

In [2]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

PATH = '/home/kai/data/kaggle/homecredit/'

inst = pd.read_pickle(PATH + '/inter/tmp/inst.pkl')

inst['EARLY_DAYS'] = inst['DAYS_INSTALMENT'] - inst['DAYS_ENTRY_PAYMENT']
inst['LATE_DAYS'] = -inst['EARLY_DAYS']
inst['LATE_DAYS_SIGN'] = (np.sign(inst['LATE_DAYS']) > 0) * inst['LATE_DAYS']

gp_col = ['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER', 'NUM_INSTALMENT_VERSION']
payment_series = inst.groupby(gp_col+['LATE_DAYS_SIGN']).agg({'AMT_PAYMENT': 'sum', 'DAYS_ENTRY_PAYMENT': 'max', 'AMT_INSTALMENT': 'max', 'DAYS_INSTALMENT': 'max', 'SK_ID_CURR': 'max'}).reset_index()
payment_series['AMT_CUM_PAYMENT'] = payment_series.groupby(gp_col)[['AMT_PAYMENT']].cumsum()
payment_series['AMT_LATE_PAYMENT'] = payment_series['AMT_INSTALMENT'] - payment_series['AMT_CUM_PAYMENT']
payment_series['RATE_LATE_PAYMENT'] = payment_series['AMT_LATE_PAYMENT'] / (payment_series['AMT_CUM_PAYMENT']+1)
payment_series['DAYS_ENTRY_PAYMENT'] = payment_series[['DAYS_ENTRY_PAYMENT', 'DAYS_INSTALMENT']].max(axis=1)
payment_series.sort_values('DAYS_ENTRY_PAYMENT', ascending=False)
payment_series.dtypes

SK_ID_PREV                  int64
NUM_INSTALMENT_NUMBER       int64
NUM_INSTALMENT_VERSION    float64
LATE_DAYS_SIGN            float64
AMT_PAYMENT               float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
DAYS_INSTALMENT           float64
SK_ID_CURR                  int64
AMT_CUM_PAYMENT           float64
AMT_LATE_PAYMENT          float64
RATE_LATE_PAYMENT         float64
dtype: object

In [3]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

PATH = '/home/kai/data/kaggle/homecredit/'

train = pd.read_csv(PATH + 'application_train.csv')
test = pd.read_csv(PATH + 'application_test.csv')

df = pd.concat([train[['SK_ID_CURR']], test[['SK_ID_CURR']]])
print(df.shape)

(356255, 1)

In [4]:
gp_col = ['SK_ID_CURR', 'SK_ID_PREV', 'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT']
tmp_df = inst.groupby(gp_col).size().reset_index()[gp_col]

for func in [area_under_curve, linear]:
    print(func)
    for x in ['AMT_LATE_PAYMENT', 'RATE_LATE_PAYMENT']:
        print(x)
        tmp_df = tmp_df.merge(func(payment_series, gp_col, 'DAYS_ENTRY_PAYMENT', x), on=gp_col, how='left')
        print(tmp_df.shape)
    
merge_col = ['SK_ID_CURR']
agg_fun = ['sum', 'mean', 'median', 'max', 'min']
for x in tmp_df.columns:
    if x not in gp_col:
        print(x)
        df = df.merge(numerical(tmp_df, merge_col, x, agg_fun))
        print('num\t', df.shape)
    
for x in ['EARLY_DAYS', 'LATE_DAYS']:
    print(x)
    df = df.merge(positive_count(inst, merge_col, x), on=merge_col, how='left')
    print('positive count\t', tmp_df.shape)

for func in [area_under_curve, linear]:
    print(func)
    for x in ['AMT_LATE_PAYMENT', 'RATE_LATE_PAYMENT', 'LATE_DAYS_SIGN']:
        print(x)
        df = df.merge(func(payment_series, merge_col, 'DAYS_ENTRY_PAYMENT', x), on=merge_col, how='left')
        print(df.shape)

<function area_under_curve at 0x7f3376dcc8c8>
AMT_LATE_PAYMENT
(12862309, 6)
RATE_LATE_PAYMENT
(12862309, 8)
<function linear at 0x7f3376dcc840>
AMT_LATE_PAYMENT

KeyboardInterrupt:

In [ ]:
df.to_pickle(PATH + 'inter/linear/newnewlinearinst2curr.pkl')

In [ ]:
set('a')