In [1]:
import pandas as pd
import numpy as np
import os

PATH = '/home/kai/data/kaggle/homecredit/'
prev = pd.read_csv(PATH + 'previous_application.csv')
prev.shape

(1670214, 37)

In [8]:
l = []
for x in prev.columns:
    l.append([x,int(sum(prev[x].isnull())/prev.shape[0]*100)])
r = pd.DataFrame(l, columns=['name', 'val'])
r.sort_values('val', ascending=False)

                           name  val
14     RATE_INTEREST_PRIVILEGED   99
13        RATE_INTEREST_PRIMARY   99
12            RATE_DOWN_PAYMENT   53
6              AMT_DOWN_PAYMENT   53
20              NAME_TYPE_SUITE   49
36    NFLAG_INSURED_ON_APPROVAL   40
31           DAYS_FIRST_DRAWING   40
32               DAYS_FIRST_DUE   40
33    DAYS_LAST_DUE_1ST_VERSION   40
34                DAYS_LAST_DUE   40
35             DAYS_TERMINATION   40
7               AMT_GOODS_PRICE   23
3                   AMT_ANNUITY   22
28                  CNT_PAYMENT   22
26             SELLERPLACE_AREA    0
24            NAME_PRODUCT_TYPE    0
25                 CHANNEL_TYPE    0
29             NAME_YIELD_GROUP    0
27         NAME_SELLER_INDUSTRY    0
22          NAME_GOODS_CATEGORY    0
30          PRODUCT_COMBINATION    0
23               NAME_PORTFOLIO    0
0                    SK_ID_PREV    0
21             NAME_CLIENT_TYPE    0
19           CODE_REJECT_REASON    0
1                    SK_ID_CURR    0
17                DAYS_DECISION    0
16         NAME_CONTRACT_STATUS    0
15       NAME_CASH_LOAN_PURPOSE    0
11       NFLAG_LAST_APPL_IN_DAY    0
10  FLAG_LAST_APPL_PER_CONTRACT    0
9       HOUR_APPR_PROCESS_START    0
8    WEEKDAY_APPR_PROCESS_START    0
5                    AMT_CREDIT    0
4               AMT_APPLICATION    0
2            NAME_CONTRACT_TYPE    0
18            NAME_PAYMENT_TYPE    0

In [10]:
prev['NAME_TYPE_SUITE'].unique()

array([nan, 'Unaccompanied', 'Spouse, partner', 'Family', 'Children',
       'Other_B', 'Other_A', 'Group of people'], dtype=object)

In [ ]:
x = ['DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION']

In [12]:
prev['NAME_PAYMENT_TYPE'].unique()

array(['Cash through the bank', 'XNA', 'Non-cash from your account',
       'Cashless from the account of the employer'], dtype=object)