In [1]:
import pandas as pd

In [2]:
train_2 = pd.read_csv('round2_iflyad_train.txt',sep='\t')
print(train_2.shape)

test_2 = pd.read_csv('round2_iflyad_test_feature.txt',sep='\t')
print(test_2.shape)

(1998350, 35)
(80276, 34)

In [28]:
train_1 = pd.read_pickle('train.pkl')
print(train_1.shape)
test_1 = pd.read_pickle('test.pkl')

(1001650, 35)

In [4]:
c = train_1[['instance_id']].merge(train_2[['instance_id']],on='instance_id',how='inner')

In [9]:
c.shape

(7361, 1)

In [12]:
cc = pd.concat([train_1,train_2],sort=False)

In [13]:
cc = cc.drop_duplicates()
cc = cc.reset_index(drop=True)
print(cc.shape)

(2992639, 35)

In [14]:
cc.to_pickle('train_ori_comb.pkl')
test_2.to_pickle('test_ori_r2.pkl')

# Add Time

In [15]:
X = pd.concat([cc,test_2],sort=False)

In [23]:
import time
from datetime import datetime
from time import mktime 

X['datetime'] = X['time'].apply(lambda x: datetime.fromtimestamp(mktime(time.gmtime(x-653348437 - 65964))))
X['time_hour'] = X['datetime'].dt.hour #round('H')
X['time_day'] = X['datetime'].dt.day

In [25]:
cc['time_hour'] = X['time_hour'].iloc[:2992639].values
test_2['time_hour'] = X['time_hour'].iloc[2992639:].values

In [26]:
cc.to_pickle('train_ori_comb_hour.pkl')
test_2.to_pickle('test_ori_r2_hour.pkl')

# Check NAN

In [27]:
for col in ['creative_is_js', 'creative_is_voicead', 'app_paid']:
    print(X[col].nunique())
    print(X[col].isnull().sum())

1
0
1
0
1
0

# Check intersection with test

In [30]:
dd = test_1[['instance_id']].merge(train_2[['instance_id']],on='instance_id',how='inner')

In [31]:
dd

Empty DataFrame
Columns: [instance_id]
Index: []

In [32]:
ddd = test_1[['instance_id']].merge(test_2[['instance_id']],on='instance_id',how='inner')

In [33]:
ddd

            instance_id
0   7157388613526096051
1   6541575994667851173
2   1033530293270291493
3   7732269813615123687
4   6253385012875079449
5   5289057272786372513
6   8213715365162747014
7    948207182440090984
8   6782280405873386217
9   7300149594713158252
10  4452426256250224685
11  6269331385075152731
12   275778031506093401
13  1047531876778326368
14  8291061781021639734
15  8073061035345255278
16  6370849293892218264
17  3327154725610493327
18   842777611313657178
19  5932458729817509181
20  7014471900574445696
21  4472682938595870685
22  1342162949458900723
23  6408170839373706780
24  1731702234342206379
25  8483398068095496676
26  7663432894825332457
27  7857610638159844267
28  8735623045154726931
29  6146211874752186751
..                  ...
65  1402089275150924665
66   666218993741194097
67  3932665922947085556
68  8341714956114306120
69  7474775330448600843
70  5264949865899760531
71  5255416807458484088
72  2753944238338587885
73  6781927042664390062
74  4523608571583077176
75  5852051771466683513
76   452716307463121031
77  4660912920421736134
78  7306069423257030698
79  4436005840242968268
80  5283263857793440349
81  8349212747299497616
82  8218864019313821391
83  8976224658049840164
84  5124433908911144691
85  2062041696663881389
86  2858964557637523648
87  7472333198296062163
88   238221620879727287
89   399333627726512265
90  7840815840960615248
91   322052679045677464
92   115058557823713772
93   880066798025198347
94  3474925642777286640

[95 rows x 1 columns]