In [1]:
import os,sys
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from sklearn.externals import joblib
import matplotlib.pyplot as plt
import seaborn as sns
sys.path.append('../../LIB/')
from env import ENV
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [2]:
X1 = pd.read_csv(ENV.application_train_ori.value)
X2 = pd.read_csv(ENV.application_test_ori.value)
p_X = pd.read_csv(ENV.previous_application_ori.value)
feature_columns = list(X2.columns.values)

In [3]:
X = pd.concat([X1[feature_columns],X2],axis=0,ignore_index=True,sort=False)
# X.reset_index(drop=True,inplace=True)

In [4]:
class ordinal_encoder:
    def __init__(self,fillna='NAN_FILL'):
        self.fillna = fillna
    
    def fit(self,sr,NA_VALUE=None,realNA2Nega1=True):
        """
        spycify the value which has already been encoded. make it to -1 after encoding
        """
        self.NA_VALUE=NA_VALUE
        order = sr.fillna(self.fillna).value_counts()
        if self.NA_VALUE is not None:
            order[NA_VALUE] = 9999999

        if realNA2Nega1:
            order[self.fillna] = 99999999
        order = order.sort_values(ascending=True)


        self.mapping = pd.Series(index=order.index.values, data=list(range(1,len(order)+1)))
        if self.NA_VALUE is not None:
            self.mapping[NA_VALUE] = -1

        if realNA2Nega1:
            self.mapping[self.fillna] = -1
    
    def transform(self,sr):
        return sr.fillna(self.fillna).map(self.mapping)

In [5]:
def calculate_na(ser):
    return np.sum(ser.isnull())

def view_hist(ser):
    plt.hist(ser, range=(min(ser.values), max(ser.values)))
    
def scan_nan_portion(df):
    portions = []
    columns = []
    for col in df.columns:
        columns.append(col)
        portions.append(np.sum(df[col].isnull())/len(df))
    return pd.Series(data=portions, index=columns)

In [6]:
p = scan_nan_portion(X)
p = p.sort_values()
print(p.describe())

count    121.000000
mean       0.244900
std        0.283705
min        0.000000
25%        0.000000
50%        0.002947
75%        0.505913
max        0.697141
dtype: float64

# Export NAN

In [7]:
p.iloc[0:20]

SK_ID_CURR                     0.0
HOUR_APPR_PROCESS_START        0.0
REG_REGION_NOT_WORK_REGION     0.0
LIVE_REGION_NOT_WORK_REGION    0.0
REG_CITY_NOT_LIVE_CITY         0.0
REG_CITY_NOT_WORK_CITY         0.0
LIVE_CITY_NOT_WORK_CITY        0.0
ORGANIZATION_TYPE              0.0
FLAG_DOCUMENT_21               0.0
FLAG_DOCUMENT_20               0.0
FLAG_DOCUMENT_19               0.0
FLAG_DOCUMENT_18               0.0
FLAG_DOCUMENT_17               0.0
FLAG_DOCUMENT_16               0.0
FLAG_DOCUMENT_15               0.0
FLAG_DOCUMENT_14               0.0
FLAG_DOCUMENT_13               0.0
FLAG_DOCUMENT_12               0.0
FLAG_DOCUMENT_11               0.0
FLAG_DOCUMENT_10               0.0
dtype: float64

# Data Clean

## 0 - 20

In [8]:
category_20 = []
for each in p.iloc[0:20].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        print('!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        category_20.append(each)
        X[each] = X[each].astype('int')
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')

count    356255.000000
mean     278128.000000
std      102842.104413
min      100001.000000
25%      189064.500000
50%      278128.000000
75%      367191.500000
max      456255.000000
Name: SK_ID_CURR, dtype: float64
----
int64
value counts: 356255
NA percentage: 0.0
===========================
count    356255.000000
mean         12.055749
std           3.267576
min           0.000000
25%          10.000000
50%          12.000000
75%          14.000000
max          23.000000
Name: HOUR_APPR_PROCESS_START, dtype: float64
----
int64
value counts: 24
NA percentage: 0.0
===========================
count    356255.000000
mean          0.051371
std           0.220753
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_REGION_NOT_WORK_REGION, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.040847
std           0.197936
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: LIVE_REGION_NOT_WORK_REGION, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.078076
std           0.268292
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_CITY_NOT_LIVE_CITY, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.229661
std           0.420616
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_CITY_NOT_WORK_CITY, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.178824
std           0.383206
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: LIVE_CITY_NOT_WORK_CITY, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count                     356255
unique                        58
top       Business Entity Type 3
freq                       78832
Name: ORGANIZATION_TYPE, dtype: object
----
object
value counts: 58
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000289
std           0.017001
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_21, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000438
std           0.020921
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_20, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000514
std           0.022659
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_19, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.007231
std           0.084726
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_18, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.00000
mean          0.00023
std           0.01517
min           0.00000
25%           0.00000
50%           0.00000
75%           0.00000
max           1.00000
Name: FLAG_DOCUMENT_17, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.008570
std           0.092175
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_16, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.001044
std           0.032297
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_15, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.002535
std           0.050282
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_14, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.003043
std           0.055077
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_13, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000006
std           0.002369
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_12, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.003537
std           0.059366
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_11, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000020
std           0.004433
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_10, dtype: float64
----
int64
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================

In [9]:
category_20.extend(['ORGANIZATION_TYPE','HOUR_APPR_PROCESS_START'])

##### ORGANIZATION_TYPE

In [10]:
oe = ordinal_encoder()
oe.fit(X['ORGANIZATION_TYPE'],NA_VALUE='XNA')
X['ORGANIZATION_TYPE'] = oe.transform(X['ORGANIZATION_TYPE'])

##### HOUR_APPR_PROCESS_START  -- in previous

In [11]:
col = 'HOUR_APPR_PROCESS_START'
oe.fit(pd.concat([p_X[col],X[col]]))
X[col] = oe.transform(X[col])
p_X[col] = oe.transform(p_X[col])

## 20-40

In [12]:
category_40 = []
failed = []
for each in p.iloc[20:40].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        print('###########################################')
        category_40.append(each)
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')
print(failed)
category_40.remove('REGION_RATING_CLIENT')
category_40.remove('REGION_RATING_CLIENT_W_CITY')

count    356255.000000
mean          0.003977
std           0.062942
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_9, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.082346
std           0.274891
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_8, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000171
std           0.013084
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_7, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.087976
std           0.283261
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_6, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.015065
std           0.121812
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_5, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000084
std           0.009176
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_4, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.720504
std           0.448752
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_DOCUMENT_3, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.000036
std           0.006041
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_DOCUMENT_2, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count      356255
unique          7
top       TUESDAY
freq        63652
Name: WEEKDAY_APPR_PROCESS_START, dtype: object
----
object
###########################################
WEEKDAY_APPR_PROCESS_START converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 7
NA percentage: 0.0
===========================
count    356255.000000
mean          2.028932
std           0.504586
min          -1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: REGION_RATING_CLIENT_W_CITY, dtype: float64
----
int64
###########################################
value counts: 4
NA percentage: 0.0
===========================
count    356255.000000
mean          0.015649
std           0.124113
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: REG_REGION_NOT_LIVE_REGION, dtype: float64
----
int64
###########################################
value counts: 2
NA percentage: 0.0
===========================
count                356255
unique                    6
top       House / apartment
freq                 316513
Name: NAME_HOUSING_TYPE, dtype: object
----
object
###########################################
NAME_HOUSING_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 6
NA percentage: 0.0
===========================
count      356255
unique          8
top       Working
freq       183307
Name: NAME_INCOME_TYPE, dtype: object
----
object
###########################################
NAME_INCOME_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 8
NA percentage: 0.0
===========================
count                            356255
unique                                5
top       Secondary / secondary special
freq                             252379
Name: NAME_EDUCATION_TYPE, dtype: object
----
object
###########################################
NAME_EDUCATION_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 5
NA percentage: 0.0
===========================
count      356255
unique          6
top       Married
freq       228715
Name: NAME_FAMILY_STATUS, dtype: object
----
object
###########################################
NAME_FAMILY_STATUS converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 6
NA percentage: 0.0
===========================
count    356255.000000
mean          2.050506
std           0.510947
min           1.000000
25%           2.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: REGION_RATING_CLIENT, dtype: float64
----
int64
###########################################
value counts: 3
NA percentage: 0.0
===========================
count    356255.000000
mean          0.020917
std           0.013915
min           0.000253
25%           0.010006
50%           0.018850
75%           0.028663
max           0.072508
Name: REGION_POPULATION_RELATIVE, dtype: float64
----
float64
value counts: 82
NA percentage: 0.0
===========================
count    356255.000000
mean     -16041.248841
std        4358.803980
min      -25229.000000
25%      -19676.000000
50%      -15755.000000
75%      -12425.000000
max       -7338.000000
Name: DAYS_BIRTH, dtype: float64
----
int64
value counts: 17467
NA percentage: 0.0
===========================
count    356255.000000
mean      64317.231413
std      141705.532576
min      -17912.000000
25%       -2781.000000
50%       -1224.000000
75%        -290.000000
max      365243.000000
Name: DAYS_EMPLOYED, dtype: float64
----
int64
value counts: 12896
NA percentage: 0.0
===========================
count    356255.000000
mean      -4983.593527
std        3526.968986
min      -24672.000000
25%       -7477.000000
50%       -4502.000000
75%       -1995.000000
max           0.000000
Name: DAYS_REGISTRATION, dtype: float64
----
float64
value counts: 15898
NA percentage: 0.0
===========================
['WEEKDAY_APPR_PROCESS_START', 'NAME_HOUSING_TYPE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS']

##### WEEKDAY_APPR_PROCESS_START  -- in previous

In [13]:
col = 'WEEKDAY_APPR_PROCESS_START'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_40.append(col)

exist in previous

### REGION_RATING_CLIENT_W_CITY

In [14]:
col = 'REGION_RATING_CLIENT_W_CITY'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_40.append(col)

##### NAME_HOUSING_TYPE

In [15]:
col = 'NAME_HOUSING_TYPE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_40.append(col)

##### NAME_EDUCATION_TYPE

In [16]:
col = 'NAME_EDUCATION_TYPE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_40.append(col)

##### NAME_FAMILY_STATUS

In [17]:
col = 'NAME_FAMILY_STATUS'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_40.append(col)

# 40 - 60

In [18]:
category_60 = []
failed = []
for each in p.iloc[40:60].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        category_60.append(each)
        print('{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!')
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')
print(failed)

count    356255.000000
mean      -3002.071163
std        1517.901735
min       -7197.000000
25%       -4318.000000
50%       -3252.000000
75%       -1717.000000
max           0.000000
Name: DAYS_ID_PUBLISH, dtype: float64
----
int64
value counts: 6224
NA percentage: 0.0
===========================
count    356255.000000
mean          0.414316
std           0.720378
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max          20.000000
Name: CNT_CHILDREN, dtype: float64
----
int64
value counts: 16
NA percentage: 0.0
===========================
count     356255
unique         2
top            Y
freq      246970
Name: FLAG_OWN_REALTY, dtype: object
----
object
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
FLAG_OWN_REALTY converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count     356255
unique         2
top            N
freq      235235
Name: FLAG_OWN_CAR, dtype: object
----
object
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
FLAG_OWN_CAR converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count     356255
unique         3
top            F
freq      235126
Name: CODE_GENDER, dtype: object
----
object
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
CODE_GENDER converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 3
NA percentage: 0.0
===========================
count    356255.000000
mean          0.999994
std           0.002369
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_MOBIL, dtype: float64
----
int64
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.818498
std           0.385434
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_EMP_PHONE, dtype: float64
----
int64
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.200098
std           0.400074
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_WORK_PHONE, dtype: float64
----
int64
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.998170
std           0.042741
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: FLAG_CONT_MOBILE, dtype: float64
----
int64
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.278612
std           0.448317
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: FLAG_PHONE, dtype: float64
----
int64
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    356255.000000
mean          0.071213
std           0.257181
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: FLAG_EMAIL, dtype: float64
----
int64
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count         356255
unique             2
top       Cash loans
freq          326537
Name: NAME_CONTRACT_TYPE, dtype: object
----
object
{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
NAME_CONTRACT_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
===========================
count    3.562550e+05
mean     1.701161e+05
std      2.235068e+05
min      2.565000e+04
25%      1.125000e+05
50%      1.530000e+05
75%      2.025000e+05
max      1.170000e+08
Name: AMT_INCOME_TOTAL, dtype: float64
----
float64
value counts: 2741
NA percentage: 0.0
===========================
count    3.562550e+05
mean     5.877674e+05
std      3.986237e+05
min      4.500000e+04
25%      2.700000e+05
50%      5.002110e+05
75%      7.975575e+05
max      4.050000e+06
Name: AMT_CREDIT, dtype: float64
----
float64
value counts: 6480
NA percentage: 0.0
===========================
count    356254.000000
mean       -978.580852
std         835.063902
min       -4361.000000
25%       -1592.000000
50%        -771.000000
75%        -286.000000
max           0.000000
Name: DAYS_LAST_PHONE_CHANGE, dtype: float64
----
float64
value counts: 3846
NA percentage: 2.8069781476751204e-06
===========================
count    356253.000000
mean          2.151858
std           0.907937
min           1.000000
25%           2.000000
50%           2.000000
75%           3.000000
max          21.000000
Name: CNT_FAM_MEMBERS, dtype: float64
----
float64
value counts: 18
NA percentage: 5.613956295350241e-06
===========================
count    356219.000000
mean      27425.560657
std       14732.808190
min        1615.500000
25%       16731.000000
50%       25078.500000
75%       34960.500000
max      258025.500000
Name: AMT_ANNUITY, dtype: float64
----
float64
value counts: 14166
NA percentage: 0.00010105121331630434
===========================
count    3.559770e+05
mean     5.280200e+05
std      3.660650e+05
min      4.050000e+04
25%      2.340000e+05
50%      4.500000e+05
75%      6.750000e+05
max      4.050000e+06
Name: AMT_GOODS_PRICE, dtype: float64
----
float64
value counts: 1291
NA percentage: 0.0007803399250536834
===========================
count    3.555870e+05
mean     5.148900e-01
std      1.897531e-01
min      8.173617e-08
25%      3.949551e-01
50%      5.648491e-01
75%      6.629285e-01
max      8.549997e-01
Name: EXT_SOURCE_2, dtype: float64
----
float64
value counts: 127157
NA percentage: 0.0018750614026469803
===========================
count    355205.000000
mean          0.143452
std           0.456579
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          34.000000
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: float64
----
float64
value counts: 10
NA percentage: 0.0029473270550588763
===========================
['FLAG_OWN_REALTY', 'FLAG_OWN_CAR', 'CODE_GENDER', 'NAME_CONTRACT_TYPE']

In [19]:
col = 'FLAG_OWN_REALTY'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)

col = 'FLAG_OWN_CAR'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)

col = 'CODE_GENDER'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]),NA_VALUE='XNA')
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)


col = 'NAME_CONTRACT_TYPE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]),NA_VALUE='XNA')
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)

exist in previous

In [20]:
#################### FILLNA
col = 'DAYS_LAST_PHONE_CHANGE'
if p_X.get(col) is not None:
    p_X[col].fillna(-771)
X[col] = X[col].fillna(-771)

#################### FILLNA
col = 'CNT_FAM_MEMBERS'
if p_X.get(col) is not None:
    p_X[col].fillna(2)
X[col] = X[col].fillna(2)

#################### FILLNA
col = 'AMT_ANNUITY'
if p_X.get(col) is not None:
    p_X[col].fillna(25078)
X[col] = X[col].fillna(25078)

#################### FILLNA
col = 'AMT_GOODS_PRICE'
if p_X.get(col) is not None:
    p_X[col].fillna(4.5*10**5)
X[col] = X[col].fillna(4.5*10**5)

#################### FILLNA
col = 'EXT_SOURCE_2'
if p_X.get(col) is not None:
    p_X[col].fillna(0.53)
X[col] = X[col].fillna(0.53)

#################### FILLNA
col = 'DEF_30_CNT_SOCIAL_CIRCLE'
if p_X.get(col) is not None:
    p_X[col].fillna(0)
X[col] = X[col].fillna(0)

# 60-80

In [21]:
category_80 = []
failed = []
for each in p.iloc[60:80].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        category_80.append(each)
        print('{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')
print(failed)
category_80.remove('DEF_60_CNT_SOCIAL_CIRCLE')
category_80.remove('AMT_REQ_CREDIT_BUREAU_HOUR')
category_80.remove('AMT_REQ_CREDIT_BUREAU_DAY')
category_80.remove('AMT_REQ_CREDIT_BUREAU_WEEK')

count    355205.000000
mean          0.100198
std           0.368259
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          24.000000
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: float64
----
float64
DEF_60_CNT_SOCIAL_CIRCLE was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
DEF_60_CNT_SOCIAL_CIRCLE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 9
NA percentage: 0.0029473270550588763
===========================
count    355205.000000
mean          1.409468
std           2.577724
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max         351.000000
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: float64
----
float64
value counts: 35
NA percentage: 0.0029473270550588763
===========================
count    355205.000000
mean          1.425729
std           2.599914
min           0.000000
25%           0.000000
50%           0.000000
75%           2.000000
max         354.000000
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: float64
----
float64
value counts: 36
NA percentage: 0.0029473270550588763
===========================
count            354052
unique                7
top       Unaccompanied
freq             288253
Name: NAME_TYPE_SUITE, dtype: object
----
object
NAME_TYPE_SUITE was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
NAME_TYPE_SUITE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 7
NA percentage: 0.0061837728593282905
===========================
count    308687.000000
mean          0.231697
std           0.855949
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          27.000000
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: float64
----
float64
value counts: 24
NA percentage: 0.13352233652861012
===========================
count    308687.000000
mean          0.005808
std           0.079736
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           4.000000
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: float64
----
float64
AMT_REQ_CREDIT_BUREAU_HOUR was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
AMT_REQ_CREDIT_BUREAU_HOUR converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 5
NA percentage: 0.13352233652861012
===========================
count    308687.000000
mean          0.006281
std           0.104250
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           9.000000
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: float64
----
float64
AMT_REQ_CREDIT_BUREAU_DAY was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
AMT_REQ_CREDIT_BUREAU_DAY converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 9
NA percentage: 0.13352233652861012
===========================
count    308687.000000
mean          0.029995
std           0.191374
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           8.000000
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: float64
----
float64
AMT_REQ_CREDIT_BUREAU_WEEK was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
AMT_REQ_CREDIT_BUREAU_WEEK converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 9
NA percentage: 0.13352233652861012
===========================
count    308687.000000
mean          1.911564
std           1.865338
min           0.000000
25%           0.000000
50%           1.000000
75%           3.000000
max          25.000000
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: float64
----
float64
value counts: 25
NA percentage: 0.13352233652861012
===========================
count    308687.000000
mean          0.304399
std           0.786915
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         261.000000
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: float64
----
float64
value counts: 11
NA percentage: 0.13352233652861012
===========================
count    286622.000000
mean          0.509350
std           0.194141
min           0.000527
25%           0.368969
50%           0.533482
75%           0.665855
max           0.896010
Name: EXT_SOURCE_3, dtype: float64
----
float64
value counts: 814
NA percentage: 0.19545830935706165
===========================
count       244259
unique          18
top       Laborers
freq         63841
Name: OCCUPATION_TYPE, dtype: object
----
object
value counts: 18
NA percentage: 0.3143703246270228
===========================
count     188291
unique         2
top           No
freq      185607
Name: EMERGENCYSTATE_MODE, dtype: object
----
object
EMERGENCYSTATE_MODE was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
EMERGENCYSTATE_MODE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.4714712775961039
===========================
count    185200.000000
mean          0.103193
std           0.108041
min           0.000000
25%           0.041500
50%           0.069000
75%           0.128700
max           1.000000
Name: TOTALAREA_MODE, dtype: float64
----
float64
value counts: 5191
NA percentage: 0.4801476470505677
===========================
count    183392.000000
mean          0.977239
std           0.063165
min           0.000000
25%           0.976700
50%           0.981600
75%           0.986600
max           1.000000
Name: YEARS_BEGINEXPLUATATION_MODE, dtype: float64
----
float64
value counts: 224
NA percentage: 0.48522266354156435
===========================
count    183392.000000
mean          0.977903
std           0.058562
min           0.000000
25%           0.976700
50%           0.981600
75%           0.986600
max           1.000000
Name: YEARS_BEGINEXPLUATATION_MEDI, dtype: float64
----
float64
value counts: 250
NA percentage: 0.48522266354156435
===========================
count    183392.000000
mean          0.977889
std           0.057929
min           0.000000
25%           0.976700
50%           0.981600
75%           0.986600
max           1.000000
Name: YEARS_BEGINEXPLUATATION_AVG, dtype: float64
----
float64
value counts: 294
NA percentage: 0.48522266354156435
===========================
count    179914.000000
mean          0.223315
std           0.144126
min           0.000000
25%           0.166700
50%           0.166700
75%           0.333300
max           1.000000
Name: FLOORSMAX_MODE, dtype: float64
----
float64
value counts: 25
NA percentage: 0.4949853335391784
===========================
count    179914.000000
mean          0.226922
std           0.145453
min           0.000000
25%           0.166700
50%           0.166700
75%           0.333300
max           1.000000
Name: FLOORSMAX_MEDI, dtype: float64
----
float64
value counts: 49
NA percentage: 0.4949853335391784
===========================
count    179914.000000
mean          0.227331
std           0.145051
min           0.000000
25%           0.166700
50%           0.166700
75%           0.333300
max           1.000000
Name: FLOORSMAX_AVG, dtype: float64
----
float64
value counts: 414
NA percentage: 0.4949853335391784
===========================
['DEF_60_CNT_SOCIAL_CIRCLE', 'NAME_TYPE_SUITE', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'EMERGENCYSTATE_MODE']

In [22]:
col = 'NAME_TYPE_SUITE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)



col = 'OCCUPATION_TYPE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)


col = 'EMERGENCYSTATE_MODE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)

exist in previous

In [23]:
#################### FILLNA
col = 'DEF_60_CNT_SOCIAL_CIRCLE'
if p_X.get(col) is not None:
    p_X[col].fillna(0)
X[col] = X[col].fillna(0)

#################### FILLNA
col = 'OBS_60_CNT_SOCIAL_CIRCLE'
if p_X.get(col) is not None:
    p_X[col].fillna(0)
X[col] = X[col].fillna(2)

#################### FILLNA
col = 'OBS_30_CNT_SOCIAL_CIRCLE'
if p_X.get(col) is not None:
    p_X[col].fillna(25078)
X[col] = X[col].fillna(25078)

#################### FILLNA
col = 'AMT_REQ_CREDIT_BUREAU_MON'
if p_X.get(col) is not None:
    p_X[col].fillna(0.23)
X[col] = X[col].fillna(0.23)

#################### FILLNA
col = 'AMT_REQ_CREDIT_BUREAU_HOUR'
if p_X.get(col) is not None:
    p_X[col].fillna(0.006)
X[col] = X[col].fillna(0.006)

#################### FILLNA
col = 'AMT_REQ_CREDIT_BUREAU_DAY'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0063)
X[col] = X[col].fillna(0.0063)


#################### FILLNA
col = 'AMT_REQ_CREDIT_BUREAU_WEEK'
if p_X.get(col) is not None:
    p_X[col].fillna(0.03)
X[col] = X[col].fillna(0.03)


#################### FILLNA
col = 'AMT_REQ_CREDIT_BUREAU_YEAR'
if p_X.get(col) is not None:
    p_X[col].fillna(1.91)
X[col] = X[col].fillna(1.91)


#################### FILLNA
col = 'AMT_REQ_CREDIT_BUREAU_QRT'
if p_X.get(col) is not None:
    p_X[col].fillna(0.304)
X[col] = X[col].fillna(0.304)

#################### FILLNA
col = 'EXT_SOURCE_3'
if p_X.get(col) is not None:
    p_X[col].fillna(0.5093)
X[col] = X[col].fillna(0.5093)

#################### FILLNA
col = 'TOTALAREA_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.103)
X[col] = X[col].fillna(0.103)


#################### FILLNA
col = 'YEARS_BEGINEXPLUATATION_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.9772)
X[col] = X[col].fillna(0.9772)


#################### FILLNA
col = 'YEARS_BEGINEXPLUATATION_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.9779)
X[col] = X[col].fillna(0.9779)

#################### FILLNA
col = 'YEARS_BEGINEXPLUATATION_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.9779)
X[col] = X[col].fillna(0.9779)

#################### FILLNA
col = 'FLOORSMAX_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.223)
X[col] = X[col].fillna(0.223)


#################### FILLNA
col = 'FLOORSMAX_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.2269)
X[col] = X[col].fillna(0.2269)

#################### FILLNA
col = 'FLOORSMAX_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.2273)
X[col] = X[col].fillna(0.2273)

# 80-100

In [24]:
category_100 = []
failed = []
for each in p.iloc[80:100].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        category_100.append(each)
        print('{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')
print(failed)

count    178353.000000
mean          0.108089
std           0.111194
min           0.000000
25%           0.045800
50%           0.074900
75%           0.131000
max           1.000000
Name: LIVINGAREA_AVG, dtype: float64
----
float64
value counts: 5272
NA percentage: 0.49936702642769926
===========================
count    178353.000000
mean          0.106641
std           0.112555
min           0.000000
25%           0.043100
50%           0.073300
75%           0.125800
max           1.000000
Name: LIVINGAREA_MODE, dtype: float64
----
float64
value counts: 5382
NA percentage: 0.49936702642769926
===========================
count    178353.000000
mean          0.109279
std           0.112881
min           0.000000
25%           0.046200
50%           0.075400
75%           0.131200
max           1.000000
Name: LIVINGAREA_MEDI, dtype: float64
----
float64
value counts: 5360
NA percentage: 0.49936702642769926
===========================
count             178339
unique                 3
top       block of flats
freq              175162
Name: HOUSETYPE_MODE, dtype: object
----
object
HOUSETYPE_MODE was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
HOUSETYPE_MODE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 3
NA percentage: 0.4994063241217667
===========================
count    177848.000000
mean          0.150015
std           0.100139
min           0.000000
25%           0.069000
50%           0.137900
75%           0.206900
max           1.000000
Name: ENTRANCES_AVG, dtype: float64
----
float64
value counts: 294
NA percentage: 0.5007845503922752
===========================
count    177848.000000
mean          0.145471
std           0.101088
min           0.000000
25%           0.069000
50%           0.137900
75%           0.206900
max           1.000000
Name: ENTRANCES_MODE, dtype: float64
----
float64
value counts: 30
NA percentage: 0.5007845503922752
===========================
count    177848.000000
mean          0.149494
std           0.100450
min           0.000000
25%           0.069000
50%           0.137900
75%           0.206900
max           1.000000
Name: ENTRANCES_MEDI, dtype: float64
----
float64
value counts: 46
NA percentage: 0.5007845503922752
===========================
count    176307.000000
mean          0.118138
std           0.108954
min           0.000000
25%           0.057700
50%           0.088000
75%           0.148500
max           1.000000
Name: APARTMENTS_AVG, dtype: float64
----
float64
value counts: 2391
NA percentage: 0.5051101037178426
===========================
count    176307.000000
mean          0.118549
std           0.109824
min           0.000000
25%           0.058300
50%           0.087400
75%           0.149400
max           1.000000
Name: APARTMENTS_MEDI, dtype: float64
----
float64
value counts: 1163
NA percentage: 0.5051101037178426
===========================
count    176307.000000
mean          0.114914
std           0.108745
min           0.000000
25%           0.052500
50%           0.084000
75%           0.146000
max           1.000000
Name: APARTMENTS_MODE, dtype: float64
----
float64
value counts: 770
NA percentage: 0.5051101037178426
===========================
count     176021
unique         7
top        Panel
freq       77309
Name: WALLSMATERIAL_MODE, dtype: object
----
object
WALLSMATERIAL_MODE was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
WALLSMATERIAL_MODE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 7
NA percentage: 0.5059128994680776
===========================
count    167175.000000
mean          0.075346
std           0.133025
min           0.000000
25%           0.000000
50%           0.000000
75%           0.120800
max           1.000000
Name: ELEVATORS_MODE, dtype: float64
----
float64
value counts: 26
NA percentage: 0.5307434281624117
===========================
count    167175.000000
mean          0.078930
std           0.135133
min           0.000000
25%           0.000000
50%           0.000000
75%           0.120000
max           1.000000
Name: ELEVATORS_MEDI, dtype: float64
----
float64
value counts: 46
NA percentage: 0.5307434281624117
===========================
count    167175.000000
mean          0.079819
std           0.135249
min           0.000000
25%           0.000000
50%           0.000000
75%           0.120000
max           1.000000
Name: ELEVATORS_AVG, dtype: float64
----
float64
value counts: 266
NA percentage: 0.5307434281624117
===========================
count    162345.000000
mean          0.501965
std           0.210045
min           0.013458
25%           0.335503
50%           0.506155
75%           0.673344
max           0.962693
Name: EXT_SOURCE_1, dtype: float64
----
float64
value counts: 134315
NA percentage: 0.5443011326156826
===========================
count    160489.000000
mean          0.027183
std           0.070723
min           0.000000
25%           0.000000
50%           0.001100
75%           0.023200
max           1.000000
Name: NONLIVINGAREA_MODE, dtype: float64
----
float64
value counts: 3432
NA percentage: 0.5495108840577676
===========================
count    160489.000000
mean          0.028503
std           0.069880
min           0.000000
25%           0.000000
50%           0.003600
75%           0.027800
max           1.000000
Name: NONLIVINGAREA_AVG, dtype: float64
----
float64
value counts: 3397
NA percentage: 0.5495108840577676
===========================
count    160489.000000
mean          0.028386
std           0.070574
min           0.000000
25%           0.000000
50%           0.003100
75%           0.026800
max           1.000000
Name: NONLIVINGAREA_MEDI, dtype: float64
----
float64
value counts: 3419
NA percentage: 0.5495108840577676
===========================
count    148671.000000
mean          0.088178
std           0.082017
min           0.000000
25%           0.044100
50%           0.076100
75%           0.111800
max           1.000000
Name: BASEMENTAREA_MEDI, dtype: float64
----
float64
value counts: 3821
NA percentage: 0.5826837518069922
===========================
count    148671.000000
mean          0.087750
std           0.084076
min           0.000000
25%           0.041000
50%           0.074900
75%           0.112700
max           1.000000
Name: BASEMENTAREA_MODE, dtype: float64
----
float64
value counts: 3891
NA percentage: 0.5826837518069922
===========================
['HOUSETYPE_MODE', 'WALLSMATERIAL_MODE']

In [25]:
col = 'HOUSETYPE_MODE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)
###############################################

col = 'HOUSETYPE_MODE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)
###############################################


col = 'WALLSMATERIAL_MODE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)
###############################################

In [26]:
#################### FILLNA
col = 'LIVINGAREA_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1081)
X[col] = X[col].fillna(0.1081)

#################### FILLNA
col = 'LIVINGAREA_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1066)
X[col] = X[col].fillna(0.1066)

#################### FILLNA
col = 'LIVINGAREA_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1092)
X[col] = X[col].fillna(0.1092)

#################### FILLNA
col = 'ENTRANCES_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.15)
X[col] = X[col].fillna(0.15)

#################### FILLNA
col = 'ENTRANCES_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.145)
X[col] = X[col].fillna(0.145)

#################### FILLNA
col = 'ENTRANCES_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.149)
X[col] = X[col].fillna(0.149)

#################### FILLNA
col = 'APARTMENTS_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.118)
X[col] = X[col].fillna(0.118)

#################### FILLNA
col = 'APARTMENTS_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1185)
X[col] = X[col].fillna(0.1185)

#################### FILLNA
col = 'APARTMENTS_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1149)
X[col] = X[col].fillna(0.1149)

#################### FILLNA
col = 'ELEVATORS_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0753)
X[col] = X[col].fillna(0.0753)

#################### FILLNA
col = 'ELEVATORS_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0789)
X[col] = X[col].fillna(0.0789)

#################### FILLNA
col = 'ELEVATORS_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0798)
X[col] = X[col].fillna(0.0798)

#################### FILLNA
col = 'EXT_SOURCE_1'
if p_X.get(col) is not None:
    p_X[col].fillna(0.501965)
X[col] = X[col].fillna(0.501965)

#################### FILLNA
col = 'NONLIVINGAREA_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0272)
X[col] = X[col].fillna(0.0272)

#################### FILLNA
col = 'NONLIVINGAREA_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0285)
X[col] = X[col].fillna(0.0285)
#################### FILLNA
col = 'NONLIVINGAREA_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0284)
X[col] = X[col].fillna(0.0284)
#################### FILLNA
col = 'BASEMENTAREA_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0882)
X[col] = X[col].fillna(0.0882)
#################### FILLNA
col = 'BASEMENTAREA_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.08775)
X[col] = X[col].fillna(0.08775)

# 100-120

In [27]:
category_120 = []
failed = []
for each in p.iloc[100:120].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        category_120.append(each)
        print('{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')
print(failed)

count    148671.000000
mean          0.088673
std           0.082312
min           0.000000
25%           0.044500
50%           0.076500
75%           0.112300
max           1.000000
Name: BASEMENTAREA_AVG, dtype: float64
----
float64
value counts: 3831
NA percentage: 0.5826837518069922
===========================
count    145411.000000
mean          0.065092
std           0.081911
min           0.000000
25%           0.016600
50%           0.045900
75%           0.084300
max           1.000000
Name: LANDAREA_MODE, dtype: float64
----
float64
value counts: 3621
NA percentage: 0.591834500568413
===========================
count    145411.000000
mean          0.067296
std           0.082267
min           0.000000
25%           0.018800
50%           0.048700
75%           0.087000
max           1.000000
Name: LANDAREA_MEDI, dtype: float64
----
float64
value counts: 3618
NA percentage: 0.591834500568413
===========================
count    145411.000000
mean          0.066454
std           0.081287
min           0.000000
25%           0.018700
50%           0.048200
75%           0.085800
max           1.000000
Name: LANDAREA_AVG, dtype: float64
----
float64
value counts: 3580
NA percentage: 0.591834500568413
===========================
count    121014.000000
mean         12.023741
std          11.880848
min           0.000000
25%           5.000000
50%           9.000000
75%          15.000000
max          91.000000
Name: OWN_CAR_AGE, dtype: float64
----
float64
value counts: 63
NA percentage: 0.660316346437243
===========================
count    119949.000000
mean          0.752283
std           0.113267
min           0.000000
25%           0.687200
50%           0.755200
75%           0.823200
max           1.000000
Name: YEARS_BUILD_AVG, dtype: float64
----
float64
value counts: 149
NA percentage: 0.663305778164517
===========================
count    119949.000000
mean          0.759452
std           0.110112
min           0.000000
25%           0.699400
50%           0.764800
75%           0.823600
max           1.000000
Name: YEARS_BUILD_MODE, dtype: float64
----
float64
value counts: 154
NA percentage: 0.663305778164517
===========================
count    119949.000000
mean          0.755548
std           0.112057
min           0.000000
25%           0.691400
50%           0.758500
75%           0.825600
max           1.000000
Name: YEARS_BUILD_MEDI, dtype: float64
----
float64
value counts: 151
NA percentage: 0.663305778164517
===========================
count    115147.000000
mean          0.228878
std           0.161725
min           0.000000
25%           0.083300
50%           0.208300
75%           0.375000
max           1.000000
Name: FLOORSMIN_MODE, dtype: float64
----
float64
value counts: 25
NA percentage: 0.6767848872296529
===========================
count    115147.000000
mean          0.232504
std           0.162419
min           0.000000
25%           0.083300
50%           0.208300
75%           0.375000
max           1.000000
Name: FLOORSMIN_MEDI, dtype: float64
----
float64
value counts: 47
NA percentage: 0.6767848872296529
===========================
count    115147.000000
mean          0.232817
std           0.161909
min           0.000000
25%           0.083300
50%           0.208300
75%           0.375000
max           1.000000
Name: FLOORSMIN_AVG, dtype: float64
----
float64
value counts: 318
NA percentage: 0.6767848872296529
===========================
count    113276.000000
mean          0.101495
std           0.093418
min           0.000000
25%           0.050400
50%           0.075600
75%           0.121000
max           1.000000
Name: LIVINGAPARTMENTS_AVG, dtype: float64
----
float64
value counts: 1917
NA percentage: 0.682036743343953
===========================
count    113276.000000
mean          0.106382
std           0.098779
min           0.000000
25%           0.054200
50%           0.077100
75%           0.131300
max           1.000000
Name: LIVINGAPARTMENTS_MODE, dtype: float64
----
float64
value counts: 749
NA percentage: 0.682036743343953
===========================
count    113276.000000
mean          0.102674
std           0.094541
min           0.000000
25%           0.051300
50%           0.077000
75%           0.123100
max           1.000000
Name: LIVINGAPARTMENTS_MEDI, dtype: float64
----
float64
value counts: 1119
NA percentage: 0.682036743343953
===========================
count               113163
unique                   4
top       reg oper account
freq                 85954
Name: FONDKAPREMONT_MODE, dtype: object
----
object
FONDKAPREMONT_MODE was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
FONDKAPREMONT_MODE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 4
NA percentage: 0.6823539318746403
===========================
count    109394.000000
mean          0.008868
std           0.047876
min           0.000000
25%           0.000000
50%           0.000000
75%           0.003900
max           1.000000
Name: NONLIVINGAPARTMENTS_AVG, dtype: float64
----
float64
value counts: 410
NA percentage: 0.6929334325132279
===========================
count    109394.000000
mean          0.008697
std           0.047519
min           0.000000
25%           0.000000
50%           0.000000
75%           0.003900
max           1.000000
Name: NONLIVINGAPARTMENTS_MEDI, dtype: float64
----
float64
value counts: 231
NA percentage: 0.6929334325132279
===========================
count    109394.000000
mean          0.008116
std           0.046330
min           0.000000
25%           0.000000
50%           0.000000
75%           0.003900
max           1.000000
Name: NONLIVINGAPARTMENTS_MODE, dtype: float64
----
float64
value counts: 178
NA percentage: 0.6929334325132279
===========================
count    107895.000000
mean          0.042930
std           0.075437
min           0.000000
25%           0.007300
50%           0.019200
75%           0.049300
max           1.000000
Name: COMMONAREA_MODE, dtype: float64
----
float64
value counts: 3215
NA percentage: 0.6971410927565929
===========================
count    107895.000000
mean          0.045045
std           0.077045
min           0.000000
25%           0.007900
50%           0.021300
75%           0.051900
max           1.000000
Name: COMMONAREA_AVG, dtype: float64
----
float64
value counts: 3271
NA percentage: 0.6971410927565929
===========================
['FONDKAPREMONT_MODE']

In [28]:
col = 'FONDKAPREMONT_MODE'
X[col].value_counts()

reg oper account         85954
reg oper spec account    14070
not specified             6600
org spec account          6539
Name: FONDKAPREMONT_MODE, dtype: int64

In [29]:
col = 'FONDKAPREMONT_MODE'
if p_X.get(col) is not None:
    oe.fit(pd.concat([p_X[col],X[col]]))
    X[col] = oe.transform(X[col])
    p_X[col] = oe.transform(p_X[col])
    print('exist in previous')
else:
    oe.fit(X[col])
    X[col] = oe.transform(X[col])
category_60.append(col)
###############################################

In [30]:
#################### FILLNA
col = 'BASEMENTAREA_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0886)
X[col] = X[col].fillna(0.0886)

#################### FILLNA
col = 'LANDAREA_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.065)
X[col] = X[col].fillna(0.065)
#################### FILLNA
col = 'LANDAREA_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0673)
X[col] = X[col].fillna(0.0673)
#################### FILLNA
col = 'LANDAREA_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0665)
X[col] = X[col].fillna(0.0665)
#################### FILLNA
col = 'OWN_CAR_AGE'
if p_X.get(col) is not None:
    p_X[col].fillna(12)
X[col] = X[col].fillna(12)
#################### FILLNA
col = 'YEARS_BUILD_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.75)
X[col] = X[col].fillna(0.75)
#################### FILLNA
col = 'YEARS_BUILD_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.76)
X[col] = X[col].fillna(0.76)
#################### FILLNA
col = 'YEARS_BUILD_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.76)
X[col] = X[col].fillna(0.76)
#################### FILLNA
col = 'FLOORSMIN_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.2289)
X[col] = X[col].fillna(0.2289)
#################### FILLNA
col = 'FLOORSMIN_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.2325)
X[col] = X[col].fillna(0.2325)

#################### FILLNA
col = 'FLOORSMIN_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.2328)
X[col] = X[col].fillna(0.2328)
#################### FILLNA
col = 'LIVINGAPARTMENTS_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1015)
X[col] = X[col].fillna(0.1015)

#################### FILLNA
col = 'LIVINGAPARTMENTS_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1063)
X[col] = X[col].fillna(0.1063)
#################### FILLNA
col = 'LIVINGAPARTMENTS_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.1026)
X[col] = X[col].fillna(0.1026)


#################### FILLNA
col = 'NONLIVINGAPARTMENTS_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.00887)
X[col] = X[col].fillna(0.00887)
#################### FILLNA
col = 'NONLIVINGAPARTMENTS_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0087)
X[col] = X[col].fillna(0.0087)
#################### FILLNA
col = 'NONLIVINGAPARTMENTS_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0081)
X[col] = X[col].fillna(0.0081)
#################### FILLNA
col = 'COMMONAREA_MODE'
if p_X.get(col) is not None:
    p_X[col].fillna(0.0429)
X[col] = X[col].fillna(0.0429)
#################### FILLNA
col = 'COMMONAREA_AVG'
if p_X.get(col) is not None:
    p_X[col].fillna(0.045)
X[col] = X[col].fillna(0.045)

# 120 -

In [31]:
category_140 = []
failed = []
for each in p.iloc[120:].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        category_140.append(each)
        print('{} was appended !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')
print(failed)

count    107895.000000
mean          0.044994
std           0.077140
min           0.000000
25%           0.007900
50%           0.021000
75%           0.051800
max           1.000000
Name: COMMONAREA_MEDI, dtype: float64
----
float64
value counts: 3289
NA percentage: 0.6971410927565929
===========================
[]

In [32]:
col = 'COMMONAREA_MEDI'
if p_X.get(col) is not None:
    p_X[col].fillna(0.045)
X[col] = X[col].fillna(0.045)

# Process P_X

In [33]:
col = 'AMT_ANNUITY'
p_X[col] = p_X[col].fillna(X[col].mean())

col = 'AMT_CREDIT'
p_X[col] = p_X[col].fillna(X[col].mean())

col = 'AMT_GOODS_PRICE'
p_X[col] = p_X[col].fillna(X[col].mean())

# Saving

In [34]:
train = X.iloc[0:len(X1)].copy()
train['TARGET'] = X1['TARGET']
assert len(train) == len(X1)

test = X.iloc[len(X1):]
assert len(test) == len(X2)

In [35]:
train.to_pickle(ENV.application_train_cleaned.value)
test.to_pickle(ENV.application_test_cleaned.value)

In [36]:
p_X.to_pickle(ENV.previous_application_cleaned.value)

In [37]:
np.sum(X.isnull()).sort_values()

SK_ID_CURR                      0
TOTALAREA_MODE                  0
HOUSETYPE_MODE                  0
FONDKAPREMONT_MODE              0
NONLIVINGAREA_MEDI              0
NONLIVINGAPARTMENTS_MEDI        0
LIVINGAREA_MEDI                 0
LIVINGAPARTMENTS_MEDI           0
LANDAREA_MEDI                   0
FLOORSMIN_MEDI                  0
FLOORSMAX_MEDI                  0
ENTRANCES_MEDI                  0
ELEVATORS_MEDI                  0
WALLSMATERIAL_MODE              0
COMMONAREA_MEDI                 0
YEARS_BEGINEXPLUATATION_MEDI    0
BASEMENTAREA_MEDI               0
APARTMENTS_MEDI                 0
NONLIVINGAREA_MODE              0
NONLIVINGAPARTMENTS_MODE        0
LIVINGAREA_MODE                 0
LIVINGAPARTMENTS_MODE           0
LANDAREA_MODE                   0
FLOORSMIN_MODE                  0
FLOORSMAX_MODE                  0
ENTRANCES_MODE                  0
ELEVATORS_MODE                  0
YEARS_BUILD_MEDI                0
EMERGENCYSTATE_MODE             0
OBS_30_CNT_SOCIAL_CIRCLE        0
                               ..
REGION_RATING_CLIENT_W_CITY     0
APARTMENTS_MODE                 0
NONLIVINGAREA_AVG               0
NONLIVINGAPARTMENTS_AVG         0
LIVINGAREA_AVG                  0
LIVINGAPARTMENTS_AVG            0
LANDAREA_AVG                    0
FLOORSMIN_AVG                   0
FLOORSMAX_AVG                   0
ENTRANCES_AVG                   0
ELEVATORS_AVG                   0
COMMONAREA_AVG                  0
YEARS_BUILD_AVG                 0
YEARS_BEGINEXPLUATATION_AVG     0
BASEMENTAREA_AVG                0
APARTMENTS_AVG                  0
EXT_SOURCE_3                    0
EXT_SOURCE_2                    0
EXT_SOURCE_1                    0
ORGANIZATION_TYPE               0
LIVE_CITY_NOT_WORK_CITY         0
REG_CITY_NOT_WORK_CITY          0
REG_CITY_NOT_LIVE_CITY          0
LIVE_REGION_NOT_WORK_REGION     0
REG_REGION_NOT_WORK_REGION      0
REG_REGION_NOT_LIVE_REGION      0
HOUR_APPR_PROCESS_START         0
WEEKDAY_APPR_PROCESS_START      0
YEARS_BEGINEXPLUATATION_MODE    0
AMT_REQ_CREDIT_BUREAU_YEAR      0
Length: 121, dtype: int64

In [41]:
categori_col = list(set(category_20+ category_40 + category_60+ category_80+ category_100 + category_120 + category_140))

In [42]:
import pickle
pickle.dump(categori_col,open(ENV.clean_categorical_col.value,'wb'))