In [1]:
import os,sys
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook as tqdm
from sklearn.externals import joblib
import matplotlib.pyplot as plt
import seaborn as sns
sys.path.append('../../LIB/')
from env import ENV
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [2]:
X = pd.read_pickle(ENV.previous_application_cleaned.value)

In [3]:
class ordinal_encoder:
    def __init__(self,fillna='NAN_FILL'):
        self.fillna = fillna
    
    def fit(self,sr,NA_VALUE=None,realNA2Nega1=True):
        """
        spycify the value which has already been encoded. make it to -1 after encoding
        """
        self.NA_VALUE=NA_VALUE
        order = sr.fillna(self.fillna).value_counts()
        if self.NA_VALUE is not None:
            order[NA_VALUE] = 9999999

        if realNA2Nega1:
            order[self.fillna] = 99999999
        order = order.sort_values(ascending=True)


        self.mapping = pd.Series(index=order.index.values, data=list(range(1,len(order)+1)))
        if self.NA_VALUE is not None:
            self.mapping[NA_VALUE] = -1

        if realNA2Nega1:
            self.mapping[self.fillna] = -1
    
    def transform(self,sr):
        return sr.fillna(self.fillna).map(self.mapping)

In [4]:
def calculate_na(ser):
    return np.sum(ser.isnull())

def view_hist(ser):
    plt.hist(ser, range=(min(ser.values), max(ser.values)))
    
def scan_nan_portion(df):
    portions = []
    columns = []
    for col in df.columns:
        columns.append(col)
        portions.append(np.sum(df[col].isnull())/len(df))
    return pd.Series(data=portions, index=columns)

In [5]:
p = scan_nan_portion(X)
p = p.sort_values()
print(p.describe())
oe = ordinal_encoder()

count    37.000000
mean      0.154231
std       0.274117
min       0.000000
25%       0.000000
50%       0.000000
75%       0.402981
max       0.996437
dtype: float64

# Export NAN

In [6]:
p.iloc[0:20]

SK_ID_PREV                     0.0
NAME_YIELD_GROUP               0.0
NAME_SELLER_INDUSTRY           0.0
SELLERPLACE_AREA               0.0
CHANNEL_TYPE                   0.0
NAME_PRODUCT_TYPE              0.0
NAME_PORTFOLIO                 0.0
NAME_GOODS_CATEGORY            0.0
NAME_CLIENT_TYPE               0.0
NAME_TYPE_SUITE                0.0
CODE_REJECT_REASON             0.0
DAYS_DECISION                  0.0
NAME_CONTRACT_STATUS           0.0
NAME_CASH_LOAN_PURPOSE         0.0
NAME_PAYMENT_TYPE              0.0
AMT_APPLICATION                0.0
NFLAG_LAST_APPL_IN_DAY         0.0
FLAG_LAST_APPL_PER_CONTRACT    0.0
HOUR_APPR_PROCESS_START        0.0
WEEKDAY_APPR_PROCESS_START     0.0
dtype: float64

# Data Clean

## 0 - 20

In [7]:
category_20 = []
failed = []
for each in p.iloc[:20].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        category_20.append(each)
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('========= End ==================')
print(failed)

count    1.670214e+06
mean     1.923089e+06
std      5.325980e+05
min      1.000001e+06
25%      1.461857e+06
50%      1.923110e+06
75%      2.384280e+06
max      2.845382e+06
Name: SK_ID_PREV, dtype: float64
----
int64
value counts: 1670214
NA percentage: 0.0
========= End ==================
count     1670214
unique          5
top           XNA
freq       517215
Name: NAME_YIELD_GROUP, dtype: object
----
object
NAME_YIELD_GROUP converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 5
NA percentage: 0.0
========= End ==================
count     1670214
unique         11
top           XNA
freq       855720
Name: NAME_SELLER_INDUSTRY, dtype: object
----
object
value counts: 11
NA percentage: 0.0
========= End ==================
count    1.670214e+06
mean     3.139511e+02
std      7.127443e+03
min     -1.000000e+00
25%     -1.000000e+00
50%      3.000000e+00
75%      8.200000e+01
max      4.000000e+06
Name: SELLERPLACE_AREA, dtype: float64
----
int64
value counts: 2097
NA percentage: 0.0
========= End ==================
count                     1670214
unique                          8
top       Credit and cash offices
freq                       719968
Name: CHANNEL_TYPE, dtype: object
----
object
CHANNEL_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 8
NA percentage: 0.0
========= End ==================
count     1670214
unique          3
top           XNA
freq      1063666
Name: NAME_PRODUCT_TYPE, dtype: object
----
object
NAME_PRODUCT_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 3
NA percentage: 0.0
========= End ==================
count     1670214
unique          5
top           POS
freq       691011
Name: NAME_PORTFOLIO, dtype: object
----
object
NAME_PORTFOLIO converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 5
NA percentage: 0.0
========= End ==================
count     1670214
unique         28
top           XNA
freq       950809
Name: NAME_GOODS_CATEGORY, dtype: object
----
object
value counts: 28
NA percentage: 0.0
========= End ==================
count      1670214
unique           4
top       Repeater
freq       1231261
Name: NAME_CLIENT_TYPE, dtype: object
----
object
NAME_CLIENT_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 4
NA percentage: 0.0
========= End ==================
count    1.670214e+06
mean     2.728296e+00
std      3.741734e+00
min     -1.000000e+00
25%     -1.000000e+00
50%      3.000000e+00
75%      7.000000e+00
max      7.000000e+00
Name: NAME_TYPE_SUITE, dtype: float64
----
int64
value counts: 8
NA percentage: 0.0
========= End ==================
count     1670214
unique          9
top           XAP
freq      1353093
Name: CODE_REJECT_REASON, dtype: object
----
object
CODE_REJECT_REASON converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 9
NA percentage: 0.0
========= End ==================
count    1.670214e+06
mean    -8.806797e+02
std      7.790997e+02
min     -2.922000e+03
25%     -1.300000e+03
50%     -5.810000e+02
75%     -2.800000e+02
max     -1.000000e+00
Name: DAYS_DECISION, dtype: float64
----
int64
value counts: 2922
NA percentage: 0.0
========= End ==================
count      1670214
unique           4
top       Approved
freq       1036781
Name: NAME_CONTRACT_STATUS, dtype: object
----
object
NAME_CONTRACT_STATUS converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 4
NA percentage: 0.0
========= End ==================
count     1670214
unique         25
top           XAP
freq       922661
Name: NAME_CASH_LOAN_PURPOSE, dtype: object
----
object
value counts: 25
NA percentage: 0.0
========= End ==================
count                   1670214
unique                        4
top       Cash through the bank
freq                    1033552
Name: NAME_PAYMENT_TYPE, dtype: object
----
object
NAME_PAYMENT_TYPE converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 4
NA percentage: 0.0
========= End ==================
count    1.670214e+06
mean     1.752339e+05
std      2.927798e+05
min      0.000000e+00
25%      1.872000e+04
50%      7.104600e+04
75%      1.803600e+05
max      6.905160e+06
Name: AMT_APPLICATION, dtype: float64
----
float64
value counts: 93885
NA percentage: 0.0
========= End ==================
count    1.670214e+06
mean     9.964675e-01
std      5.932963e-02
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: NFLAG_LAST_APPL_IN_DAY, dtype: float64
----
int64
value counts: 2
NA percentage: 0.0
========= End ==================
count     1670214
unique          2
top             Y
freq      1661739
Name: FLAG_LAST_APPL_PER_CONTRACT, dtype: object
----
object
FLAG_LAST_APPL_PER_CONTRACT converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.0
========= End ==================
count    1.670214e+06
mean     1.913703e+01
std      3.883494e+00
min      1.000000e+00
25%      1.700000e+01
50%      2.000000e+01
75%      2.200000e+01
max      2.400000e+01
Name: HOUR_APPR_PROCESS_START, dtype: float64
----
int64
value counts: 24
NA percentage: 0.0
========= End ==================
count    1.670214e+06
mean     4.182202e+00
std      1.928016e+00
min      1.000000e+00
25%      3.000000e+00
50%      4.000000e+00
75%      6.000000e+00
max      7.000000e+00
Name: WEEKDAY_APPR_PROCESS_START, dtype: float64
----
int64
value counts: 7
NA percentage: 0.0
========= End ==================
['NAME_YIELD_GROUP', 'CHANNEL_TYPE', 'NAME_PRODUCT_TYPE', 'NAME_PORTFOLIO', 'NAME_CLIENT_TYPE', 'CODE_REJECT_REASON', 'NAME_CONTRACT_STATUS', 'NAME_PAYMENT_TYPE', 'FLAG_LAST_APPL_PER_CONTRACT']

### Ordinal Encoding

In [8]:
col = 'NAME_YIELD_GROUP'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'NAME_SELLER_INDUSTRY'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'CHANNEL_TYPE'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################


col = 'NAME_PRODUCT_TYPE'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'NAME_PORTFOLIO'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'NAME_GOODS_CATEGORY'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'NAME_CLIENT_TYPE'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'CODE_REJECT_REASON'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'NAME_CONTRACT_STATUS'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)
###############################################

col = 'NAME_CASH_LOAN_PURPOSE'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)

###############################################

col = 'NAME_PAYMENT_TYPE'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)

###############################################

col = 'FLAG_LAST_APPL_PER_CONTRACT'

oe.fit(X[col],NA_VALUE='XNA')
X[col] = oe.transform(X[col])
category_20.append(col)

## 20-40

In [9]:
category_40 = []
failed = []
for each in p.iloc[20:].index.values:
    
    print(X[each].describe())
    print('----')
    print(X[each].dtypes)
    num_values = len(X[each].value_counts())
    if num_values < 10:
        category_40.append(each)
        try:
            X[each] = X[each].astype('int')
        except ValueError:
            print('{} converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!'.format(each))
            failed.append(each)
    print('value counts: {}'.format(num_values))
    print('NA percentage: {}'.format(p[each]))
    print('===========================')
print(failed)

count    1.670214e+06
mean     2.971184e+05
std      3.041463e+05
min      0.000000e+00
25%      6.750000e+04
50%      1.728000e+05
75%      5.279591e+05
max      6.905160e+06
Name: AMT_GOODS_PRICE, dtype: float64
----
float64
value counts: 93886
NA percentage: 0.0
===========================
count    1.670214e+06
mean     1.961143e+05
std      3.185747e+05
min      0.000000e+00
25%      2.416050e+04
50%      8.054100e+04
75%      2.164185e+05
max      6.905160e+06
Name: AMT_CREDIT, dtype: float64
----
float64
value counts: 86804
NA percentage: 0.0
===========================
count    1.670214e+06
mean     1.851145e+04
std      1.387802e+04
min      0.000000e+00
25%      7.547096e+03
50%      1.544967e+04
75%      2.742532e+04
max      4.180581e+05
Name: AMT_ANNUITY, dtype: float64
----
float64
value counts: 357960
NA percentage: 0.0
===========================
count    1.670214e+06
mean     2.331305e+00
std      6.747835e-01
min     -1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      3.000000e+00
Name: NAME_CONTRACT_TYPE, dtype: float64
----
int64
value counts: 4
NA percentage: 0.0
===========================
count    1.670214e+06
mean     2.783572e+05
std      1.028148e+05
min      1.000010e+05
25%      1.893290e+05
50%      2.787145e+05
75%      3.675140e+05
max      4.562550e+05
Name: SK_ID_CURR, dtype: float64
----
int64
value counts: 338857
NA percentage: 0.0
===========================
count     1669868
unique         17
top          Cash
freq       285990
Name: PRODUCT_COMBINATION, dtype: object
----
object
value counts: 17
NA percentage: 0.0002071590826085759
===========================
count    1.297984e+06
mean     1.605408e+01
std      1.456729e+01
min      0.000000e+00
25%      6.000000e+00
50%      1.200000e+01
75%      2.400000e+01
max      8.400000e+01
Name: CNT_PAYMENT, dtype: float64
----
float64
value counts: 49
NA percentage: 0.22286365699245725
===========================
count    997149.000000
mean      76582.403064
std      149647.415123
min       -2889.000000
25%       -1314.000000
50%        -537.000000
75%         -74.000000
max      365243.000000
Name: DAYS_LAST_DUE, dtype: float64
----
float64
value counts: 2873
NA percentage: 0.40298129461254667
===========================
count    997149.000000
mean      33767.774054
std      106857.034789
min       -2801.000000
25%       -1242.000000
50%        -361.000000
75%         129.000000
max      365243.000000
Name: DAYS_LAST_DUE_1ST_VERSION, dtype: float64
----
float64
value counts: 4605
NA percentage: 0.40298129461254667
===========================
count    997149.000000
mean      13826.269337
std       72444.869708
min       -2892.000000
25%       -1628.000000
50%        -831.000000
75%        -411.000000
max      365243.000000
Name: DAYS_FIRST_DUE, dtype: float64
----
float64
value counts: 2892
NA percentage: 0.40298129461254667
===========================
count    997149.000000
mean     342209.855039
std       88916.115834
min       -2922.000000
25%      365243.000000
50%      365243.000000
75%      365243.000000
max      365243.000000
Name: DAYS_FIRST_DRAWING, dtype: float64
----
float64
value counts: 2838
NA percentage: 0.40298129461254667
===========================
count    997149.000000
mean          0.332570
std           0.471134
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: NFLAG_INSURED_ON_APPROVAL, dtype: float64
----
float64
NFLAG_INSURED_ON_APPROVAL converted to int failed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
value counts: 2
NA percentage: 0.40298129461254667
===========================
count    997149.000000
mean      81992.343838
std      153303.516729
min       -2874.000000
25%       -1270.000000
50%        -499.000000
75%         -44.000000
max      365243.000000
Name: DAYS_TERMINATION, dtype: float64
----
float64
value counts: 2830
NA percentage: 0.40298129461254667
===========================
count    7.743700e+05
mean     6.697402e+03
std      2.092150e+04
min     -9.000000e-01
25%      0.000000e+00
50%      1.638000e+03
75%      7.740000e+03
max      3.060045e+06
Name: AMT_DOWN_PAYMENT, dtype: float64
----
float64
value counts: 29278
NA percentage: 0.536364801157217
===========================
count    774370.000000
mean          0.079637
std           0.107823
min          -0.000015
25%           0.000000
50%           0.051605
75%           0.108909
max           1.000000
Name: RATE_DOWN_PAYMENT, dtype: float64
----
float64
value counts: 207033
NA percentage: 0.536364801157217
===========================
count    5951.000000
mean        0.773503
std         0.100879
min         0.373150
25%         0.715645
50%         0.835095
75%         0.852537
max         1.000000
Name: RATE_INTEREST_PRIVILEGED, dtype: float64
----
float64
value counts: 25
NA percentage: 0.9964369835242669
===========================
count    5951.000000
mean        0.188357
std         0.087671
min         0.034781
25%         0.160716
50%         0.189122
75%         0.193330
max         1.000000
Name: RATE_INTEREST_PRIMARY, dtype: float64
----
float64
value counts: 148
NA percentage: 0.9964369835242669
===========================
['NFLAG_INSURED_ON_APPROVAL']

### Ordinal Encoding

In [10]:
###############################################

col = 'PRODUCT_COMBINATION'

oe.fit(X[col])
X[col] = oe.transform(X[col])
category_40.append(col)

###############################################

col = 'NFLAG_INSURED_ON_APPROVAL'

oe.fit(X[col])
X[col] = oe.transform(X[col])
category_40.append(col)

### FillNa

In [11]:
###############################################

col = 'CNT_PAYMENT'
X[col] = X[col].fillna(12.0)

###############################################

#### not sure

col = 'DAYS_LAST_DUE'
X.loc[X[col]>0,col] = np.NAN
X[col] = X[col].fillna(X[col].mean())

###############################################

#### not sure

col = 'DAYS_LAST_DUE_1ST_VERSION'
X.loc[X[col]>=365243,col] = np.NAN
X[col] = X[col].fillna(X[col].mean())

###############################################

#### not sure

col = 'DAYS_FIRST_DUE'
X.loc[X[col]>=365243,col] = np.NAN
X[col] = X[col].fillna(X[col].mean())

###############################################

#### not sure

col = 'DAYS_FIRST_DRAWING'
X.loc[X[col]>=365243,col] = np.NAN
X[col] = X[col].fillna(X[col].mean())

###############################################

#### not sure

col = 'DAYS_TERMINATION'
X.loc[X[col]>=365243,col] = np.NAN
X[col] = X[col].fillna(X[col].mean())


###############################################

#### not sure

col = 'DAYS_TERMINATION'
X[col] = X[col].fillna(X[col].mean())

###############################################

#### not sure

col = 'AMT_DOWN_PAYMENT'
X[col] = X[col].fillna(X[col].mean())

###############################################


#### not sure

col = 'RATE_DOWN_PAYMENT'
X[col] = X[col].fillna(X[col].mean())

###############################################

#### not sure

col = 'RATE_INTEREST_PRIVILEGED'
X[col] = X[col].fillna(X[col].mean())

###############################################

#### not sure

col = 'RATE_INTEREST_PRIMARY'
X[col] = X[col].fillna(X[col].mean())

# Saving

In [12]:
X.to_pickle(ENV.previous_application_cleaned.value)

In [13]:
np.sum(X.isnull())

SK_ID_PREV                     0
SK_ID_CURR                     0
NAME_CONTRACT_TYPE             0
AMT_ANNUITY                    0
AMT_APPLICATION                0
AMT_CREDIT                     0
AMT_DOWN_PAYMENT               0
AMT_GOODS_PRICE                0
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
FLAG_LAST_APPL_PER_CONTRACT    0
NFLAG_LAST_APPL_IN_DAY         0
RATE_DOWN_PAYMENT              0
RATE_INTEREST_PRIMARY          0
RATE_INTEREST_PRIVILEGED       0
NAME_CASH_LOAN_PURPOSE         0
NAME_CONTRACT_STATUS           0
DAYS_DECISION                  0
NAME_PAYMENT_TYPE              0
CODE_REJECT_REASON             0
NAME_TYPE_SUITE                0
NAME_CLIENT_TYPE               0
NAME_GOODS_CATEGORY            0
NAME_PORTFOLIO                 0
NAME_PRODUCT_TYPE              0
CHANNEL_TYPE                   0
SELLERPLACE_AREA               0
NAME_SELLER_INDUSTRY           0
CNT_PAYMENT                    0
NAME_YIELD_GROUP               0
PRODUCT_COMBINATION            0
DAYS_FIRST_DRAWING             0
DAYS_FIRST_DUE                 0
DAYS_LAST_DUE_1ST_VERSION      0
DAYS_LAST_DUE                  0
DAYS_TERMINATION               0
NFLAG_INSURED_ON_APPROVAL      0
dtype: int64

In [14]:
categori_col = list(set(category_20 + category_40))
categori_col

['NAME_PORTFOLIO',
 'NAME_TYPE_SUITE',
 'NAME_CONTRACT_STATUS',
 'NAME_YIELD_GROUP',
 'WEEKDAY_APPR_PROCESS_START',
 'NAME_CONTRACT_TYPE',
 'NAME_CASH_LOAN_PURPOSE',
 'FLAG_LAST_APPL_PER_CONTRACT',
 'NFLAG_INSURED_ON_APPROVAL',
 'PRODUCT_COMBINATION',
 'NAME_SELLER_INDUSTRY',
 'CHANNEL_TYPE',
 'NAME_PAYMENT_TYPE',
 'NFLAG_LAST_APPL_IN_DAY',
 'NAME_CLIENT_TYPE',
 'NAME_GOODS_CATEGORY',
 'NAME_PRODUCT_TYPE',
 'CODE_REJECT_REASON']

In [15]:
import pickle
categori_col_exist = pickle.load(open(ENV.clean_categorical_col.value,'rb'))
categori_col = list(set(categori_col + categori_col_exist))
pickle.dump(categori_col,open(ENV.clean_categorical_col.value,'wb'))