In [1]:
import os,sys
import numpy as np
import pandas as pd
from tqdm import tqdm
from sklearn.externals import joblib
import matplotlib.pyplot as plt
sys.path.append('../LIB/')
from env import ENV
from sklearn.preprocessing import normalize
from sklearn.preprocessing import OneHotEncoder
from scipy.sparse import coo_matrix, hstack
from sklearn.preprocessing import LabelEncoder

In [2]:
def scan_nan_portion(df):
    portions = []
    columns = []
    for col in df.columns:
        columns.append(col)
        portions.append(np.sum(df[col].isnull())/len(df))
    return pd.Series(data=portions, index=columns)

class ordinal_encoder:
    def __init__(self,fillna='NAN_FILL'):
        self.fillna = fillna
    
    def fit(self,sr,NA_VALUE=None,realNA2Nega1=True):
        """
        spycify the value which has already been encoded. make it to -1 after encoding
        """
        self.NA_VALUE=NA_VALUE
        order = sr.fillna(self.fillna).value_counts()
        if self.NA_VALUE is not None:
            order[NA_VALUE] = 9999999

        if realNA2Nega1:
            order[self.fillna] = 99999999
        order = order.sort_values(ascending=True)


        self.mapping = pd.Series(index=order.index.values, data=list(range(1,len(order)+1)))
        if self.NA_VALUE is not None:
            self.mapping[NA_VALUE] = -1

        if realNA2Nega1:
            self.mapping[self.fillna] = -1
    
    def transform(self,sr):
        return sr.fillna(self.fillna).map(self.mapping)

In [3]:
oe = ordinal_encoder()

In [4]:
X_Train_ori = pd.read_csv(ENV.application_train_ori.value)
print('Train shape: {}'.format(X_Train_ori.shape))

X_Test_ori = pd.read_csv(ENV.application_test_ori.value)
print('Test shape: {}'.format(X_Test_ori.shape))

X_bu_ori = pd.read_csv(ENV.bureau_ori.value)
print('Bureau shape: {}'.format(X_bu_ori.shape))

X_bu_b_ori = pd.read_csv(ENV.bureau_balance_ori.value)
print('Bureau balance shape: {}'.format(X_bu_b_ori.shape))

Train shape: (307511, 122)
Test shape: (48744, 121)
Bureau shape: (1716428, 17)
Bureau balance shape: (27299925, 3)

In [5]:
X_bu_ori.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

In [6]:
mapping = pd.Series(data=[0,0,0,1,2,3,4,5],index=['C','X','0','1','2','3','4','5'])
vals = pd.Series(data=X_bu_b_ori.STATUS.values,index=X_bu_b_ori.index)
X_bu_b_ori['SCORING'] = vals.map(mapping)

# GROUP for bureau balance

In [7]:
# groupBB = X_bu_b_ori.groupby('SK_ID_BUREAU')

# def last_status(df):
#     df = df.sort_values('MONTHS_BALANCE')
#     return df['STATUS'].iloc[-1]

# sss = groupBB.apply(last_status)

In [8]:
# sss

In [9]:

groupBB = X_bu_b_ori.groupby('SK_ID_BUREAU')

SK_ID_BUREAU = []
Bureau_balance_CNT = []
Bureau_balance_RISK_SCORE = []
Bureau_balance_Last_STATUS=  []

for key,df in tqdm(groupBB):
    SK_ID_BUREAU.append(key)
    df =df.sort_values('MONTHS_BALANCE')
    Bureau_balance_Last_STATUS.append(df['STATUS'].iloc[-1])
    Bureau_balance_RISK_SCORE.append(df['SCORING'].sum())
    Bureau_balance_CNT.append(len(df))

Exception in thread Thread-4:
Traceback (most recent call last):
  File "/home/kai/anaconda3/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/home/kai/anaconda3/lib/python3.6/site-packages/tqdm/_tqdm.py", line 147, in run
    if instance.miniters > 1 and \
AttributeError: 'tqdm' object has no attribute 'miniters'

100%|██████████| 817395/817395 [07:13<00:00, 1885.20it/s]

In [11]:
df_bureau_b = pd.DataFrame({'SK_ID_BUREAU':SK_ID_BUREAU,
                          'Bureau_balance_CNT':Bureau_balance_CNT,
                          'Bureau_balance_RISK_SCORE':Bureau_balance_RISK_SCORE,
                          'Bureau_balance_Last_STATUS':Bureau_balance_Last_STATUS})

In [12]:
df_bureau = X_bu_ori.merge(df_bureau_b,how='left',left_on='SK_ID_BUREAU',right_on='SK_ID_BUREAU')
print(df_bureau.shape)

(1716428, 20)

In [15]:
df_bureau

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,Bureau_balance_CNT,Bureau_balance_RISK_SCORE,Bureau_balance_Last_STATUS
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.000,0.000,NaN,0.0,Consumer credit,-131,NaN,NaN,NaN,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.000,171342.000,NaN,0.0,Credit card,-20,NaN,NaN,NaN,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.500,NaN,NaN,0.0,Consumer credit,-16,NaN,NaN,NaN,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.000,NaN,NaN,0.0,Credit card,-16,NaN,NaN,NaN,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.500,0,2700000.000,NaN,NaN,0.0,Consumer credit,-21,NaN,NaN,NaN,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.000,0,180000.000,71017.380,108982.620,0.0,Credit card,-31,NaN,NaN,NaN,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.000,0,42103.800,42103.800,0.000,0.0,Consumer credit,-22,NaN,NaN,NaN,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.000,0,76878.450,0.000,0.000,0.0,Consumer credit,-1710,NaN,NaN,NaN,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.000,0,103007.700,0.000,0.000,0.0,Consumer credit,-840,NaN,NaN,NaN,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.000,0,4500.000,0.000,0.000,0.0,Credit card,-690,NaN,NaN,NaN,NaN
10,162297,5714472,Active,currency 1,-1146,0,-180.0,NaN,0.000,0,337500.000,0.000,0.000,0.0,Credit card,-690,NaN,NaN,NaN,NaN
11,162297,5714473,Closed,currency 1,-2456,0,-629.0,-825.0,NaN,0,675000.000,0.000,0.000,0.0,Consumer credit,-706,NaN,NaN,NaN,NaN
12,162297,5714474,Active,currency 1,-277,0,5261.0,NaN,0.000,0,7033500.000,NaN,NaN,0.0,Mortgage,-31,NaN,NaN,NaN,NaN
13,402440,5714475,Active,currency 1,-96,0,269.0,NaN,0.000,0,89910.000,76905.000,0.000,0.0,Consumer credit,-22,NaN,NaN,NaN,NaN
14,238881,5714482,Closed,currency 1,-318,0,-187.0,-187.0,NaN,0,0.000,0.000,0.000,0.0,Credit card,-185,NaN,NaN,NaN,NaN
15,238881,5714484,Closed,currency 1,-2911,0,-2607.0,-2604.0,NaN,0,48555.000,NaN,NaN,0.0,Consumer credit,-2601,NaN,NaN,NaN,NaN
16,238881,5714485,Closed,currency 1,-2148,0,-1595.0,-987.0,NaN,0,135000.000,NaN,NaN,0.0,Consumer credit,-984,NaN,NaN,NaN,NaN
17,238881,5714486,Active,currency 1,-381,0,NaN,NaN,NaN,0,450000.000,520920.000,NaN,0.0,Consumer credit,-4,NaN,NaN,NaN,NaN
18,238881,5714487,Active,currency 1,-95,0,1720.0,NaN,NaN,0,67500.000,8131.500,NaN,0.0,Credit card,-7,NaN,NaN,NaN,NaN
19,238881,5714488,Closed,currency 1,-444,0,-77.0,-77.0,0.000,0,107184.060,0.000,0.000,0.0,Consumer credit,-71,NaN,NaN,NaN,NaN
20,238881,5714489,Active,currency 1,-392,0,NaN,NaN,0.000,0,252000.000,23679.000,228320.100,0.0,Credit card,-22,NaN,NaN,NaN,NaN
21,222183,5714491,Active,currency 1,-784,0,1008.0,NaN,0.000,0,0.000,-411.615,411.615,0.0,Credit card,-694,NaN,NaN,NaN,NaN
22,222183,5714492,Active,currency 1,-774,0,625.0,NaN,NaN,0,127840.500,0.000,0.000,0.0,Credit card,-210,NaN,NaN,NaN,NaN
23,222183,5714493,Active,currency 1,-395,0,1431.0,NaN,NaN,0,1350000.000,1185493.500,0.000,0.0,Consumer credit,-24,NaN,NaN,NaN,NaN
24,222183,5714495,Closed,currency 1,-2744,0,-2561.0,-2559.0,310.500,0,18157.500,NaN,NaN,0.0,Consumer credit,-2559,NaN,NaN,NaN,NaN
25,222183,5714496,Closed,currency 1,-1103,0,-7.0,-343.0,20493.270,0,675000.000,0.000,0.000,0.0,Consumer credit,-343,NaN,NaN,NaN,NaN
26,222183,5714497,Active,currency 1,-315,0,1512.0,NaN,88821.000,0,3709552.500,NaN,NaN,0.0,Car loan,-32,NaN,NaN,NaN,NaN
27,426155,5714498,Closed,currency 1,-1331,0,-994.0,-1023.0,1350.000,0,39433.500,0.000,0.000,0.0,Consumer credit,-1023,NaN,NaN,NaN,NaN
28,426155,5714499,Closed,currency 1,-2534,0,-2352.0,-2347.0,NaN,0,38830.500,0.000,0.000,0.0,Consumer credit,-2345,NaN,NaN,NaN,NaN
29,426155,5714500,Closed,currency 1,-845,0,-480.0,-480.0,0.000,0,67500.000,0.000,0.000,0.0,Consumer credit,-480,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716398,312021,5057541,Closed,currency 1,-1529,0,-829.0,-829.0,NaN,0,209898.000,0.000,NaN,0.0,Consumer credit,-824,NaN,NaN,NaN,NaN
1716399,232638,5057553,Active,currency 1,-613,0,721.0,NaN,NaN,0,972000.000,886297.500,0.000,0.0,Credit card,-42,NaN,NaN,NaN,NaN
1716400,318662,5057561,Active,currency 1,-815,0,1011.0,NaN,NaN,0,147150.000,105358.500,0.000,0.0,Consumer credit,-70,NaN,NaN,NaN,NaN
1716401,145715,5057569,Closed,currency 1,-2333,0,-2027.0,-1984.0,173.070,0,35032.500,0.000,0.000,0.0,Consumer credit,-1984,NaN,NaN,NaN,NaN
1716402,352358,5057580,Closed,currency 1,-1714,0,-1530.0,-1564.0,NaN,0,35271.000,0.000,0.000,0.0,Consumer credit,-1532,NaN,NaN,NaN,NaN
1716403,361928,5057589,Active,currency 1,-765,0,1061.0,NaN,NaN,0,1431000.000,1092226.500,0.000,0.0,Consumer credit,-126,NaN,NaN,NaN,NaN
1716404,166279,5057599,Active,currency 1,-99,0,997.0,NaN,0.000,0,450000.000,432787.500,0.000,0.0,Consumer credit,-7,NaN,NaN,NaN,NaN
1716405,438109,5057605,Closed,currency 1,-2390,0,-2053.0,-2082.0,11317.590,0,112204.350,0.000,0.000,0.0,Consumer credit,-2082,NaN,NaN,NaN,NaN
1716406,335468,5057618,Closed,currency 1,-2517,0,-660.0,-2363.0,0.000,0,473940.000,0.000,0.000,0.0,Car loan,-2363,NaN,NaN,NaN,NaN
1716407,146896,5057629,Closed,currency 1,-1990,0,-1244.0,-1248.0,NaN,0,90000.000,NaN,NaN,0.0,Consumer credit,-1248,NaN,NaN,NaN,NaN
1716408,146896,5057632,Closed,currency 1,-434,0,-344.0,-344.0,NaN,0,234000.000,0.000,NaN,0.0,Credit card,-336,NaN,NaN,NaN,NaN
1716409,146896,5057636,Closed,currency 1,-1705,0,-582.0,-582.0,0.000,0,0.000,0.000,0.000,0.0,Credit card,-582,NaN,NaN,NaN,NaN
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.000,0.000,0.000,0.0,Credit card,-46,NaN,NaN,NaN,NaN
1716411,232118,5057652,Closed,currency 1,-821,0,-425.0,-545.0,0.000,0,108765.720,0.000,0.000,0.0,Consumer credit,-545,NaN,NaN,NaN,NaN
1716412,288038,5057657,Active,currency 1,-541,0,7.0,NaN,NaN,0,225000.000,10971.000,0.000,0.0,Consumer credit,-11,NaN,NaN,NaN,NaN
1716413,288038,5057665,Closed,currency 1,-463,0,-36.0,-36.0,6863.715,0,110878.470,0.000,0.000,0.0,Consumer credit,-33,NaN,NaN,NaN,NaN
1716414,445222,5057676,Closed,currency 1,-1628,0,-1320.0,-1320.0,5693.625,0,57834.000,0.000,0.000,0.0,Consumer credit,-1320,NaN,NaN,NaN,NaN
1716415,317217,5057684,Closed,currency 1,-1970,0,-1577.0,-1577.0,NaN,0,93955.500,NaN,NaN,0.0,Consumer credit,-1577,NaN,NaN,NaN,NaN
1716416,433007,5057695,Closed,currency 1,-1100,0,-732.0,-731.0,NaN,0,98775.000,0.000,0.000,0.0,Consumer credit,-720,NaN,NaN,NaN,NaN
1716417,433007,5057703,Active,currency 1,-740,0,31128.0,NaN,NaN,0,67500.000,2466.000,NaN,0.0,Credit card,-433,NaN,NaN,NaN,NaN
1716418,433007,5057708,Closed,currency 1,-1389,0,-1299.0,-1299.0,0.000,0,334158.435,0.000,0.000,0.0,Consumer credit,-1299,NaN,NaN,NaN,NaN
1716419,352790,5057718,Closed,currency 1,-1808,0,-1596.0,-1625.0,8100.000,0,28248.840,0.000,0.000,0.0,Consumer credit,-1625,NaN,NaN,NaN,NaN
1716420,352790,5057725,Closed,currency 1,-99,0,-83.0,-98.0,NaN,0,27000.000,0.000,0.000,0.0,Consumer credit,-18,NaN,NaN,NaN,NaN
1716421,375755,5057734,Closed,currency 1,-1335,0,-1152.0,-1152.0,NaN,0,195408.000,0.000,NaN,0.0,Consumer credit,-1139,NaN,NaN,NaN,NaN
1716422,375755,5057742,Closed,currency 1,-2648,0,31129.0,-189.0,NaN,0,202500.000,0.000,NaN,0.0,Credit card,-109,NaN,NaN,NaN,NaN
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.000,0,11250.000,11250.000,0.000,0.0,Microloan,-19,NaN,NaN,NaN,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.500,0,38130.840,0.000,0.000,0.0,Consumer credit,-2493,NaN,NaN,NaN,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.000,NaN,NaN,0.0,Consumer credit,-967,NaN,NaN,NaN,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.000,0.000,0.000,0.0,Consumer credit,-1508,NaN,NaN,NaN,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.000,0.000,NaN,0.0,Microloan,-387,NaN,NaN,NaN,NaN

In [22]:
def get_unique_combine(df,col):
    values = df[col].unique().astype('str')
    
    values = sorted(values)
    
    return '_'.join(values)

groups = df_bureau.groupby('SK_ID_CURR')
SK_ID_CURR = []
BU_CREDIT_ACTIVE_category = []
BU_CREDIT_ACTIVE_CNT = []
BU_CREDIT_Closed_CNT = []
BU_CREDIT_CURRENCY_category = []
BU_CREDIT_TYPE_category = []
BU_CREDIT_SUM = []
BU_AMT_CREDIT_SUM_DEBT = []
BU_AMT_CREDIT_MAX_OVERDUE = []
BU_CNT_CREDIT_PROLONG_SUM = []
Bureau_balance_Last_STATUS_category = []
Bureau_balance_CNT_sum = []
Bureau_balance_RISK_SCORE_MAX = []
Bureau_balance_RISK_SCORE_MEAN = []

for skid,df in tqdm(groups):
    SK_ID_CURR.append(skid)
    BU_CREDIT_ACTIVE_category.append(get_unique_combine(df,'CREDIT_ACTIVE'))
    BU_CREDIT_ACTIVE_CNT.append(len(df['CREDIT_ACTIVE']=='Active'))
    BU_CREDIT_Closed_CNT.append(len(df['CREDIT_ACTIVE']=='Closed'))
    BU_CREDIT_CURRENCY_category.append(get_unique_combine(df,'CREDIT_CURRENCY'))
    BU_CREDIT_TYPE_category.append(get_unique_combine(df,'CREDIT_TYPE'))
    BU_CREDIT_SUM.append(df['AMT_CREDIT_SUM'].sum())
    BU_AMT_CREDIT_SUM_DEBT.append(df['AMT_CREDIT_SUM_DEBT'].sum())
    BU_AMT_CREDIT_MAX_OVERDUE.append(df['AMT_CREDIT_MAX_OVERDUE'].max())
    BU_CNT_CREDIT_PROLONG_SUM.append(df['CNT_CREDIT_PROLONG'].sum())
    Bureau_balance_Last_STATUS_category.append(get_unique_combine(df,'Bureau_balance_Last_STATUS'))
    Bureau_balance_CNT_sum.append(df['Bureau_balance_CNT'].sum())
    Bureau_balance_RISK_SCORE_MAX.append(df['Bureau_balance_RISK_SCORE'].max())
    Bureau_balance_RISK_SCORE_MEAN.append(df['Bureau_balance_RISK_SCORE'].mean())

100%|██████████| 305811/305811 [06:14<00:00, 816.32it/s]

In [23]:
df_b = pd.DataFrame({'SK_ID_CURR':SK_ID_CURR,
                     'BU_CREDIT_ACTIVE_category':BU_CREDIT_ACTIVE_category,
                     'BU_CREDIT_ACTIVE_CNT':BU_CREDIT_ACTIVE_CNT,
                     'BU_CREDIT_Closed_CNT':BU_CREDIT_Closed_CNT,
                     'BU_CREDIT_CURRENCY_category':BU_CREDIT_CURRENCY_category,
                     'BU_CREDIT_TYPE_category':BU_CREDIT_TYPE_category,
                     'BU_CREDIT_SUM':BU_CREDIT_SUM,
                     'BU_AMT_CREDIT_SUM_DEBT':BU_AMT_CREDIT_SUM_DEBT,
                     'BU_AMT_CREDIT_MAX_OVERDUE':BU_AMT_CREDIT_MAX_OVERDUE,
                     'BU_CNT_CREDIT_PROLONG_SUM':BU_CNT_CREDIT_PROLONG_SUM,
                     'Bureau_balance_Last_STATUS_category':Bureau_balance_Last_STATUS_category,
                     'Bureau_balance_CNT_sum':Bureau_balance_CNT_sum,
                     'Bureau_balance_RISK_SCORE_MAX':Bureau_balance_RISK_SCORE_MAX,
                     'Bureau_balance_RISK_SCORE_MEAN':Bureau_balance_RISK_SCORE_MEAN})

In [24]:
df_b.to_pickle('../../data/add_features/bureau_hand_crafted_features.pkl')

,SK_ID_CURR,BU_CREDIT_ACTIVE_category,BU_CREDIT_ACTIVE_CNT,BU_CREDIT_Closed_CNT,BU_CREDIT_CURRENCY_category,BU_CREDIT_TYPE_category,BU_CREDIT_SUM,BU_AMT_CREDIT_SUM_DEBT,BU_AMT_CREDIT_MAX_OVERDUE,BU_CNT_CREDIT_PROLONG_SUM,Bureau_balance_Last_STATUS_category,Bureau_balance_CNT_sum,Bureau_balance_RISK_SCORE_MAX,Bureau_balance_RISK_SCORE_MEAN
0,100001,Active_Closed,7,7,currency 1,Consumer credit,1453365.000,596686.500,NaN,0,0_1_C,172.0,1.0,0.142857
1,100002,Active_Closed,8,8,currency 1,Consumer credit_Credit card,865055.565,245781.000,5043.645,0,0_C,110.0,6.0,3.375000
2,100003,Active_Closed,4,4,currency 1,Consumer credit_Credit card,1017400.500,0.000,0.000,0,nan,0.0,NaN,NaN
3,100004,Closed,2,2,currency 1,Consumer credit,189037.800,0.000,0.000,0,nan,0.0,NaN,NaN
4,100005,Active_Closed,3,3,currency 1,Consumer credit_Credit card,657126.000,568408.500,0.000,0,0_C_X,21.0,0.0,0.000000
5,100007,Closed,1,1,currency 1,Consumer credit,146250.000,0.000,0.000,0,nan,0.0,NaN,NaN
6,100008,Active_Closed,3,3,currency 1,Consumer credit,468445.500,240057.000,0.000,0,nan,0.0,NaN,NaN
7,100009,Active_Closed,18,18,currency 1,Consumer credit_Credit card,4800811.500,1077349.500,0.000,0,nan,0.0,NaN,NaN
8,100010,Active_Closed,2,2,currency 1,Consumer credit_Loan for business development,990000.000,348007.500,NaN,0,C,72.0,0.0,0.000000
9,100011,Closed,4,4,currency 1,Consumer credit_Credit card,435228.300,0.000,10147.230,0,nan,0.0,NaN,NaN
10,100013,Closed,4,4,currency 1,Car loan_Consumer credit,2072280.060,0.000,19305.000,0,C_X,230.0,3.0,1.750000
11,100014,Active_Closed,8,8,currency 1,Consumer credit,2729932.425,758214.000,12752.280,0,nan,0.0,NaN,NaN
12,100015,Closed,4,4,currency 1,Consumer credit,409495.500,0.000,NaN,0,nan,0.0,NaN,NaN
13,100016,Active_Closed,7,7,currency 1,Consumer credit_Credit card,474984.000,63724.500,0.000,0,nan,0.0,NaN,NaN
14,100017,Closed,6,6,currency 1,Consumer credit_Credit card,859770.000,0.000,0.000,0,nan,0.0,NaN,NaN
15,100019,Active,2,2,currency 1,Consumer credit_Credit card,720000.000,245470.140,0.000,0,0,34.0,0.0,0.000000
16,100020,Active_Closed,4,4,currency 1,Consumer credit,199485.000,123088.500,0.000,0,nan,0.0,NaN,NaN
17,100022,Active,2,2,currency 1,Consumer credit,1057500.000,205276.500,0.000,0,nan,0.0,NaN,NaN
18,100023,Active_Closed,13,13,currency 1,Consumer credit_Credit card,1645692.345,137038.500,5980.050,0,nan,0.0,NaN,NaN
19,100025,Active,1,1,currency 1,Consumer credit,2452500.000,1886544.000,NaN,0,nan,0.0,NaN,NaN
20,100026,Active_Closed,3,3,currency 1,Consumer credit_Microloan,5625000.000,3477814.380,0.000,0,nan,0.0,NaN,NaN
21,100027,Active_Closed,3,3,currency 1,Consumer credit,625297.500,376713.000,5130.000,0,nan,0.0,NaN,NaN
22,100028,Active_Closed,12,12,currency 1,Consumer credit_Credit card,1520875.080,186304.500,0.000,0,0_C_X,560.0,0.0,0.000000
23,100029,Active_Closed,4,4,currency 1,Consumer credit_Mortgage,7428033.000,3682287.000,NaN,0,nan,0.0,NaN,NaN
24,100030,Active_Closed,6,6,currency 1,Consumer credit_Credit card,643430.970,451642.500,0.000,0,nan,0.0,NaN,NaN
25,100031,Active_Closed,7,7,currency 1,Consumer credit_Credit card,3970651.500,1125000.000,NaN,0,nan,0.0,NaN,NaN
26,100032,Active_Closed,4,4,currency 1,Consumer credit,1271160.000,0.000,0.000,0,X,76.0,0.0,0.000000
27,100033,Active,1,1,currency 1,Credit card,675000.000,0.000,NaN,0,X,7.0,0.0,0.000000
28,100035,Active_Closed,9,9,currency 1,Consumer credit_Credit card,3545085.420,2054371.500,22518.000,0,nan,0.0,NaN,NaN
29,100036,Active,1,1,currency 1,Consumer credit,94959.000,8339.355,NaN,0,nan,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305781,456220,Active_Closed,5,5,currency 1,Consumer credit_Credit card,830340.000,470140.065,0.000,2,nan,0.0,NaN,NaN
305782,456221,Active_Closed,5,5,currency 1,Consumer credit_Credit card_Microloan,1118799.000,556470.000,17131.500,0,0_C_X,121.0,3.0,1.800000
305783,456223,Active_Closed,5,5,currency 1,Consumer credit_Credit card_Mortgage,2156309.460,21343.500,0.000,0,C_X,92.0,1.0,0.200000
305784,456224,Active_Closed,17,17,currency 1,Consumer credit_Credit card,3848684.310,787678.560,6556.500,0,0_C_X,989.0,75.0,5.294118
305785,456225,Active_Closed,9,9,currency 1,Consumer credit_Credit card,3714192.000,2797449.840,NaN,0,C_X,271.0,48.0,11.666667
305786,456226,Active,2,2,currency 1,Credit card,450000.000,51012.000,NaN,0,0,31.0,0.0,0.000000
305787,456227,Active_Closed,4,4,currency 1,Consumer credit_Credit card,797242.500,156951.000,4680.000,0,nan,0.0,NaN,NaN
305788,456229,Active,1,1,currency 1,Credit card,258750.000,0.000,11353.500,1,nan,0.0,NaN,NaN
305789,456230,Active_Closed,12,12,currency 1,Consumer credit_Credit card,1396642.500,278523.000,0.000,0,0_C,385.0,1.0,0.083333
305790,456231,Active_Closed,7,7,currency 1,Consumer credit,3313435.500,563112.000,NaN,0,0_C_X,92.0,0.0,0.000000
305791,456232,Active,2,2,currency 1,Consumer credit_Credit card,801000.000,517342.500,NaN,0,nan,0.0,NaN,NaN
305792,456233,Active,1,1,currency 1,Consumer credit,282663.315,223943.895,0.000,0,0,7.0,0.0,0.000000
305793,456234,Active_Closed,10,10,currency 1,Consumer credit_Credit card,1393959.600,17164.215,22171.500,0,1_C_X,131.0,2.0,1.700000
305794,456235,Active_Closed,3,3,currency 1,Consumer credit_Mortgage,1479150.000,1160037.000,0.000,0,C,123.0,0.0,0.000000
305795,456236,Active_Closed,13,13,currency 1,Car loan_Consumer credit_Credit card,8306682.750,3094557.750,26190.000,0,nan,0.0,NaN,NaN
305796,456237,Closed,1,1,currency 1,Consumer credit,98145.000,0.000,NaN,0,nan,0.0,NaN,NaN
305797,456238,Active_Closed,6,6,currency 1,Consumer credit_Credit card,1109502.000,625351.500,12766.950,0,C,422.0,0.0,0.000000
305798,456239,Active_Closed,11,11,currency 1,Car loan_Consumer credit_Credit card,6262312.500,1904764.500,0.000,0,nan,0.0,NaN,NaN
305799,456240,Active_Closed,2,2,currency 1,Consumer credit_Credit card,132399.000,39872.250,7992.000,0,nan,0.0,NaN,NaN
305800,456241,Active_Closed,5,5,currency 1,Consumer credit,1215000.000,0.000,NaN,0,nan,0.0,NaN,NaN
305801,456242,Active,1,1,currency 1,Credit card,198000.000,186097.500,NaN,0,0,17.0,0.0,0.000000
305802,456243,Active_Closed,7,7,currency 1,Consumer credit_Credit card,1787773.500,1247454.000,0.000,0,nan,0.0,NaN,NaN
305803,456244,Active_Closed,23,23,currency 1,Consumer credit_Credit card,7509015.495,611645.355,30390.615,0,0_C_X,1118.0,7.0,0.521739
305804,456246,Active_Closed,3,3,currency 1,Consumer credit_Credit card,382500.000,0.000,NaN,0,nan,0.0,NaN,NaN
305805,456247,Active_Closed,11,11,currency 1,Consumer credit_Credit card_Mortgage,5185462.500,2193390.000,22027.500,1,0_C,320.0,0.0,0.000000
305806,456249,Active_Closed,13,13,currency 1,Another type of loan_Consumer credit_Credit card,3693858.660,163071.000,18945.000,0,nan,0.0,NaN,NaN
305807,456250,Active_Closed,3,3,currency 1,Consumer credit_Credit card,3086459.550,2232040.095,0.000,0,0_C_X,87.0,0.0,0.000000
305808,456253,Active_Closed,4,4,currency 1,Consumer credit_Credit card,3960000.000,1795833.000,NaN,0,C_X,117.0,0.0,0.000000
305809,456254,Closed,1,1,currency 1,Consumer credit,45000.000,0.000,NaN,0,C,37.0,0.0,0.000000
305810,456255,Active_Closed,11,11,currency 1,Consumer credit_Credit card,3801919.500,1534913.010,25578.000,1,C,293.0,0.0,0.000000

In [26]:
df_b.dtypes

SK_ID_CURR                               int64
BU_CREDIT_ACTIVE_category               object
BU_CREDIT_ACTIVE_CNT                     int64
BU_CREDIT_Closed_CNT                     int64
BU_CREDIT_CURRENCY_category             object
BU_CREDIT_TYPE_category                 object
BU_CREDIT_SUM                          float64
BU_AMT_CREDIT_SUM_DEBT                 float64
BU_AMT_CREDIT_MAX_OVERDUE              float64
BU_CNT_CREDIT_PROLONG_SUM                int64
Bureau_balance_Last_STATUS_category     object
Bureau_balance_CNT_sum                 float64
Bureau_balance_RISK_SCORE_MAX          float64
Bureau_balance_RISK_SCORE_MEAN         float64
dtype: object

In [25]:
df_b.to_pickle('../../data/add_features/bureau_hand_crafted_features.pkl')

In [17]:
df_bureau.CREDIT_CURRENCY.value_counts()

currency 1    1715020
currency 2       1224
currency 3        174
currency 4         10
Name: CREDIT_CURRENCY, dtype: int64

In [4]:
X_Train = pd.read_pickle(ENV.application_train_cleaned.value)
print('Train shape: {}'.format(X_Train.shape))

X_Test = pd.read_pickle(ENV.application_test_cleaned.value)
print('Test shape: {}'.format(X_Test.shape))

X_pre = pd.read_pickle(ENV.previous_application_cleaned.value)
print('Previous App shape: {}'.format(X_pre.shape))

X_bu_b = pd.read_pickle(ENV.bureau_balance_clean_rnn.value)
print('Bureau Balance shape: {}'.format(X_bu_b.shape))

X_bu_bo = pd.read_pickle(ENV.bureau_balance_clean.value)
print('Bureau Balance shape: {}'.format(X_bu_bo.shape))

X_bu = pd.read_pickle(ENV.bureau_cleaned.value)
print('Bureau shape: {}'.format(X_bu.shape))



X_ins = pd.read_pickle(ENV.installments_payments_clean.value)
print('Installment shape: {}'.format(X_ins.shape))

X_pos = pd.read_pickle(ENV.POS_CASH_balance_clean.value)
print('POS CASH shape: {}'.format(X_pos.shape))

X_cc = pd.read_pickle(ENV.credit_card_balance_clean.value)
print('Credit Card shape: {}'.format(X_cc.shape))

Train shape: (307511, 122)
Test shape: (48744, 121)
Previous App shape: (1670214, 37)
Bureau Balance shape: (817395, 10)
Bureau Balance shape: (27299925, 3)
Bureau shape: (1716428, 17)
Installment shape: (13605401, 8)
POS CASH shape: (10001358, 8)
Credit Card shape: (3840312, 23)

In [5]:
X_bu_ori = pd.read_csv(ENV.bureau_ori.value)
print('Bureau shape: {}'.format(X_bu_ori.shape))

Bureau shape: (1716428, 17)

# Bureau

In [6]:
X = X_bu_ori.merge(X_bu_b,how='left',left_on='SK_ID_BUREAU',right_on='SK_ID_BUREAU')

### fillna step 1

In [7]:
for col in ['STATUS0','STATUS1','STATUS2','STATUS3','STATUS4','STATUS5','STATUS6','STATUS7','BUREAU_LENGTH']:
    X[col] = X[col].fillna(0)

### fillna step 2:

##### process AMT_ANUITY

In [8]:
# option 1: 0 fillna
# reason: 50% of non na data is 0
col = 'AMT_ANNUITY'
X[col] = X[col].fillna(0)

# option 2: mean
# X[col] = X[col].fillna(X[col].mean())

##### process AMT_CREDIT_MAX_OVERDUE

In [9]:
# option 1: 0 fillna
# reason: 50% of non na data is 0
col = 'AMT_CREDIT_MAX_OVERDUE'
X[col] = X[col].fillna(0)

# option 2: mean
# X[col] = X[col].fillna(X[col].mean())

##### process DAYS_ENDDATE_FACT

In [10]:
# option 1: 0 fillna
# reason: 50% of non na data is 0
col = 'DAYS_ENDDATE_FACT'
# X[col] = X[col].fillna(0)

# option 2: mean
X[col] = X[col].fillna(X[col].mean())

##### process AMT_CREDIT_SUM_LIMIT

In [11]:
# option 1: 0 fillna
# reason: 50% of non na data is 0
col = 'AMT_CREDIT_SUM_LIMIT'
X[col] = X[col].fillna(0)

# option 2: mean
# X[col] = X[col].fillna(X[col].mean())

##### process AMT_CREDIT_SUM_DEBT

In [12]:
# option 1: 0 fillna
# reason: 50% of non na data is 0
col = 'AMT_CREDIT_SUM_DEBT'
X[col] = X[col].fillna(0)

# option 2: mean
# X[col] = X[col].fillna(X[col].mean())

##### process DAYS_CREDIT_ENDDATE

In [13]:
# option 1: 0 fillna
# reason: 50% of non na data is 0
col = 'DAYS_CREDIT_ENDDATE'
X[col] = X[col].fillna(0)

# option 2: mean
# X[col] = X[col].fillna(X[col].mean())   

# option 3: middle
X[col] = X[col].fillna(-3.3*10**2)

##### process AMT_CREDIT_SUM

In [14]:
# option 1: 0 fillna
# reason: 50% of non na data is 0
col = 'AMT_CREDIT_SUM'
# X[col] = X[col].fillna(0)

# option 2: mean
X[col] = X[col].fillna(X[col].mean())

In [15]:
col = 'AMT_CREDIT_SUM'
X[col][X[col].notnull()].describe()

count    1.716428e+06
mean     3.549946e+05
std      1.149807e+06
min      0.000000e+00
25%      5.130000e+04
50%      1.255230e+05
75%      3.150000e+05
max      5.850000e+08
Name: AMT_CREDIT_SUM, dtype: float64

# PROCESS CAT columns

##### process CREDIT_ACTIVE

In [16]:
col = 'CREDIT_ACTIVE'
X[col].value_counts()

Closed      1079273
Active       630607
Sold           6527
Bad debt         21
Name: CREDIT_ACTIVE, dtype: int64

In [17]:
#Option 1: one hot encoding
X['Closed'] = 0
X['Active'] = 0
X['Sold'] = 0
X['Bad_debt'] = 0
X.loc[X[col]=='Closed','Closed'] = 1
X.loc[X[col]=='Active','Active'] = 1
X.loc[X[col]=='Sold','Sold'] = 1
X.loc[X[col]=='Bad debt','Bad_debt'] = 1
X = X.drop(['CREDIT_ACTIVE'],axis=1)

In [18]:
# # Option 2: ordinal encoder
# oe.fit(X[col])
# X[col] = oe.transform(X[col])

##### process CREDIT_CURRENCY

In [19]:
col = 'CREDIT_CURRENCY'
X[col].value_counts()

currency 1    1715020
currency 2       1224
currency 3        174
currency 4         10
Name: CREDIT_CURRENCY, dtype: int64

In [20]:
#Option 1: one hot encoding
X['currency_1'] = 0
X['currency_2'] = 0
X['currency_3'] = 0
X['currency_4'] = 0
X.loc[X[col]=='currency 1','currency_1'] = 1
X.loc[X[col]=='currency 2','currency_2'] = 1
X.loc[X[col]=='currency 3','currency_3'] = 1
X.loc[X[col]=='currency 4','currency_4'] = 1
X = X.drop(['CREDIT_CURRENCY'],axis=1)

In [21]:
# # Option 2: ordinal encoder
# oe.fit(X[col])
# X[col] = oe.transform(X[col])

##### process CREDIT_TYPE

In [22]:
col = 'CREDIT_TYPE'
X[col].value_counts()

Consumer credit                                 1251615
Credit card                                      402195
Car loan                                          27690
Mortgage                                          18391
Microloan                                         12413
Loan for business development                      1975
Another type of loan                               1017
Unknown type of loan                                555
Loan for working capital replenishment              469
Cash loan (non-earmarked)                            56
Real estate loan                                     27
Loan for the purchase of equipment                   19
Loan for purchase of shares (margin lending)          4
Mobile operator loan                                  1
Interbank credit                                      1
Name: CREDIT_TYPE, dtype: int64

In [23]:
#Option 1: one hot encoding
X['Consumer_credit'] = 0
X['Credit_card'] = 0
X['Car_loan'] = 0
X['Mortgage'] = 0
X['Microloan'] = 0
X['Loan_for_business_development'] = 0
X['Another_type_of_loan'] = 0
X['Unknown_type_of_loan'] = 0
X['Loan_for_working_capital_replenishment'] = 0
X['Cash_loan_(non-earmarked)'] = 0
X['Real_estate_loan'] = 0
X['Loan_for_the_purchase_of_equipment'] = 0
X['Loan_for_purchase_of_shares'] = 0
X['Interbank_credit'] = 0
X['Mobile_operator_loan'] = 0
X.loc[X[col]=='Consumer credit','Consumer_credit'] = 1
X.loc[X[col]=='Credit card','Credit_card'] = 1
X.loc[X[col]=='Car loan','Car_loan'] = 1
X.loc[X[col]=='Mortgage','Mortgage'] = 1
X.loc[X[col]=='Microloan','Microloan'] = 1
X.loc[X[col]=='Loan for business development','Loan_for_business_development'] = 1
X.loc[X[col]=='Another type of loan','Another_type_of_loan'] = 1
X.loc[X[col]=='Unknown type of loan','Unknown_type_of_loan'] = 1
X.loc[X[col]=='Loan for working capital replenishment','Loan_for_working_capital_replenishment'] = 1
X.loc[X[col]=='Cash loan (non-earmarked)','Cash_loan_(non-earmarked)'] = 1
X.loc[X[col]=='Real estate loan','Real_estate_loan'] = 1
X.loc[X[col]=='Loan for the purchase of equipment','Loan_for_the_purchase_of_equipment'] = 1
X.loc[X[col]=='Loan for purchase of shares','Loan_for_purchase_of_shares'] = 1
X.loc[X[col]=='Interbank credit','Interbank_credit'] = 1
X.loc[X[col]=='Mobile operator loan','Mobile_operator_loan'] = 1
X = X.drop(['CREDIT_TYPE'],axis=1)

In [24]:
# # Option 2: ordinal encoder
# oe.fit(X[col])
# X[col] = oe.transform(X[col])

# Aggregate

### Step 1:  get squre:

In [30]:
from itertools import combinations
trans_col = [
             'AMT_ANNUITY',
             'AMT_CREDIT_MAX_OVERDUE',
             'DAYS_ENDDATE_FACT',
             'AMT_CREDIT_SUM_LIMIT',
             'AMT_CREDIT_SUM_DEBT',
             'DAYS_CREDIT_ENDDATE',
             'AMT_CREDIT_SUM',
             'CREDIT_DAY_OVERDUE',
             'CNT_CREDIT_PROLONG',
             'BUREAU_LENGTH',
             'AMT_CREDIT_SUM_OVERDUE',
             'DAYS_CREDIT_UPDATE']
squre_col = []
for col in trans_col:
    col_name = col + '_squre'
    squre_col.append(col_name)
    X[col_name] = X[col] * X[col]
comb_col = []
for col in combinations(trans_col,2):
    col_name = col[0] + '_' + col[1]
    comb_col.append(col_name)
    X[col_name] = X[col[0]] * X[col[1]]

In [31]:
squre_col

['AMT_ANNUITY_squre',
 'AMT_CREDIT_MAX_OVERDUE_squre',
 'DAYS_ENDDATE_FACT_squre',
 'AMT_CREDIT_SUM_LIMIT_squre',
 'AMT_CREDIT_SUM_DEBT_squre',
 'DAYS_CREDIT_ENDDATE_squre',
 'AMT_CREDIT_SUM_squre',
 'CREDIT_DAY_OVERDUE_squre',
 'CNT_CREDIT_PROLONG_squre',
 'BUREAU_LENGTH_squre',
 'AMT_CREDIT_SUM_OVERDUE_squre',
 'DAYS_CREDIT_UPDATE_squre']

In [32]:
comb_col

['AMT_ANNUITY_AMT_CREDIT_MAX_OVERDUE',
 'AMT_ANNUITY_DAYS_ENDDATE_FACT',
 'AMT_ANNUITY_AMT_CREDIT_SUM_LIMIT',
 'AMT_ANNUITY_AMT_CREDIT_SUM_DEBT',
 'AMT_ANNUITY_DAYS_CREDIT_ENDDATE',
 'AMT_ANNUITY_AMT_CREDIT_SUM',
 'AMT_ANNUITY_CREDIT_DAY_OVERDUE',
 'AMT_ANNUITY_CNT_CREDIT_PROLONG',
 'AMT_ANNUITY_BUREAU_LENGTH',
 'AMT_ANNUITY_AMT_CREDIT_SUM_OVERDUE',
 'AMT_ANNUITY_DAYS_CREDIT_UPDATE',
 'AMT_CREDIT_MAX_OVERDUE_DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE_AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_MAX_OVERDUE_AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_MAX_OVERDUE_DAYS_CREDIT_ENDDATE',
 'AMT_CREDIT_MAX_OVERDUE_AMT_CREDIT_SUM',
 'AMT_CREDIT_MAX_OVERDUE_CREDIT_DAY_OVERDUE',
 'AMT_CREDIT_MAX_OVERDUE_CNT_CREDIT_PROLONG',
 'AMT_CREDIT_MAX_OVERDUE_BUREAU_LENGTH',
 'AMT_CREDIT_MAX_OVERDUE_AMT_CREDIT_SUM_OVERDUE',
 'AMT_CREDIT_MAX_OVERDUE_DAYS_CREDIT_UPDATE',
 'DAYS_ENDDATE_FACT_AMT_CREDIT_SUM_LIMIT',
 'DAYS_ENDDATE_FACT_AMT_CREDIT_SUM_DEBT',
 'DAYS_ENDDATE_FACT_DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT_AMT_CREDIT_SUM',
 'DAYS_ENDDATE_FACT_CREDIT_DAY_OVERDUE',
 'DAYS_ENDDATE_FACT_CNT_CREDIT_PROLONG',
 'DAYS_ENDDATE_FACT_BUREAU_LENGTH',
 'DAYS_ENDDATE_FACT_AMT_CREDIT_SUM_OVERDUE',
 'DAYS_ENDDATE_FACT_DAYS_CREDIT_UPDATE',
 'AMT_CREDIT_SUM_LIMIT_AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT_DAYS_CREDIT_ENDDATE',
 'AMT_CREDIT_SUM_LIMIT_AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_LIMIT_CREDIT_DAY_OVERDUE',
 'AMT_CREDIT_SUM_LIMIT_CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM_LIMIT_BUREAU_LENGTH',
 'AMT_CREDIT_SUM_LIMIT_AMT_CREDIT_SUM_OVERDUE',
 'AMT_CREDIT_SUM_LIMIT_DAYS_CREDIT_UPDATE',
 'AMT_CREDIT_SUM_DEBT_DAYS_CREDIT_ENDDATE',
 'AMT_CREDIT_SUM_DEBT_AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT_CREDIT_DAY_OVERDUE',
 'AMT_CREDIT_SUM_DEBT_CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM_DEBT_BUREAU_LENGTH',
 'AMT_CREDIT_SUM_DEBT_AMT_CREDIT_SUM_OVERDUE',
 'AMT_CREDIT_SUM_DEBT_DAYS_CREDIT_UPDATE',
 'DAYS_CREDIT_ENDDATE_AMT_CREDIT_SUM',
 'DAYS_CREDIT_ENDDATE_CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE_CNT_CREDIT_PROLONG',
 'DAYS_CREDIT_ENDDATE_BUREAU_LENGTH',
 'DAYS_CREDIT_ENDDATE_AMT_CREDIT_SUM_OVERDUE',
 'DAYS_CREDIT_ENDDATE_DAYS_CREDIT_UPDATE',
 'AMT_CREDIT_SUM_CREDIT_DAY_OVERDUE',
 'AMT_CREDIT_SUM_CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM_BUREAU_LENGTH',
 'AMT_CREDIT_SUM_AMT_CREDIT_SUM_OVERDUE',
 'AMT_CREDIT_SUM_DAYS_CREDIT_UPDATE',
 'CREDIT_DAY_OVERDUE_CNT_CREDIT_PROLONG',
 'CREDIT_DAY_OVERDUE_BUREAU_LENGTH',
 'CREDIT_DAY_OVERDUE_AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_DAY_OVERDUE_DAYS_CREDIT_UPDATE',
 'CNT_CREDIT_PROLONG_BUREAU_LENGTH',
 'CNT_CREDIT_PROLONG_AMT_CREDIT_SUM_OVERDUE',
 'CNT_CREDIT_PROLONG_DAYS_CREDIT_UPDATE',
 'BUREAU_LENGTH_AMT_CREDIT_SUM_OVERDUE',
 'BUREAU_LENGTH_DAYS_CREDIT_UPDATE',
 'AMT_CREDIT_SUM_OVERDUE_DAYS_CREDIT_UPDATE']

In [33]:
X.to_pickle(ENV.bureau_cleaned_rnnALL.value)

In [26]:
report = scan_nan_portion(X)
report.sort_values(ascending=False)

Mobile_operator_loan                      0.0
AMT_CREDIT_SUM_OVERDUE                    0.0
STATUS6                                   0.0
STATUS5                                   0.0
STATUS4                                   0.0
STATUS3                                   0.0
STATUS2                                   0.0
STATUS1                                   0.0
STATUS0                                   0.0
AMT_ANNUITY                               0.0
DAYS_CREDIT_UPDATE                        0.0
AMT_CREDIT_SUM_LIMIT                      0.0
Interbank_credit                          0.0
AMT_CREDIT_SUM_DEBT                       0.0
AMT_CREDIT_SUM                            0.0
CNT_CREDIT_PROLONG                        0.0
AMT_CREDIT_MAX_OVERDUE                    0.0
DAYS_ENDDATE_FACT                         0.0
DAYS_CREDIT_ENDDATE                       0.0
CREDIT_DAY_OVERDUE                        0.0
DAYS_CREDIT                               0.0
SK_ID_BUREAU                              0.0
STATUS7                                   0.0
BUREAU_LENGTH                             0.0
Closed                                    0.0
Active                                    0.0
Loan_for_purchase_of_shares               0.0
Loan_for_the_purchase_of_equipment        0.0
Real_estate_loan                          0.0
Cash_loan_(non-earmarked)                 0.0
Loan_for_working_capital_replenishment    0.0
Unknown_type_of_loan                      0.0
Another_type_of_loan                      0.0
Loan_for_business_development             0.0
Microloan                                 0.0
Mortgage                                  0.0
Car_loan                                  0.0
Credit_card                               0.0
Consumer_credit                           0.0
currency_4                                0.0
currency_3                                0.0
currency_2                                0.0
currency_1                                0.0
Bad_debt                                  0.0
Sold                                      0.0
SK_ID_CURR                                0.0
dtype: float64

# Bureau Balance

In [27]:
# l_encoder = LabelEncoder()
# X_bu_b_ori['STATUS'] = l_encoder.fit_transform(X_bu_b_ori['STATUS'])
# bub_group = X_bu_b_ori.groupby('SK_ID_BUREAU')

# SK_ID_list = []
# length = []
# one_hots = np.zeros((X_bu_b_ori.SK_ID_BUREAU.nunique(),len(l_encoder.classes_)))
# count = 0
# for key,df in bub_group:
#     SK_ID_list.append(key)
#     length.append(len(df))
#     one_hots[count,df.STATUS.unique()] =1
#     count+=1
#     if count % 10000 == 0:
#         print(count)
        
# df_bu_b = pd.DataFrame({'SK_ID_BUREAU':SK_ID_list,
#                         'STATUS0':one_hots[:,0],
#                         'STATUS1':one_hots[:,1],
#                         'STATUS2':one_hots[:,2],
#                         'STATUS3':one_hots[:,3],
#                         'STATUS4':one_hots[:,4],
#                         'STATUS5':one_hots[:,5],
#                         'STATUS6':one_hots[:,6],
#                         'STATUS7':one_hots[:,7],
#                         'BUREAU_LENGTH':length})
# df_bu_b.to_pickle(ENV.bureau_balance_clean_rnn.value)