In [1]:
__file__=''
import os,sys
import pandas as pd
sys.path.append(os.path.join(os.path.dirname(__file__),'../LIB/'))
sys.path.append(os.path.join(os.path.dirname(__file__),'../../../../automl/automl_libs/'))
from env import FILE

In [3]:
train = pd.read_pickle(FILE.train_ori.value)
train = train.sort_values('time')

In [ ]:

    group_cols = cols[:-1]
    calc_col = cols[-1]
    n = int(params['n'])
    m = params['fillna']
    try:
        m = int(params['fillna'])
    except:
        pass
    result = (df[cols].groupby(by=group_cols)[calc_col].shift(-n) - df[calc_col]).fillna(m)
    try:
        result = result.astype(utils.set_type(result, 'int')).to_frame()
    except:
        result = result.to_frame()
    del n, m
    gc.collect()
    module_logger.debug('feature generated: {}'.format(generated_feature_name))
    return result

In [5]:
cols = ['model','time']

In [6]:
params={'n':1,'fillna':'nan'}
group_cols = cols[:-1]
calc_col = cols[-1]
n = int(params['n'])
m = params['fillna']

In [11]:
df = pd.DataFrame({'A':[0,1,2,3,2,1,0,5,2,1,2,3,1,2,3,1]})
df['time'] = df.index.values

In [12]:
df

    A  time
0   0     0
1   1     1
2   2     2
3   3     3
4   2     4
5   1     5
6   0     6
7   5     7
8   2     8
9   1     9
10  2    10
11  3    11
12  1    12
13  2    13
14  3    14
15  1    15

In [14]:
df.groupby(['A'])['time'].shift(-2)

0      NaN
1      9.0
2      8.0
3     14.0
4     10.0
5     12.0
6      NaN
7      NaN
8     13.0
9     15.0
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
Name: time, dtype: float64