In [1]:
import pandas as pd

In [2]:
train = pd.read_pickle('/home/kai/data/kaggle/homecredit/train_bo2.pkl')
test = pd.read_pickle('/home/kai/data/kaggle/homecredit/test_bo2.pkl')

In [3]:
train_len = len(train)
train.shape, test.shape

((307511, 2678), (48744, 2677))

In [4]:
train.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,inst_agg__DAYS_ENTRY_PAYMENT_standard_error,inst_agg__DAYS_ENTRY_PAYMENT_normed_std,inst_agg__DAYS_ENTRY_PAYMENT_two_third,inst_agg__DAYS_ENTRY_PAYMENT_two_minus_one_third,inst_agg__DAYS_INSTALMENT_trimmed_mean_10_pct,inst_agg__DAYS_INSTALMENT_max_minus_min,inst_agg__DAYS_INSTALMENT_standard_error,inst_agg__DAYS_INSTALMENT_normed_std,inst_agg__DAYS_INSTALMENT_two_third,inst_agg__DAYS_INSTALMENT_two_minus_one_third
0,100002,1.0,0,0,0,0,0,202500.0,406597.5,24700.5,...,39.472923,-0.545490,-224.0,187.99892,-295.000000,540.0,38.729745,-0.572269,-205.0,179.99820
1,100003,0.0,0,1,0,1,0,270000.0,1293502.5,35698.5,...,151.464783,-0.546679,-719.0,1352.00272,-1369.619048,1774.0,151.490408,-0.549612,-707.0,1363.00096

In [5]:
df = pd.concat([train, test], sort=True)

In [6]:
df.shape

(356255, 2678)

In [15]:
cat_cols = ["FLAG_OWN_CAR","FLAG_OWN_REALTY","NAME_TYPE_SUITE","NAME_INCOME_TYPE","NAME_EDUCATION_TYPE","NAME_FAMILY_STATUS","NAME_HOUSING_TYPE", "OCCUPATION_TYPE","FLAG_DOCUMENT_2","FLAG_DOCUMENT_3","FLAG_DOCUMENT_4","FLAG_DOCUMENT_5","FLAG_DOCUMENT_6","FLAG_DOCUMENT_7","FLAG_DOCUMENT_8","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10","FLAG_DOCUMENT_11","FLAG_DOCUMENT_12", "FLAG_DOCUMENT_13","FLAG_DOCUMENT_14","FLAG_DOCUMENT_15","FLAG_DOCUMENT_16","FLAG_DOCUMENT_17","FLAG_DOCUMENT_18", "FLAG_DOCUMENT_19","FLAG_DOCUMENT_20","FLAG_DOCUMENT_21", "CAT_MONTHS_BIRTH"]

In [20]:
df = pd.get_dummies(df, columns=cat_cols)

In [21]:
df.shape

(356255, 2757)

In [22]:
df.iloc[train_len-2:train_len+3]

,AMT_ANNUITY,AMT_ANNUITY_divide_AMT_GOODS_PRICE,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_HOUR,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_MON,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_QRT,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_WEEK,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_divide_CNT_CHILDREN,AMT_ANNUITY_divide_CNT_FAM_MEMBERS,...,CAT_MONTHS_BIRTH_2,CAT_MONTHS_BIRTH_3,CAT_MONTHS_BIRTH_4,CAT_MONTHS_BIRTH_5,CAT_MONTHS_BIRTH_6,CAT_MONTHS_BIRTH_7,CAT_MONTHS_BIRTH_8,CAT_MONTHS_BIRTH_9,CAT_MONTHS_BIRTH_10,CAT_MONTHS_BIRTH_11
307509,20205.0,0.063239,inf,inf,inf,inf,inf,inf,inf,10102.50,...,0,0,0,0,0,0,0,0,1,0
307510,49117.5,0.072767,inf,inf,2.455875e+04,inf,inf,4.911750e+04,inf,24558.75,...,0,1,0,0,0,0,0,0,0,0
0,20560.5,0.045690,inf,inf,inf,inf,inf,inf,inf,10280.25,...,0,0,0,0,0,1,0,0,0,0
1,17370.0,0.096500,inf,inf,inf,inf,inf,5.790000e+03,inf,8685.00,...,0,0,0,0,0,0,0,0,1,0
2,69777.0,0.110757,inf,inf,inf,6.977700e+04,inf,1.744425e+04,inf,34888.50,...,0,0,0,1,0,0,0,0,0,0

In [8]:
import numpy as np
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [9]:
null_counts = df.isnull().sum()

In [10]:
null_counts = null_counts[null_counts>0]

In [11]:
print(null_counts[:3])
print('=========')
print(len(null_counts))

AMT_ANNUITY                                         36
AMT_ANNUITY_divide_AMT_GOODS_PRICE                 314
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY    354696
dtype: int64
=========
2549

In [12]:
null_ratios = null_counts / len(df)

In [13]:
null_ratios[:3]

AMT_ANNUITY                                     0.000101
AMT_ANNUITY_divide_AMT_GOODS_PRICE              0.000881
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY    0.995624
dtype: float64

In [56]:
null_thresh = 0.2

In [57]:
null_cols = null_ratios[null_ratios > null_thresh].index

In [58]:
len(null_cols), null_cols[:3]

(1089, Index(['AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY',
        'AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_HOUR',
        'AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_MON'],
       dtype='object'))

In [17]:
df.drop(null_cols, axis=1, inplace=True)

print('Columns dropped for being over {}% null:'.format(100*null_thresh))

Columns dropped for being over 20.0% null:

In [18]:
categorical_feats = ["FLAG_OWN_CAR","FLAG_OWN_REALTY","NAME_TYPE_SUITE","NAME_INCOME_TYPE","NAME_EDUCATION_TYPE","NAME_FAMILY_STATUS","NAME_HOUSING_TYPE","OCCUPATION_TYPE","FLAG_DOCUMENT_2","FLAG_DOCUMENT_3","FLAG_DOCUMENT_4","FLAG_DOCUMENT_5","FLAG_DOCUMENT_6","FLAG_DOCUMENT_7","FLAG_DOCUMENT_8","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10","FLAG_DOCUMENT_11","FLAG_DOCUMENT_12","FLAG_DOCUMENT_13","FLAG_DOCUMENT_14","FLAG_DOCUMENT_15","FLAG_DOCUMENT_16","FLAG_DOCUMENT_17","FLAG_DOCUMENT_18","FLAG_DOCUMENT_19","FLAG_DOCUMENT_20","FLAG_DOCUMENT_21","NAME_TYPE_SUITE"]

In [19]:
for col in null_cols:
    if col in categorical_feats:
        categorical_feats.pop(col) # since cat feats are label encoded, there won't be any missing value
        print(col) # expect to print nothing

In [20]:
df.fillna(-1, inplace=True)

In [21]:
df.shape

(356255, 1589)

In [22]:
numeric_feats = list(set(df.columns.values) - set(categorical_feats) - set(['TARGET']))

len(numeric_feats)

1560

In [23]:
# import numpy as np
# cat_feats_idx = np.array([df.columns.get_loc(x) for x in categorical_feats])
# cat_feat_lookup = pd.DataFrame({'feature': categorical_feats, 'column_index': cat_feats_idx})
# cat_feat_lookup.head()

In [24]:
# # int_feats_idx = [df.columns.get_loc(x) for x in numeric_feats]
# numeric_feats_idx = np.array(
#     [df.columns.get_loc(x) 
#      for x in numeric_feats]
# )
# numeric_feat_lookup = pd.DataFrame(
#     {'feature': numeric_feats, 
#      'column_index': numeric_feats_idx}
# )
# numeric_feat_lookup.head()

## try different scaler (like: robust scaler)

In [25]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

## for col in numeric_feats:
    print(col)
    scaler.fit_transform((abs(df2[col])+200).values.reshape(-1,1))

In [26]:
final_col_names = df.columns
# df = df.values

In [27]:
len(final_col_names)

1589

## try different percision, like np.float32

In [28]:
scaler = StandardScaler()
for col in numeric_feats:
    df[col] = scaler.fit_transform(df[col].values.reshape(-1,1))
# df[:, numeric_feats_idx] = scaler.fit_transform(df[:, numeric_feats_idx])

/home/kai/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [29]:
scaler_2 = MinMaxScaler(feature_range=(0, 1))
for col in categorical_feats:
    df[col] = scaler_2.fit_transform(df[col].values.reshape(-1,1))
# df[:, cat_feats_idx] = scaler_2.fit_transform(df[:, cat_feats_idx])

/home/kai/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [30]:
import gc
gc.collect()

0

In [23]:
train = df[:train_len]
test = df[train_len:]

In [24]:
test.drop(['TARGET'], axis=1, inplace=True)
test.shape

/home/kai/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(48744, 2756)

In [25]:
train.shape, test.shape

((307511, 2757), (48744, 2756))

In [27]:
train.to_pickle('data/train_bo2_onehot.pkl')
test.to_pickle('data/test_bo2_onehot.pkl')