In [1]:
import pandas as pd

In [2]:
train = pd.read_pickle('data/train_bo2.pkl')
test = pd.read_pickle('data/test_bo2.pkl')

In [3]:
train_len = len(train)
train.shape, test.shape

((307511, 2678), (48744, 2677))

In [4]:
train.head(2)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,inst_agg__DAYS_ENTRY_PAYMENT_standard_error,inst_agg__DAYS_ENTRY_PAYMENT_normed_std,inst_agg__DAYS_ENTRY_PAYMENT_two_third,inst_agg__DAYS_ENTRY_PAYMENT_two_minus_one_third,inst_agg__DAYS_INSTALMENT_trimmed_mean_10_pct,inst_agg__DAYS_INSTALMENT_max_minus_min,inst_agg__DAYS_INSTALMENT_standard_error,inst_agg__DAYS_INSTALMENT_normed_std,inst_agg__DAYS_INSTALMENT_two_third,inst_agg__DAYS_INSTALMENT_two_minus_one_third
0,100002,1.0,0,0,0,0,0,202500.0,406597.5,24700.5,...,39.472923,-0.545490,-224.0,187.99892,-295.000000,540.0,38.729745,-0.572269,-205.0,179.99820
1,100003,0.0,0,1,0,1,0,270000.0,1293502.5,35698.5,...,151.464783,-0.546679,-719.0,1352.00272,-1369.619048,1774.0,151.490408,-0.549612,-707.0,1363.00096

In [5]:
df = pd.concat([train, test], sort=True)

In [6]:
df.shape

(356255, 2678)

In [7]:
cat_cols = ["FLAG_OWN_CAR","FLAG_OWN_REALTY","NAME_TYPE_SUITE","NAME_INCOME_TYPE","NAME_EDUCATION_TYPE","NAME_FAMILY_STATUS","NAME_HOUSING_TYPE","OCCUPATION_TYPE","FLAG_DOCUMENT_2","FLAG_DOCUMENT_3","FLAG_DOCUMENT_4","FLAG_DOCUMENT_5","FLAG_DOCUMENT_6","FLAG_DOCUMENT_7","FLAG_DOCUMENT_8","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10","FLAG_DOCUMENT_11","FLAG_DOCUMENT_12", "FLAG_DOCUMENT_13","FLAG_DOCUMENT_14","FLAG_DOCUMENT_15","FLAG_DOCUMENT_16","FLAG_DOCUMENT_17","FLAG_DOCUMENT_18", "FLAG_DOCUMENT_19","FLAG_DOCUMENT_20","FLAG_DOCUMENT_21", "CAT_MONTHS_BIRTH", 'CNT_CHILDREN', 'CODE_GENDER', 'CONTACT', 'EMERGENCYSTATE_MODE', 'FLAG_EMAIL', 'FLAG_OTHER', 'FONDKAPREMONT_MODE', 'HOUR_APPR_PROCESS_START', 'HOUSETYPE_MODE', 'LIVE_CITY_NOT_WORK_CITY', 'LIVE_REGION_NOT_WORK_REGION', 'NAME_CONTRACT_TYPE', 'ORGANIZATION_TYPE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT_W_CITY_times_livingsum_AVG', 'REGION_RATING_CLIENT_W_CITY_times_livingsum_MEDI', 'REGION_RATING_CLIENT_W_CITY_times_livingsum_MODE', 'REGION_RATING_CLIENT_times_livingsum_AVG', 'REGION_RATING_CLIENT_times_livingsum_MEDI', 'REGION_RATING_CLIENT_times_livingsum_MODE', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'WALLSMATERIAL_MODE', 'WEEKDAY_APPR_PROCESS_START', 'count_CODE_GENDER_NAME_EDUCATION_TYPE', 'count_CODE_GENDER_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE', 'count_CODE_GENDER_NAME_INCOME_TYPE', 'count_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE', 'unique_CODE_GENDER_NAME_EDUCATION_TYPE', 'unique_CODE_GENDER_NAME_INCOME_TYPE', 'unique_CODE_GENDER_x', 'unique_CODE_GENDER_y', 'unique_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE', 'unique_NAME_EDUCATION_TYPE_x', 'unique_NAME_EDUCATION_TYPE_y', 'unique_NAME_INCOME_TYPE_x', 'unique_NAME_INCOME_TYPE_y']

In [20]:
df = pd.get_dummies(df, columns=cat_cols)

In [21]:
df.shape

(356255, 2757)

In [22]:
df.iloc[train_len-2:train_len+3]

,AMT_ANNUITY,AMT_ANNUITY_divide_AMT_GOODS_PRICE,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_HOUR,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_MON,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_QRT,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_WEEK,AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_YEAR,AMT_ANNUITY_divide_CNT_CHILDREN,AMT_ANNUITY_divide_CNT_FAM_MEMBERS,...,CAT_MONTHS_BIRTH_2,CAT_MONTHS_BIRTH_3,CAT_MONTHS_BIRTH_4,CAT_MONTHS_BIRTH_5,CAT_MONTHS_BIRTH_6,CAT_MONTHS_BIRTH_7,CAT_MONTHS_BIRTH_8,CAT_MONTHS_BIRTH_9,CAT_MONTHS_BIRTH_10,CAT_MONTHS_BIRTH_11
307509,20205.0,0.063239,inf,inf,inf,inf,inf,inf,inf,10102.50,...,0,0,0,0,0,0,0,0,1,0
307510,49117.5,0.072767,inf,inf,2.455875e+04,inf,inf,4.911750e+04,inf,24558.75,...,0,1,0,0,0,0,0,0,0,0
0,20560.5,0.045690,inf,inf,inf,inf,inf,inf,inf,10280.25,...,0,0,0,0,0,1,0,0,0,0
1,17370.0,0.096500,inf,inf,inf,inf,inf,5.790000e+03,inf,8685.00,...,0,0,0,0,0,0,0,0,1,0
2,69777.0,0.110757,inf,inf,inf,6.977700e+04,inf,1.744425e+04,inf,34888.50,...,0,0,0,1,0,0,0,0,0,0

In [8]:
import numpy as np
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [11]:
null_counts = df.isnull().sum()

In [12]:
null_counts = null_counts[null_counts>0]

In [13]:
print(null_counts[:3])
print('=========')
print(len(null_counts))

AMT_ANNUITY                                         36
AMT_ANNUITY_divide_AMT_GOODS_PRICE                 314
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY    354696
dtype: int64
=========
2549

In [14]:
null_ratios = null_counts / len(df)

In [15]:
null_ratios[:3]

AMT_ANNUITY                                     0.000101
AMT_ANNUITY_divide_AMT_GOODS_PRICE              0.000881
AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY    0.995624
dtype: float64

In [61]:
null_thresh = 0.99

In [62]:
null_cols = null_ratios[null_ratios > null_thresh].index

In [63]:
len(null_cols), null_cols[:3]

(10, Index(['AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_DAY',
        'AMT_ANNUITY_divide_AMT_REQ_CREDIT_BUREAU_HOUR',
        'AMT_CREDIT_divide_AMT_REQ_CREDIT_BUREAU_DAY'],
       dtype='object'))

In [17]:
df.drop(null_cols, axis=1, inplace=True)

print('Columns dropped for being over {}% null:'.format(100*null_thresh))

Columns dropped for being over 20.0% null:

In [9]:
for col in df.columns:
    if df[col].dtype != float:
        if col not in cat_cols:
            print(col, df[col].dtype)
            df[col] = df[col].astype(float)
            print(col, df[col].dtype)
#             print(df[col].value_counts()[:4])
            print('')

DAYS_BIRTH int64
DAYS_BIRTH float64

DAYS_EMPLOYED int64
DAYS_EMPLOYED float64

DAYS_ID_PUBLISH int64
DAYS_ID_PUBLISH float64

MONTHS_BIRTH int64
MONTHS_BIRTH float64

SK_ID_CURR int64
SK_ID_CURR float64

YEARS_BIRTH int64
YEARS_BIRTH float64

In [79]:
tempcols = "CNT_CHILDREN, CODE_GENDER, CONTACT, EMERGENCYSTATE_MODE, FLAG_EMAIL, FLAG_OTHER, FONDKAPREMONT_MODE, HOUR_APPR_PROCESS_START, HOUSETYPE_MODE, LIVE_CITY_NOT_WORK_CITY, LIVE_REGION_NOT_WORK_REGION, NAME_CONTRACT_TYPE, ORGANIZATION_TYPE, REGION_RATING_CLIENT, REGION_RATING_CLIENT_W_CITY, REGION_RATING_CLIENT_W_CITY_times_livingsum_AVG, REGION_RATING_CLIENT_W_CITY_times_livingsum_MEDI, REGION_RATING_CLIENT_W_CITY_times_livingsum_MODE, REGION_RATING_CLIENT_times_livingsum_AVG, REGION_RATING_CLIENT_times_livingsum_MEDI, REGION_RATING_CLIENT_times_livingsum_MODE, REG_CITY_NOT_LIVE_CITY, REG_CITY_NOT_WORK_CITY, REG_REGION_NOT_LIVE_REGION, REG_REGION_NOT_WORK_REGION, WALLSMATERIAL_MODE, WEEKDAY_APPR_PROCESS_START, count_CODE_GENDER_NAME_EDUCATION_TYPE, count_CODE_GENDER_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE, count_CODE_GENDER_NAME_INCOME_TYPE, count_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE, unique_CODE_GENDER_NAME_EDUCATION_TYPE, unique_CODE_GENDER_NAME_INCOME_TYPE, unique_CODE_GENDER_x, unique_CODE_GENDER_y, unique_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE, unique_NAME_EDUCATION_TYPE_x, unique_NAME_EDUCATION_TYPE_y, unique_NAME_INCOME_TYPE_x, unique_NAME_INCOME_TYPE_y"

In [86]:
for col in [x.strip() for x in tempcols.split(',')]:
    print(col, df[col].nunique())

CNT_CHILDREN 16
CODE_GENDER 3
CONTACT 6
EMERGENCYSTATE_MODE 3
FLAG_EMAIL 2
FLAG_OTHER 3
FONDKAPREMONT_MODE 5
HOUR_APPR_PROCESS_START 24
HOUSETYPE_MODE 4
LIVE_CITY_NOT_WORK_CITY 2
LIVE_REGION_NOT_WORK_REGION 2
NAME_CONTRACT_TYPE 2
ORGANIZATION_TYPE 58
REGION_RATING_CLIENT 3
REGION_RATING_CLIENT_W_CITY 4
REGION_RATING_CLIENT_W_CITY_times_livingsum_AVG 3
REGION_RATING_CLIENT_W_CITY_times_livingsum_MEDI 3
REGION_RATING_CLIENT_W_CITY_times_livingsum_MODE 3
REGION_RATING_CLIENT_times_livingsum_AVG 3
REGION_RATING_CLIENT_times_livingsum_MEDI 3
REGION_RATING_CLIENT_times_livingsum_MODE 3
REG_CITY_NOT_LIVE_CITY 2
REG_CITY_NOT_WORK_CITY 2
REG_REGION_NOT_LIVE_REGION 2
REG_REGION_NOT_WORK_REGION 2
WALLSMATERIAL_MODE 8
WEEKDAY_APPR_PROCESS_START 7
count_CODE_GENDER_NAME_EDUCATION_TYPE 12
count_CODE_GENDER_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE 46
count_CODE_GENDER_NAME_INCOME_TYPE 16
count_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE 27
unique_CODE_GENDER_NAME_EDUCATION_TYPE 5
unique_CODE_GENDER_NAME_INCOME_TYPE 4
unique_CODE_GENDER_x 2
unique_CODE_GENDER_y 2
unique_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE 3
unique_NAME_EDUCATION_TYPE_x 2
unique_NAME_EDUCATION_TYPE_y 3
unique_NAME_INCOME_TYPE_x 3
unique_NAME_INCOME_TYPE_y 2

In [91]:
new_cat_cols = [x.strip() for x in tempcols.split(',')]
print(len(new_cat_cols), new_cat_cols)

40 ['CNT_CHILDREN', 'CODE_GENDER', 'CONTACT', 'EMERGENCYSTATE_MODE', 'FLAG_EMAIL', 'FLAG_OTHER', 'FONDKAPREMONT_MODE', 'HOUR_APPR_PROCESS_START', 'HOUSETYPE_MODE', 'LIVE_CITY_NOT_WORK_CITY', 'LIVE_REGION_NOT_WORK_REGION', 'NAME_CONTRACT_TYPE', 'ORGANIZATION_TYPE', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT_W_CITY_times_livingsum_AVG', 'REGION_RATING_CLIENT_W_CITY_times_livingsum_MEDI', 'REGION_RATING_CLIENT_W_CITY_times_livingsum_MODE', 'REGION_RATING_CLIENT_times_livingsum_AVG', 'REGION_RATING_CLIENT_times_livingsum_MEDI', 'REGION_RATING_CLIENT_times_livingsum_MODE', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'WALLSMATERIAL_MODE', 'WEEKDAY_APPR_PROCESS_START', 'count_CODE_GENDER_NAME_EDUCATION_TYPE', 'count_CODE_GENDER_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE', 'count_CODE_GENDER_NAME_INCOME_TYPE', 'count_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE', 'unique_CODE_GENDER_NAME_EDUCATION_TYPE', 'unique_CODE_GENDER_NAME_INCOME_TYPE', 'unique_CODE_GENDER_x', 'unique_CODE_GENDER_y', 'unique_NAME_EDUCATION_TYPE_NAME_INCOME_TYPE', 'unique_NAME_EDUCATION_TYPE_x', 'unique_NAME_EDUCATION_TYPE_y', 'unique_NAME_INCOME_TYPE_x', 'unique_NAME_INCOME_TYPE_y']

In [20]:
df.fillna(-1, inplace=True)

In [21]:
df.shape

(356255, 1589)

In [12]:
numeric_feats = list(set(df.columns.values) - set(cat_cols) - set(['TARGET']))

len(numeric_feats)

2608

In [23]:
# import numpy as np
# cat_feats_idx = np.array([df.columns.get_loc(x) for x in categorical_feats])
# cat_feat_lookup = pd.DataFrame({'feature': categorical_feats, 'column_index': cat_feats_idx})
# cat_feat_lookup.head()

In [24]:
# # int_feats_idx = [df.columns.get_loc(x) for x in numeric_feats]
# numeric_feats_idx = np.array(
#     [df.columns.get_loc(x) 
#      for x in numeric_feats]
# )
# numeric_feat_lookup = pd.DataFrame(
#     {'feature': numeric_feats, 
#      'column_index': numeric_feats_idx}
# )
# numeric_feat_lookup.head()

## try different scaler (like: robust scaler)

In [25]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

## for col in numeric_feats:
    print(col)
    scaler.fit_transform((abs(df2[col])+200).values.reshape(-1,1))

In [26]:
final_col_names = df.columns
# df = df.values

In [27]:
len(final_col_names)

1589

## try different percision, like np.float32

In [28]:
scaler = StandardScaler()
for col in numeric_feats:
    df[col] = scaler.fit_transform(df[col].values.reshape(-1,1))
# df[:, numeric_feats_idx] = scaler.fit_transform(df[:, numeric_feats_idx])

/home/kai/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [29]:
scaler_2 = MinMaxScaler(feature_range=(0, 1))
for col in categorical_feats:
    df[col] = scaler_2.fit_transform(df[col].values.reshape(-1,1))
# df[:, cat_feats_idx] = scaler_2.fit_transform(df[:, cat_feats_idx])

/home/kai/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [30]:
import gc
gc.collect()

0

In [13]:
train = df[:train_len]
test = df[train_len:]

In [14]:
test.drop(['TARGET'], axis=1, inplace=True)

/home/kai/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [15]:
train.shape, test.shape

((307511, 2678), (48744, 2677))

In [16]:
train.to_pickle('data/train_bo2.pkl')
test.to_pickle('data/test_bo2.pkl')