In [1]:
import pandas as pd
from gensim.models.word2vec import Word2Vec
from random import shuffle
import copy

In [3]:
train = pd.read_pickle('data/train_bo2.pkl')
test = pd.read_pickle('data/test_bo2.pkl')
data = pd.concat([train, test], sort=True)

In [4]:
data.shape

(356255, 2678)

In [5]:
features = ["FLAG_OWN_CAR","FLAG_OWN_REALTY","NAME_TYPE_SUITE","NAME_INCOME_TYPE","NAME_EDUCATION_TYPE","NAME_FAMILY_STATUS","NAME_HOUSING_TYPE", "OCCUPATION_TYPE","FLAG_DOCUMENT_2","FLAG_DOCUMENT_3","FLAG_DOCUMENT_4","FLAG_DOCUMENT_5","FLAG_DOCUMENT_6","FLAG_DOCUMENT_7","FLAG_DOCUMENT_8","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10","FLAG_DOCUMENT_11","FLAG_DOCUMENT_12", "FLAG_DOCUMENT_13","FLAG_DOCUMENT_14","FLAG_DOCUMENT_15","FLAG_DOCUMENT_16","FLAG_DOCUMENT_17","FLAG_DOCUMENT_18", "FLAG_DOCUMENT_19","FLAG_DOCUMENT_20","FLAG_DOCUMENT_21", "CAT_MONTHS_BIRTH"]

In [6]:
X_train = train[features]
X_test = test[features]

In [7]:
X_train.shape, X_test.shape

((307511, 29), (48744, 29))

In [19]:
size = 3
window = 8

In [9]:
x_w2v = copy.deepcopy(data[features])

In [10]:
type(x_w2v)

pandas.core.frame.DataFrame

In [11]:
names = list(x_w2v.columns.values)
print(names)

['FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'CAT_MONTHS_BIRTH']

In [12]:
x_w2v.head(2)

,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CAT_MONTHS_BIRTH
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,9
1,0,1,1,1,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,6

In [13]:
for i in names:
    x_w2v[i]=x_w2v[i].astype('category')
    x_w2v[i].cat.categories = ["Feature %s %s" % (i,g) for g in x_w2v[i].cat.categories]

In [14]:
x_w2v.head(2)

,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CAT_MONTHS_BIRTH
0,Feature FLAG_OWN_CAR 0,Feature FLAG_OWN_REALTY 0,Feature NAME_TYPE_SUITE 0,Feature NAME_INCOME_TYPE 0,Feature NAME_EDUCATION_TYPE 0,Feature NAME_FAMILY_STATUS 0,Feature NAME_HOUSING_TYPE 0,Feature OCCUPATION_TYPE 0,Feature FLAG_DOCUMENT_2 0,Feature FLAG_DOCUMENT_3 1,...,Feature FLAG_DOCUMENT_13 0,Feature FLAG_DOCUMENT_14 0,Feature FLAG_DOCUMENT_15 0,Feature FLAG_DOCUMENT_16 0,Feature FLAG_DOCUMENT_17 0,Feature FLAG_DOCUMENT_18 0,Feature FLAG_DOCUMENT_19 0,Feature FLAG_DOCUMENT_20 0,Feature FLAG_DOCUMENT_21 0,Feature CAT_MONTHS_BIRTH 9
1,Feature FLAG_OWN_CAR 0,Feature FLAG_OWN_REALTY 1,Feature NAME_TYPE_SUITE 1,Feature NAME_INCOME_TYPE 1,Feature NAME_EDUCATION_TYPE 1,Feature NAME_FAMILY_STATUS 1,Feature NAME_HOUSING_TYPE 0,Feature OCCUPATION_TYPE 1,Feature FLAG_DOCUMENT_2 0,Feature FLAG_DOCUMENT_3 1,...,Feature FLAG_DOCUMENT_13 0,Feature FLAG_DOCUMENT_14 0,Feature FLAG_DOCUMENT_15 0,Feature FLAG_DOCUMENT_16 0,Feature FLAG_DOCUMENT_17 0,Feature FLAG_DOCUMENT_18 0,Feature FLAG_DOCUMENT_19 0,Feature FLAG_DOCUMENT_20 0,Feature FLAG_DOCUMENT_21 0,Feature CAT_MONTHS_BIRTH 6

In [15]:
x_w2v = x_w2v.values.tolist()

In [16]:
for i in x_w2v:
    shuffle(i)

In [18]:
for col in features:
    print(data[col].nunique())

2
2
8
8
5
6
6
19
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
12

In [20]:
w2v = Word2Vec(x_w2v,size=size,window=window)

In [21]:
X_train_w2v = copy.copy(X_train)
X_test_w2v = copy.copy(X_test)

In [22]:
X_train_w2v.head(2)

,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CAT_MONTHS_BIRTH
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,9
1,0,1,1,1,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,6

In [23]:
for i in names:
    X_train_w2v[i]=X_train_w2v[i].astype('category')
    X_train_w2v[i].cat.categories = ["Feature %s %s" % (i,g) for g in X_train_w2v[i].cat.categories]

In [24]:
X_train_w2v.head(2)

,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,...,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,CAT_MONTHS_BIRTH
0,Feature FLAG_OWN_CAR 0,Feature FLAG_OWN_REALTY 0,Feature NAME_TYPE_SUITE 0,Feature NAME_INCOME_TYPE 0,Feature NAME_EDUCATION_TYPE 0,Feature NAME_FAMILY_STATUS 0,Feature NAME_HOUSING_TYPE 0,Feature OCCUPATION_TYPE 0,Feature FLAG_DOCUMENT_2 0,Feature FLAG_DOCUMENT_3 1,...,Feature FLAG_DOCUMENT_13 0,Feature FLAG_DOCUMENT_14 0,Feature FLAG_DOCUMENT_15 0,Feature FLAG_DOCUMENT_16 0,Feature FLAG_DOCUMENT_17 0,Feature FLAG_DOCUMENT_18 0,Feature FLAG_DOCUMENT_19 0,Feature FLAG_DOCUMENT_20 0,Feature FLAG_DOCUMENT_21 0,Feature CAT_MONTHS_BIRTH 9
1,Feature FLAG_OWN_CAR 0,Feature FLAG_OWN_REALTY 1,Feature NAME_TYPE_SUITE 1,Feature NAME_INCOME_TYPE 1,Feature NAME_EDUCATION_TYPE 1,Feature NAME_FAMILY_STATUS 1,Feature NAME_HOUSING_TYPE 0,Feature OCCUPATION_TYPE 1,Feature FLAG_DOCUMENT_2 0,Feature FLAG_DOCUMENT_3 1,...,Feature FLAG_DOCUMENT_13 0,Feature FLAG_DOCUMENT_14 0,Feature FLAG_DOCUMENT_15 0,Feature FLAG_DOCUMENT_16 0,Feature FLAG_DOCUMENT_17 0,Feature FLAG_DOCUMENT_18 0,Feature FLAG_DOCUMENT_19 0,Feature FLAG_DOCUMENT_20 0,Feature FLAG_DOCUMENT_21 0,Feature CAT_MONTHS_BIRTH 6

In [25]:
for i in names:
    X_test_w2v[i]=X_test_w2v[i].astype('category')
    X_test_w2v[i].cat.categories = ["Feature %s %s" % (i,g) for g in X_test_w2v[i].cat.categories]
X_train_w2v = X_train_w2v.values
X_test_w2v = X_test_w2v.values

In [26]:
x_w2v_train = np.random.random((len(X_train_w2v),size*X_train_w2v.shape[1]))
x_w2v_train.shape

(307511, 87)

In [27]:
for j in range(X_train_w2v.shape[1]):
    for i in range(X_train_w2v.shape[0]):
        if X_train_w2v[i,j] in w2v.wv:
            x_w2v_train[i,j*size:(j+1)*size] = w2v.wv[X_train_w2v[i,j]]

In [28]:
x_w2v_test = np.random.random((len(X_test_w2v),size*X_test_w2v.shape[1]))
print(x_w2v_test.shape)
for j in range(X_test_w2v.shape[1]):
    for i in range(X_test_w2v.shape[0]):
        if X_test_w2v[i,j] in w2v.wv:
            x_w2v_test[i,j*size:(j+1)*size] = w2v.wv[X_test_w2v[i,j]]

(48744, 87)

In [30]:
test_cat_feats_embedded = pd.DataFrame(x_w2v_test)

In [32]:
test_cat_feats_embedded.head(2)

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
0,3.010874,-3.322929,3.608738,3.128061,-3.251972,3.677889,3.069346,-3.299047,3.631958,3.634511,...,3.544835,2.950006,-3.152953,3.521786,3.006759,-3.202681,3.564108,-4.546351,25.917768,-9.788048
1,3.010874,-3.322929,3.608738,3.128061,-3.251972,3.677889,3.069346,-3.299047,3.631958,3.634511,...,3.544835,2.950006,-3.152953,3.521786,3.006759,-3.202681,3.564108,-4.615805,26.050148,-9.887567

In [33]:
test_cat_feats_embedded.shape

(48744, 87)

In [34]:
train_cat_feats_embedded = pd.DataFrame(x_w2v_train)

In [35]:
train_cat_feats_embedded.shape

(307511, 87)

In [39]:
print(train.shape)
train.drop(features, axis=1, inplace=True)
print(train.shape)

(307511, 2678)
(307511, 2649)

In [43]:
train = pd.concat([train, train_cat_feats_embedded], axis=1)
train.shape

(307511, 2736)

In [40]:
print(test.shape)
test.drop(features, axis=1, inplace=True)
print(test.shape)

(48744, 2677)
(48744, 2648)

In [42]:
test = pd.concat([test, test_cat_feats_embedded], axis=1)
test.shape

(48744, 2735)

In [46]:
train.to_pickle('train_bo2_w2v.pkl')

In [44]:
test.to_pickle('test_bo2_w2v.pkl')