In [1]:
# Further data analysis
import pandas as pd

PATH = '/home/kai/data/kaggle/homecredit/'

In [2]:
import pandas as pd
import numpy as np

PATH = '/home/kai/data/kaggle/homecredit/'
# train = pd.read_csv(PATH + 'application_train.csv')
# print('train')
# test = pd.read_csv(PATH + 'application_test.csv')
# print('test')
bureau = pd.read_csv(PATH + 'bureau.csv')
print('bureau')
# previous_application = pd.read_csv(PATH + 'previous_application.csv')
# print('previous')
# bureau_balance = pd.read_csv(PATH + 'bureau_balance.csv')
# print('bureau_balance')
# installments_payments = pd.read_csv(PATH + 'installments_payments.csv')
# print('installments_payments done')
# credit_card_balance = pd.read_csv(PATH + 'credit_card_balance.csv')
# # print('credit_card_balance')
# POS_CASH_balance = pd.read_csv(PATH + 'POS_CASH_balance.csv')
# print('POS_CASH_balance')
# credit_card_balance = pd.read_csv(PATH + 'credit_card_balance.csv')
# print('credit_card_balance')
# previous_application = pd.read_csv(PATH + 'previous_application.csv')
# print('previous_application')

bureau

In [3]:
train = pd.read_pickle(PATH+'inter/train_only_0.pkl')
train_target = train[['TARGET','SK_ID_CURR']]
print(train_target.shape)

(307511, 2)

In [5]:
df = pd.read_pickle(PATH+'inter/06_27_bureau2curr.pkl')
df = df.merge(train_target, on = 'SK_ID_CURR', how = 'left' )
print(df.shape)

(356255, 348)

In [7]:
train = pd.read_pickle(PATH+'inter/train_only_0.pkl')
train_target = train[['TARGET','SK_ID_CURR']]
print(train_target.shape)
bureau = bureau.merge(train_target, on = 'SK_ID_CURR', how = 'left')

In [8]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,TARGET
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,0.0
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,0.0
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,0.0
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,0.0
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,0.0

In [9]:
bureau.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY', 'TARGET'],
      dtype='object')

In [12]:
bureau_1 = bureau[bureau['TARGET'] == 1]
bureau_0 = bureau[bureau['TARGET'] == 0]

x = set(bureau['CREDIT_ACTIVE'])
x = set(bureau['CREDIT_TYPE'])
for i in x:
    print(i, (bureau_1['CREDIT_TYPE'] == i).sum()/len(bureau_1) )
    print(i, (bureau_0['CREDIT_TYPE'] == i).sum()/len(bureau_0) )

Consumer credit 0.6989696122947957
Consumer credit 0.7325735394820125
Cash loan (non-earmarked) 8.732099196646874e-06
Cash loan (non-earmarked) 1.6286584666180538e-05
Loan for purchase of shares (margin lending) 0.0
Loan for purchase of shares (margin lending) 2.961197212032825e-06
Another type of loan 0.0005326580509954594
Another type of loan 0.0005870573472855075
Real estate loan 0.0
Real estate loan 1.7026883969188744e-05
Unknown type of loan 0.00025323087670275934
Unknown type of loan 0.00032795259123263534
Credit card 0.2642507858889277
Credit card 0.2321511987296464
Car loan 0.011561299336360461
Car loan 0.01660713426438309
Interbank credit 0.0
Interbank credit 7.402993030082062e-07
Loan for business development 0.0009256025148445686
Loan for business development 0.001195583374358253
Mortgage 0.006811037373384562
Mortgage 0.010976417765702674
Loan for working capital replenishment 0.00041914076143904997
Loan for working capital replenishment 0.00024355847068969984
Mobile operator loan 0.0
Mobile operator loan 7.402993030082062e-07
Loan for the purchase of equipment 3.4928396786587495e-05
Loan for the purchase of equipment 9.623890939106681e-06
Microloan 0.01623297240656654
Microloan 0.005290178819296641

# Corr

In [4]:
train = pd.read_pickle(PATH+'inter/train_only_0.pkl')
train_target = train[['TARGET','SK_ID_CURR']]
print(train_target.shape)
bureau = bureau.merge(train_target, on = 'SK_ID_CURR', how = 'left')
bureau_1 = bureau[bureau['TARGET'] == 1]

(307511, 2)

In [5]:

bureau_1 = bureau[bureau['TARGET'] == 1]
print(bureau_1.shape)

# bureau.shape
# slightly drop of pct of closed
closed_1 = (bureau_1['CREDIT_ACTIVE'] == 'Closed')
active_1 = (bureau_1['CREDIT_ACTIVE'] == 'Active')
print(closed_1.sum()/active_1.sum())

(114520, 18)
1.2636880165289257

In [25]:
bureau_closed_1 = bureau.loc[active]
bureau_opened_1 = bureau.loc[closed]

In [6]:

bureau_0 = bureau[bureau['TARGET'] == 0]
print(bureau_0.shape)

# bureau.shape
# slightly drop of pct of closed
closed_0 = (bureau_0['CREDIT_ACTIVE'] == 'Closed')
active_0 = (bureau_0['CREDIT_ACTIVE'] == 'Active')
print(closed_0.sum()/active_0.sum())

(1350805, 18)
1.7374970249174606