In [1]:
import pandas as pd
import numpy as np

PATH = '/home/kai/data/kaggle/homecredit/'
inst0 = pd.read_csv(PATH + 'installments_payments.csv')
print('done')
train = pd.read_csv(PATH + 'application_train.csv')
test = pd.read_csv(PATH + 'application_test.csv')

df = pd.concat([train[['SK_ID_CURR', 'TARGET']], test[['SK_ID_CURR']]])
inst0.shape, df.shape

done

/home/kai/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  # Remove the CWD from sys.path while we load stuff.

((13605401, 8), (356255, 2))

In [2]:
inst0.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [3]:
inst = inst0.fillna(0)
inst.dtypes

SK_ID_PREV                  int64
SK_ID_CURR                  int64
NUM_INSTALMENT_VERSION    float64
NUM_INSTALMENT_NUMBER       int64
DAYS_INSTALMENT           float64
DAYS_ENTRY_PAYMENT        float64
AMT_INSTALMENT            float64
AMT_PAYMENT               float64
dtype: object

In [4]:
inst.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [5]:
def minus_name(col1, col2): return col1 + '_minus_' + col2
def minus(df, col1, col2): return df[col1] - df[col2]

name1 = minus_name('DAYS_ENTRY_PAYMENT', 'DAYS_INSTALMENT')
inst[name1] = minus(inst, 'DAYS_ENTRY_PAYMENT', 'DAYS_INSTALMENT')
inst.at[inst[name1] < 0, name1] = 0
name2 = minus_name('AMT_INSTALMENT', 'AMT_PAYMENT')
inst[name2] = minus(inst, 'AMT_INSTALMENT', 'AMT_PAYMENT')
inst.at[inst[name2] < 0, name2] = 0

inst.groupby(['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER']).size().reset_index().sort_values(0, ascending=False)

          SK_ID_PREV  NUM_INSTALMENT_NUMBER   0
12423767     2778637                    101  12
10045364     2426357                     15  10
8838686      2248580                    101   9
2079363      1282551                      8   8
11626945     2660511                      6   8
11044986     2574276                     10   8
3462297      1463960                    101   8
4953514      1676214                      9   8
1789468      1240132                    101   8
253706       1030631                    101   8
1770933      1238449                     10   8
10836139     2543281                     14   8
1780379      1239348                     23   8
5429590      1745680                    102   7
6327153      1879746                     57   7
10664064     2518644                    101   7
9058013      2280634                    101   7
4111396      1556334                    102   7
1755650      1237091                    101   7
805179       1105785                    101   7
9871819      2403622                     18   6
7910294      2113541                    102   6
3388944      1455209                     10   6
6196539      1861225                      5   6
11599255     2657947                     85   6
8216973      2159338                      2   6
6091662      1845563                    102   6
4028213      1543887                     18   6
6327147      1879746                     51   6
4614625      1625131                      6   6
...              ...                    ...  ..
4412214      1596055                      6   1
4412215      1596055                      7   1
4412216      1596055                      8   1
4412217      1596055                      9   1
4412218      1596055                     10   1
4412219      1596055                     11   1
4412199      1596051                      9   1
4412198      1596051                      8   1
4412197      1596051                      7   1
4412196      1596051                      6   1
4412177      1596050                     39   1
4412178      1596050                     40   1
4412179      1596050                     41   1
4412180      1596050                     42   1
4412181      1596050                     43   1
4412182      1596050                     44   1
4412183      1596050                     45   1
4412184      1596050                     46   1
4412185      1596050                     47   1
4412186      1596050                     48   1
4412187      1596050                     49   1
4412188      1596050                     50   1
4412189      1596050                     51   1
4412190      1596050                     52   1
4412191      1596051                      1   1
4412192      1596051                      2   1
4412193      1596051                      3   1
4412194      1596051                      4   1
4412195      1596051                      5   1
12861993     2843499                     10   1

[12861994 rows x 3 columns]

In [6]:
cols = [x for x in inst.columns if x not in ['SK_ID_CURR']]

inst[cols][(inst['SK_ID_PREV']==2778637) & (inst['NUM_INSTALMENT_NUMBER']==101)].sort_values(['NUM_INSTALMENT_NUMBER', 'NUM_INSTALMENT_VERSION', 'DAYS_INSTALMENT'], ascending=False)

,SK_ID_PREV,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT,DAYS_ENTRY_PAYMENT_minus_DAYS_INSTALMENT,AMT_INSTALMENT_minus_AMT_PAYMENT
7900417,2778637,2.0,101,-863.0,-798.0,1350.0,29.520,65.0,1320.480
7966679,2778637,2.0,101,-863.0,-646.0,1350.0,29.520,217.0,1320.480
8073864,2778637,2.0,101,-863.0,-860.0,1350.0,63.225,3.0,1286.775
8131768,2778637,2.0,101,-863.0,-830.0,1350.0,2.520,33.0,1347.480
8779782,2778637,2.0,101,-863.0,-615.0,1350.0,254.520,248.0,1095.480
8863597,2778637,2.0,101,-863.0,-744.0,1350.0,29.520,119.0,1320.480
9056568,2778637,2.0,101,-863.0,-583.0,1350.0,254.520,280.0,1095.480
9896226,2778637,2.0,101,-863.0,-769.0,1350.0,29.520,94.0,1320.480
10185185,2778637,2.0,101,-863.0,-553.0,1350.0,254.520,310.0,1095.480
10251614,2778637,2.0,101,-863.0,-527.0,1350.0,343.575,336.0,1006.425
10273931,2778637,2.0,101,-863.0,-674.0,1350.0,29.520,189.0,1320.480
10667200,2778637,2.0,101,-863.0,-706.0,1350.0,29.520,157.0,1320.480

In [7]:
a = inst.groupby(['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER'])[['NUM_INSTALMENT_VERSION']].nunique().reset_index()
a = a[a['NUM_INSTALMENT_VERSION'] > 1]

In [8]:
b = a[a['NUM_INSTALMENT_VERSION'] == 2]

# data clean

In [24]:
inst = inst.groupby(['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER', 'NUM_INSTALMENT_VERSION']).agg({'AMT_INSTALMENT': 'max', 'DAYS_ENTRY_PAYMENT': 'max', 'AMT_PAYMENT': 'sum', 'DAYS_INSTALMENT': 'max', 'SK_ID_CURR': 'max'}).reset_index()

inst = inst.groupby(['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT']).agg({'AMT_PAYMENT': 'max', 'AMT_INSTALMENT': 'sum', 'DAYS_ENTRY_PAYMENT': 'max', 'SK_ID_CURR': 'max'}).reset_index()

inst.dtypes

SK_ID_PREV                 int64
NUM_INSTALMENT_NUMBER      int64
DAYS_INSTALMENT          float64
AMT_PAYMENT              float64
AMT_INSTALMENT           float64
DAYS_ENTRY_PAYMENT       float64
SK_ID_CURR                 int64
dtype: object

In [25]:
# early is <0, on time =0, late >0
inst['LATE_DAYS'] = inst['DAYS_ENTRY_PAYMENT'] - inst['DAYS_INSTALMENT']
inst['LATE_DAYS_SIGN'] = (np.sign(inst['LATE_DAYS']) > 0) * inst['LATE_DAYS']
inst.dtypes

SK_ID_PREV                 int64
NUM_INSTALMENT_NUMBER      int64
DAYS_INSTALMENT          float64
AMT_PAYMENT              float64
AMT_INSTALMENT           float64
DAYS_ENTRY_PAYMENT       float64
SK_ID_CURR                 int64
LATE_DAYS                float64
LATE_DAYS_SIGN           float64
dtype: object

In [26]:
payment_series = inst.groupby(['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER', 'LATE_DAYS_SIGN']).agg({'AMT_PAYMENT': 'sum', 'DAYS_ENTRY_PAYMENT': 'max', 'AMT_INSTALMENT': 'max', 'DAYS_INSTALMENT': 'max', 'SK_ID_CURR': 'max'}).reset_index()
payment_series['AMT_CUM_PAYMENT'] = payment_series.groupby(['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER'])[['AMT_PAYMENT']].cumsum()
payment_series['AMT_LATE_PAYMENT'] = payment_series['AMT_INSTALMENT'] - payment_series['AMT_CUM_PAYMENT']
payment_series['RATE_LATE_PAYMENT'] = payment_series['AMT_LATE_PAYMENT'] / (payment_series['AMT_CUM_PAYMENT']+1)
payment_series['DAYS_ENTRY_PAYMENT'] = payment_series[['DAYS_ENTRY_PAYMENT', 'DAYS_INSTALMENT']].max(axis=1)
payment_series.sort_values('DAYS_ENTRY_PAYMENT', ascending=False)
payment_series.dtypes

SK_ID_PREV                 int64
NUM_INSTALMENT_NUMBER      int64
LATE_DAYS_SIGN           float64
AMT_PAYMENT              float64
DAYS_ENTRY_PAYMENT       float64
AMT_INSTALMENT           float64
DAYS_INSTALMENT          float64
SK_ID_CURR                 int64
AMT_CUM_PAYMENT          float64
AMT_LATE_PAYMENT         float64
RATE_LATE_PAYMENT        float64
dtype: object

In [27]:
def linear(df, gp_col, x_col_name, y_col_name):
    r = []
    for i, x in df.groupby(gp_col):
        lg = LinearRegression()
        lg1 = LinearRegression()
        
        lg.fit(x[[x_col_name]], x[[y_col_name]])
        x_max = max(x[x_col_name])
        x_min = min(x[x_col_name])
        lg1.fit((x[[x_col_name]]-x_max)/(x_max-x_min+1), x[[y_col_name]])
        r.append([i, lg.coef_[0][0], lg1.coef_[0][0]])
    tmpdf = pd.DataFrame(r, columns=[gp_col, x_col_name+'_lg_'+y_col_name, x_col_name+'_normallg_'+y_col_name])
    return tmpdf.astype({gp_col: df[gp_col].dtype})

def score_under_curve(df, gp_col, x, y):
    gp = df.copy()
    gp_max = gp.groupby(gp_col)[[x]].max().reset_index().rename(columns={x:'max'})
    gp_min = gp.groupby(gp_col)[[x]].min().reset_index().rename(columns={x:'min'})
    gp = gp.merge(gp_max)
    gp = gp.merge(gp_min)
    gp['normal_x'] = (gp[x]-gp['max']) / (gp['max']-gp['min']+1)
    
    group = gp.groupby(gp_col)
    gp['tmp'] = (group[y].shift(-1)+gp[y]) * (group[x].shift(-1)-gp[x]) / 2
    gp['tmp_normal'] = (group[y].shift(-1)+gp[y]) * (group['normal_x'].shift(-1)-gp['normal_x']) / 2
    return gp.groupby(gp_col).agg({'tmp':'sum', 'tmp_normal':'sum'}).reset_index().rename(columns={'tmp':x+'_area_'+y, 'tmp_normal':x+'_normalarea_'+y})

In [32]:
merge_col = ['SK_ID_PREV', 'NUM_INSTALMENT_NUMBER']
# prev = pd.DataFrame(inst[merge_col].unique(), columns=[merge_col])
prev = inst[merge_col].groupby(merge_col).size().reset_index()[merge_col]

In [34]:
for x in ['AMT_LATE_PAYMENT', 'RATE_LATE_PAYMENT']:
    print(x)
    prev = prev.merge(score_under_curve(payment_series, merge_col, 'DAYS_INSTALMENT', x), on=merge_col, how='left')
    print(prev.shape)

AMT_LATE_PAYMENT
(12861994, 4)
RATE_LATE_PAYMENT
(12861994, 6)

In [35]:
prev.head()

,SK_ID_PREV,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT_area_AMT_LATE_PAYMENT,DAYS_INSTALMENT_normalarea_AMT_LATE_PAYMENT,DAYS_INSTALMENT_area_RATE_LATE_PAYMENT,DAYS_INSTALMENT_normalarea_RATE_LATE_PAYMENT
0,1000001,1,0.0,0.0,0.0,0.0
1,1000001,2,0.0,0.0,0.0,0.0
2,1000002,1,0.0,0.0,0.0,0.0
3,1000002,2,0.0,0.0,0.0,0.0
4,1000002,3,0.0,0.0,0.0,0.0

In [36]:
prev[prev['DAYS_INSTALMENT_normalarea_AMT_LATE_PAYMENT']>0]

,SK_ID_PREV,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT_area_AMT_LATE_PAYMENT,DAYS_INSTALMENT_normalarea_AMT_LATE_PAYMENT,DAYS_INSTALMENT_area_RATE_LATE_PAYMENT,DAYS_INSTALMENT_normalarea_RATE_LATE_PAYMENT
6926995,1969584,1,361.485,180.7425,0.008033,0.004016

In [39]:
g = payment_series.groupby(merge_col).size().reset_index()
g

          SK_ID_PREV  NUM_INSTALMENT_NUMBER  0
0            1000001                      1  1
1            1000001                      2  1
2            1000002                      1  1
3            1000002                      2  1
4            1000002                      3  1
5            1000002                      4  1
6            1000003                      1  1
7            1000003                      2  1
8            1000003                      3  1
9            1000004                      1  1
10           1000004                      2  1
11           1000004                      3  1
12           1000004                      4  1
13           1000004                      5  1
14           1000004                      6  1
15           1000004                      7  1
16           1000005                      1  1
17           1000005                      2  1
18           1000005                      3  1
19           1000005                      4  1
20           1000005                      5  1
21           1000005                      6  1
22           1000005                      7  1
23           1000005                      8  1
24           1000005                      9  1
25           1000005                     10  1
26           1000007                      1  1
27           1000007                      2  1
28           1000007                      3  1
29           1000007                      4  1
...              ...                    ... ..
12861964     2843497                      7  1
12861965     2843497                      8  1
12861966     2843497                      9  1
12861967     2843497                     10  1
12861968     2843497                     11  1
12861969     2843497                     12  1
12861970     2843497                     13  1
12861971     2843497                     14  1
12861972     2843497                     15  1
12861973     2843497                     16  1
12861974     2843497                     17  1
12861975     2843497                     18  1
12861976     2843497                     19  1
12861977     2843497                     20  1
12861978     2843498                      1  1
12861979     2843498                      2  1
12861980     2843498                      3  1
12861981     2843498                      4  1
12861982     2843498                      5  1
12861983     2843498                      6  1
12861984     2843499                      1  1
12861985     2843499                      2  1
12861986     2843499                      3  1
12861987     2843499                      4  1
12861988     2843499                      5  1
12861989     2843499                      6  1
12861990     2843499                      7  1
12861991     2843499                      8  1
12861992     2843499                      9  1
12861993     2843499                     10  1

[12861994 rows x 3 columns]

In [41]:
g[g[0]==2]

          SK_ID_PREV  NUM_INSTALMENT_NUMBER  0
20243        1001784                      1  2
44383        1004144                      1  2
368276       1049831                      1  2
387541       1051550                      1  2
460580       1057937                      1  2
686117       1087181                      1  2
714505       1092418                      1  2
729845       1097911                      1  2
852436       1110271                      1  2
914949       1122469                      1  2
1012353      1133646                      1  2
1038524      1136081                      1  2
1095212      1150254                      1  2
1129802      1153115                      1  2
1344600      1183972                      1  2
1372570      1185983                      1  2
1483149      1202619                      1  2
1513251      1207251                      1  2
1572519      1212454                      1  2
1627514      1219867                      1  2
1712165      1233186                      1  2
1941977      1262066                      1  2
1947720      1262625                      1  2
2044751      1277527                      1  2
2047043      1277738                      1  2
2102394      1284684                      1  2
2183782      1293196                      1  2
2262942      1306764                      1  2
2711246      1367123                      1  2
2724975      1368326                      1  2
...              ...                    ... ..
8381486      2183783                      1  2
8620951      2221199                      1  2
8742853      2239523                      1  2
9116049      2288311                      1  2
9128937      2290883                      1  2
9331972      2320121                      1  2
9434273      2335797                      1  2
10107768     2436256                      1  2
10297024     2463912                      1  2
10539368     2500062                      1  2
10559100     2504306                      1  2
10615940     2510059                      1  2
10623639     2511380                      1  2
10747754     2532232                      1  2
10864348     2552535                      1  2
10928410     2560476                      1  2
11035347     2572693                      1  2
11059170     2575872                      1  2
11116667     2584074                      1  2
11613552     2659225                      1  2
11645199     2662334                      1  2
11645228     2662340                      1  2
11679301     2668723                      1  2
11715963     2673077                      1  2
11733768     2674622                      1  2
11992104     2715495                      1  2
12162927     2741657                      1  2
12284696     2761232                      1  2
12355386     2769908                      1  2
12729643     2824128                      1  2

[109 rows x 3 columns]

In [48]:
# b = payment_series[payment_series['LATE_DAYS_SIGN'] > 0]
# a = b[b['SK_ID_PREV'] == 2662340]
a = payment_series[payment_series['SK_ID_PREV'] == 2662340]
a[a['NUM_INSTALMENT_NUMBER'] == 1]

,SK_ID_PREV,NUM_INSTALMENT_NUMBER,LATE_DAYS_SIGN,AMT_PAYMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,DAYS_INSTALMENT,SK_ID_CURR,AMT_CUM_PAYMENT,AMT_LATE_PAYMENT,RATE_LATE_PAYMENT
11645328,2662340,1,-0.0,45000.000,-88.0,45000.000,-88.0,342788,45000.000,0.0,0.000000
11645329,2662340,1,4.0,24346.125,-73.0,24346.125,-77.0,342788,69346.125,-45000.0,-0.648909